{
  "openapi": "3.1.0",
  "x-mcp": {
    "enabled": true
  },
  "info": {
    "title": "DeFiTuna Blinks",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://defituna.dial.to/api"
    }
  ],
  "paths": {
    "/v0/lend/{poolToken}/deposit": {
      "get": {
        "operationId": "v0.getLendDepositBlink",
        "summary": "Lend Deposit",
        "description": "Get metadata for depositing a token into DeFiTuna.",
        "tags": [
          "Lend"
        ],
        "parameters": [
          {
            "name": "poolToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "x-example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "x-default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.lendDeposit",
        "summary": "Lend Deposit",
        "description": "Generate a transaction for depositing a token into DeFiTuna.",
        "tags": [
          "Lend"
        ],
        "parameters": [
          {
            "name": "poolToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "x-example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "x-default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          },
          {
            "name": "percentage",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "The percentage of funds to use",
              "default": 10,
              "example": 10
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount to use. Human readable value, e.g. 0.1 SOL"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction",
                    "example": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/lend/{poolToken}/withdraw": {
      "get": {
        "operationId": "v0.getLendWithdrawBlink",
        "summary": "Lend Withdraw",
        "description": "Get metadata for withdrawing a token from DeFiTuna.",
        "tags": [
          "Lend"
        ],
        "parameters": [
          {
            "name": "poolToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "x-example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "x-default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.lendWithdraw",
        "summary": "Lend Withdraw",
        "description": "Generate a transaction for withdrawing a token from DeFiTuna.",
        "tags": [
          "Lend"
        ],
        "parameters": [
          {
            "name": "poolToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "x-example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "x-default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          },
          {
            "name": "percentage",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "The percentage of funds to use",
              "default": 10,
              "example": 10
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount to use. Human readable value, e.g. 0.1 SOL"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction",
                    "example": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
