{
  "openapi": "3.1.1",
  "x-mcp": {
    "enabled": true
  },
  "info": {
    "title": "Drift Blinks API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://drift.dial.to/api"
    }
  ],
  "paths": {
    "/v0/vaults/strategy-vaults/{vaultId}/deposit": {
      "get": {
        "operationId": "v0.vaults.getDepositStrategyVaultBlink",
        "summary": "Strategy Vault Deposit",
        "description": "Get metadata for depositing a token into Drift's strategy vault.",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the strategy vault",
              "default": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp",
              "example": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp"
            },
            "example": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp",
            "x-default": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.vaults.depositStrategyVault",
        "summary": "Strategy Vault Deposit",
        "description": "Generate a transaction for depositing a token into Drift's strategy vault.",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the strategy vault",
              "default": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp",
              "example": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp"
            },
            "example": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp",
            "x-default": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp"
          },
          {
            "name": "percentage",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of funds to use",
              "default": 10,
              "example": 10
            }
          },
          {
            "name": "amount",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount to use. Human readable value, e.g. 0.1 SOL"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction",
                    "example": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/vaults/strategy-vaults/{vaultId}/request-withdraw": {
      "get": {
        "operationId": "v0.vaults.getRequestWithdrawStrategyVaultBlink",
        "summary": "Strategy Vault Request Withdraw",
        "description": "Get metadata for requesting a token withdraw from Drift's strategy vault.",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the strategy vault",
              "default": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp",
              "example": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp"
            },
            "example": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp",
            "x-default": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.vaults.requestWithdrawStrategyVault",
        "summary": "Strategy Vault Request Withdraw",
        "description": "Generate a transaction for requesting a token withdraw from Drift's strategy vault.",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the strategy vault",
              "default": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp",
              "example": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp"
            },
            "example": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp",
            "x-default": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp"
          },
          {
            "name": "percentage",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of funds to use",
              "default": 10,
              "example": 10
            }
          },
          {
            "name": "amount",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount to use. Human readable value, e.g. 0.1 SOL"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction",
                    "example": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/vaults/strategy-vaults/{vaultId}/withdraw": {
      "get": {
        "operationId": "v0.vaults.getWithdrawStrategyVaultBlink",
        "summary": "Strategy Vault Withdraw",
        "description": "Get metadata for withdrawing a token from Drift's strategy vault.",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the strategy vault",
              "default": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp",
              "example": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp"
            },
            "example": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp",
            "x-default": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.vaults.withdrawStrategyVault",
        "summary": "Strategy Vault Withdraw",
        "description": "Generate a transaction for withdrawing a token from Drift's strategy vault.",
        "tags": [
          "Vaults"
        ],
        "parameters": [
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the strategy vault",
              "default": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp",
              "example": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp"
            },
            "example": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp",
            "x-default": "6L2VV9ngPXfg9aXLuVTGdvYmekkPhWDaEZ3BGB6nfLKp"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction",
                    "example": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}