{
  "openapi": "3.1.1",
  "x-mcp": {
    "enabled": true
  },
  "info": {
    "title": "Jupiter Blinks API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://jupiter.dial.to"
    }
  ],
  "paths": {
    "/api/v0/swap/{tokenPair}": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "icon": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "disabled": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "transaction"
                              },
                              "label": {
                                "type": "string"
                              },
                              "href": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "label",
                              "href"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "icon",
                    "label",
                    "title",
                    "description"
                  ]
                }
              }
            },
            "description": "Successful response with swap action details"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Token metadata not found"
          }
        },
        "operationId": "getApiV0SwapByTokenPair",
        "tags": [
          "Swap"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "tokenPair",
            "schema": {
              "type": "string",
              "example": "SOL-Bonk",
              "default": "SOL-Bonk",
              "description": "Token pair in format input-output. Input and output are token symbols or addresses."
            },
            "required": true
          }
        ],
        "summary": "Swap Token",
        "description": "Get metadata for swapping one token to another with Jupiter."
      }
    },
    "/api/v0/swap/{tokenPair}/{amount}": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "icon": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "disabled": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "transaction"
                              },
                              "label": {
                                "type": "string"
                              },
                              "href": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "label",
                              "href"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "icon",
                    "label",
                    "title",
                    "description"
                  ]
                }
              }
            },
            "description": "Successful response with fixed amount swap action details"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Token metadata not found"
          }
        },
        "operationId": "getApiV0SwapByTokenPairByAmount",
        "tags": [
          "Swap"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "tokenPair",
            "schema": {
              "type": "string",
              "example": "SOL-Bonk",
              "default": "SOL-Bonk",
              "description": "Token pair in format input-output. Input and output are token symbols or addresses."
            },
            "required": true
          },
          {
            "in": "path",
            "name": "amount",
            "schema": {
              "type": "number",
              "minimum": 0,
              "example": 0.01,
              "default": 0.01,
              "description": "Amount of the input token to swap. If the input token is SOL, this is in SOL, otherwise, this is in USD equivalent of input."
            },
            "required": true
          }
        ],
        "summary": "Swap Token Amount",
        "description": "Get metadata for swapping a specific amount of token to another with Jupiter."
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string",
                      "description": "Base64 encoded serialized transaction"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            },
            "description": "Successful swap transaction"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Token metadata not found or validation error"
          }
        },
        "operationId": "postApiV0SwapByTokenPairByAmount",
        "tags": [
          "Swap"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "tokenPair",
            "schema": {
              "type": "string",
              "example": "SOL-Bonk",
              "default": "SOL-Bonk",
              "description": "Token pair in format input-output. Input and output are token symbols or addresses."
            },
            "required": true
          },
          {
            "in": "path",
            "name": "amount",
            "schema": {
              "type": "number",
              "minimum": 0,
              "example": 0.01,
              "default": 0.01,
              "description": "Amount of the input token to swap. If the input token is SOL, this is in SOL, otherwise, this is in USD equivalent of input."
            },
            "required": true
          }
        ],
        "summary": "Swap Token Amount",
        "description": "Generate a transaction for swapping a specific amount of a token to another with Jupiter.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "account"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v0/lend/earn/{vaultToken}/deposit": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "icon": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "disabled": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "transaction"
                              },
                              "label": {
                                "type": "string"
                              },
                              "href": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "label",
                              "href"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "icon",
                    "label",
                    "title",
                    "description"
                  ]
                }
              }
            },
            "description": "Successful response with lend action details"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Token validation error"
          }
        },
        "operationId": "getApiV0LendEarnByVaultTokenDeposit",
        "tags": [
          "Lend Earn"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultToken",
            "schema": {
              "type": "string",
              "example": "USDC",
              "default": "USDC",
              "description": "Token symbol or address. Can be a token symbol like USDC or an address."
            },
            "required": true
          }
        ],
        "summary": "Deposit",
        "description": "Get available deposit actions for a token"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string",
                      "description": "Base64 encoded serialized transaction"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            },
            "description": "Successful lend transaction"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Bad request, e.g. no amount and percentage provided"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Token validation error or parameter validation error"
          }
        },
        "operationId": "postApiV0LendEarnByVaultTokenDeposit",
        "tags": [
          "Lend Earn"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultToken",
            "schema": {
              "type": "string",
              "example": "USDC",
              "default": "USDC",
              "description": "Token symbol or address. Can be a token symbol like USDC or an address."
            },
            "required": true
          },
          {
            "in": "query",
            "name": "amount",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "Amount to deposit or withdraw."
            }
          },
          {
            "in": "query",
            "name": "percentage",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "example": 10,
              "default": 10,
              "description": "Percentage to deposit or withdraw (0-100).  Takes priority over `amount`."
            }
          }
        ],
        "summary": "Deposit",
        "description": "Execute a deposit transaction for the specified token and amount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "account"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v0/lend/earn/{vaultToken}/withdraw": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "icon": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "disabled": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "transaction"
                              },
                              "label": {
                                "type": "string"
                              },
                              "href": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "label",
                              "href"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "icon",
                    "label",
                    "title",
                    "description"
                  ]
                }
              }
            },
            "description": "Successful response with lend action details"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Token validation error"
          }
        },
        "operationId": "getApiV0LendEarnByVaultTokenWithdraw",
        "tags": [
          "Lend Earn"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultToken",
            "schema": {
              "type": "string",
              "example": "USDC",
              "default": "USDC",
              "description": "Token symbol or address. Can be a token symbol like USDC or an address."
            },
            "required": true
          }
        ],
        "summary": "Withdraw",
        "description": "Get available withdraw actions for a token"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string",
                      "description": "Base64 encoded serialized transaction"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            },
            "description": "Successful lend transaction"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Bad request, e.g. no amount and percentage provided"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Token validation error or parameter validation error"
          }
        },
        "operationId": "postApiV0LendEarnByVaultTokenWithdraw",
        "tags": [
          "Lend Earn"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultToken",
            "schema": {
              "type": "string",
              "example": "USDC",
              "default": "USDC",
              "description": "Token symbol or address. Can be a token symbol like USDC or an address."
            },
            "required": true
          },
          {
            "in": "query",
            "name": "amount",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "Amount to deposit or withdraw."
            }
          },
          {
            "in": "query",
            "name": "percentage",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "example": 10,
              "default": 10,
              "description": "Percentage to deposit or withdraw (0-100).  Takes priority over `amount`."
            }
          }
        ],
        "summary": "Withdraw",
        "description": "Execute withdraw transaction for the specified token and amount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "account"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v0/lend/borrow/{vaultId}/deposit": {
      "get": {
        "x-mint": {
          "content": "## Position Management\n\n<Note>\n**Important:** This endpoint behaves differently based on the position ID parameter:\n- **With Position ID:** Deposits into the specified existing position\n- **Without Position ID:** Creates a new position (does NOT auto-reuse empty positions like Jupiter's frontend)\n\nTo use an existing position, first fetch the user's positions and provide the position ID. To create a new position, simply leave the position ID parameter empty.\n</Note>\n\n<Warning>\nThis is for Jupiter **Borrow** (collateralized lending positions). For non-collateralized lending, use the [Jupiter Earn endpoints](/api-reference/lend/earn-deposit).\n</Warning>"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "icon": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "disabled": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "transaction"
                              },
                              "label": {
                                "type": "string"
                              },
                              "href": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "label",
                              "href"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "icon",
                    "label",
                    "title",
                    "description"
                  ]
                }
              }
            },
            "description": "Successful response with borrow deposit action details"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Token validation error"
          }
        },
        "operationId": "getApiV0LendBorrowByVaultTokenDeposit",
        "tags": [
          "Lend Borrow"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultId",
            "schema": {
              "type": "number",
              "minimum": 1,
              "example": 1,
              "default": 1,
              "description": "Vault ID to interact with."
            },
            "required": true
          },
          {
            "in": "query",
            "name": "positionId",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "Optional position ID to deposit into. If provided, deposits into the existing position. If not provided, creates a new position. Note: We do NOT auto-reuse empty positions like Jupiter's frontend does.",
              "example": 0
            },
            "required": false
          }
        ],
        "summary": "Deposit",
        "description": "Get deposit metadata for Jupiter Borrow. Deposits collateral into a lending position. Specify positionId to use existing position or leave blank to create new."
      },
      "post": {
        "x-mint": {
          "content": "## Position Management\n\n<Note>\n**Important:** This endpoint behaves differently based on the position ID parameter:\n- **With Position ID:** Deposits into the specified existing position\n- **Without Position ID:** Creates a new position (does NOT auto-reuse empty positions)\n\nTo use an existing position, first fetch the user's positions and provide the position ID. To create a new position, simply leave the position ID parameter empty.\n</Note>\n\n<Warning>\nThis is for Jupiter **Borrow** (collateralized lending positions). For non-collateralized lending, use the [Jupiter Earn endpoints](/api-reference/lend/earn-deposit).\n</Warning>"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string",
                      "description": "Base64 encoded serialized transaction"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            },
            "description": "Successful borrow deposit transaction"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Bad request, e.g. no amount and percentage provided"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Token validation error or parameter validation error"
          }
        },
        "operationId": "postApiV0LendBorrowByVaultTokenDeposit",
        "tags": [
          "Lend Borrow"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultId",
            "schema": {
              "type": "number",
              "minimum": 1,
              "example": 1,
              "default": 1,
              "description": "Vault ID to interact with."
            },
            "required": true
          },
          {
            "in": "query",
            "name": "positionId",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "Optional position ID to deposit into. If provided, deposits into the existing position. If not provided, creates a new position. Note: We do NOT auto-reuse empty positions like Jupiter's frontend does.",
              "example": 0
            },
            "required": false
          },
          {
            "in": "query",
            "name": "amount",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "Amount to deposit."
            }
          },
          {
            "in": "query",
            "name": "percentage",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "example": 90,
              "default": 90,
              "description": "Percentage to deposit (0-100). Takes priority over `amount`."
            }
          }
        ],
        "summary": "Deposit",
        "description": "Execute a deposit transaction for Jupiter Borrow. Creates collateralized position. Specify positionId to use existing position or leave blank to create new.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "account"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v0/lend/borrow/{vaultId}/{positionId}/withdraw": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "icon": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "disabled": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "transaction"
                              },
                              "label": {
                                "type": "string"
                              },
                              "href": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "label",
                              "href"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "icon",
                    "label",
                    "title",
                    "description"
                  ]
                }
              }
            },
            "description": "Successful response with withdraw action details"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Token validation error"
          }
        },
        "operationId": "getApiV0LendBorrowByVaultIdByPositionIdWithdraw",
        "tags": [
          "Lend Borrow"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultId",
            "schema": {
              "type": "number",
              "minimum": 1,
              "example": 1,
              "default": 1,
              "description": "Vault ID to interact with. Use the Jupiter `https://lite-api.jup.ag/lend/v1/borrow/vaults` endpoint to list available vaults."
            },
            "required": true
          },
          {
            "in": "path",
            "name": "positionId",
            "schema": {
              "type": "number",
              "minimum": 0,
              "example": 2433,
              "default": 2433,
              "description": "Position ID to interact with."
            },
            "required": true
          }
        ],
        "summary": "Withdraw",
        "description": "Get available withdraw actions for a token"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string",
                      "description": "Base64 encoded serialized transaction"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            },
            "description": "Successful borrow withdraw transaction"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Bad request, e.g. no amount and percentage provided"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Vault validation error or parameter validation error"
          }
        },
        "operationId": "postApiV0LendBorrowByVaultIdByPositionIdWithdraw",
        "tags": [
          "Lend Borrow"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultId",
            "schema": {
              "type": "number",
              "minimum": 1,
              "example": 1,
              "default": 1,
              "description": "Vault ID to interact with. Use the Jupiter `https://lite-api.jup.ag/lend/v1/borrow/vaults` endpoint to list available vaults."
            },
            "required": true
          },
          {
            "in": "path",
            "name": "positionId",
            "schema": {
              "type": "number",
              "minimum": 0,
              "example": 2433,
              "default": 2433,
              "description": "Position ID to interact with."
            },
            "required": true
          },
          {
            "in": "query",
            "name": "amount",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "Amount to deposit or withdraw."
            }
          },
          {
            "in": "query",
            "name": "percentage",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "example": 10,
              "default": 10,
              "description": "Percentage to deposit or withdraw (0-100). Takes priority over `amount`."
            }
          }
        ],
        "summary": "Withdraw",
        "description": "Execute a withdraw transaction for the specified vault and amount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "account"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v0/lend/borrow/{vaultId}/{positionId}/borrow": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "icon": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "disabled": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "transaction"
                              },
                              "label": {
                                "type": "string"
                              },
                              "href": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "label",
                              "href"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "icon",
                    "label",
                    "title",
                    "description"
                  ]
                }
              }
            },
            "description": "Successful response with borrow action details"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Vault or position validation error"
          }
        },
        "operationId": "getApiV0LendBorrowByVaultIdByPositionIdBorrow",
        "tags": [
          "Lend Borrow"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultId",
            "schema": {
              "type": "number",
              "minimum": 1,
              "example": 1,
              "default": 1,
              "description": "Vault ID to interact with. Use the Jupiter `https://lite-api.jup.ag/lend/v1/borrow/vaults` endpoint to list available vaults."
            },
            "required": true
          },
          {
            "in": "path",
            "name": "positionId",
            "schema": {
              "type": "number",
              "minimum": 0,
              "example": 2433,
              "default": 2433,
              "description": "Position ID to interact with."
            },
            "required": true
          }
        ],
        "summary": "Borrow",
        "description": "Get available borrow actions for a position"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string",
                      "description": "Base64 encoded serialized transaction"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            },
            "description": "Successful borrow transaction"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Bad request, e.g. no amount and percentage provided"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Vault validation error or parameter validation error"
          }
        },
        "operationId": "postApiV0LendBorrowByVaultIdByPositionIdBorrow",
        "tags": [
          "Lend Borrow"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultId",
            "schema": {
              "type": "number",
              "minimum": 1,
              "example": 1,
              "default": 1,
              "description": "Vault ID to interact with. Use the Jupiter `https://lite-api.jup.ag/lend/v1/borrow/vaults` endpoint to list available vaults."
            },
            "required": true
          },
          {
            "in": "path",
            "name": "positionId",
            "schema": {
              "type": "number",
              "minimum": 0,
              "example": 2433,
              "default": 2433,
              "description": "Position ID to interact with."
            },
            "required": true
          },
          {
            "in": "query",
            "name": "amount",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "Amount to deposit or withdraw."
            }
          },
          {
            "in": "query",
            "name": "percentage",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "example": 90,
              "default": 90,
              "description": "Percentage to deposit or withdraw (0-100). Takes priority over `amount`."
            }
          }
        ],
        "summary": "Borrow",
        "description": "Execute a borrow transaction for the specified vault and amount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "account"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v0/lend/borrow/{vaultId}/{positionId}/repay": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "icon": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "disabled": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "transaction"
                              },
                              "label": {
                                "type": "string"
                              },
                              "href": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "label",
                              "href"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "icon",
                    "label",
                    "title",
                    "description"
                  ]
                }
              }
            },
            "description": "Successful response with repay action details"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Vault or position validation error"
          }
        },
        "operationId": "getApiV0LendBorrowByVaultIdByPositionIdRepay",
        "tags": [
          "Lend Borrow"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultId",
            "schema": {
              "type": "number",
              "minimum": 1,
              "example": 1,
              "default": 1,
              "description": "Vault ID to interact with. Use the Jupiter `https://lite-api.jup.ag/lend/v1/borrow/vaults` endpoint to list available vaults."
            },
            "required": true
          },
          {
            "in": "path",
            "name": "positionId",
            "schema": {
              "type": "number",
              "minimum": 0,
              "example": 2433,
              "default": 2433,
              "description": "Position ID to interact with."
            },
            "required": true
          }
        ],
        "summary": "Repay",
        "description": "Get available repay actions for a position"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string",
                      "description": "Base64 encoded serialized transaction"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            },
            "description": "Successful repay transaction"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Bad request, e.g. no amount and percentage provided"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            },
            "description": "Vault validation error or parameter validation error"
          }
        },
        "operationId": "postApiV0LendBorrowByVaultIdByPositionIdRepay",
        "tags": [
          "Lend Borrow"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultId",
            "schema": {
              "type": "number",
              "minimum": 1,
              "example": 1,
              "default": 1,
              "description": "Vault ID to interact with. Use the Jupiter `https://lite-api.jup.ag/lend/v1/borrow/vaults` endpoint to list available vaults."
            },
            "required": true
          },
          {
            "in": "path",
            "name": "positionId",
            "schema": {
              "type": "number",
              "minimum": 0,
              "example": 2433,
              "default": 2433,
              "description": "Position ID to interact with."
            },
            "required": true
          },
          {
            "in": "query",
            "name": "amount",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "Amount to deposit or withdraw."
            }
          },
          {
            "in": "query",
            "name": "percentage",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "example": 90,
              "default": 90,
              "description": "Percentage to deposit or withdraw (0-100). Takes priority over `amount`."
            }
          }
        ],
        "summary": "Repay",
        "description": "Execute a repay transaction for the specified vault and amount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "account"
                ]
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}