{
  "openapi": "3.1.0",
  "info": {
    "title": "Jupiter Blinks API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://jupiter.dial.to"
    }
  ],
  "paths": {
    "/api/v0/lend/borrow/{vaultId}/deposit": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "icon": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "disabled": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "additionalProperties": false
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "transaction"
                              },
                              "label": {
                                "type": "string"
                              },
                              "href": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "label"
                                  ],
                                  "additionalProperties": false
                                }
                              }
                            },
                            "required": [
                              "type",
                              "label",
                              "href"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "icon",
                    "label",
                    "title",
                    "description"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Successful response with lend action details"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Token validation error"
          }
        },
        "operationId": "getApiV0LendBorrowByVaultIdDeposit",
        "tags": [
          "Lend Borrow"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultId",
            "schema": {
              "example": 1,
              "default": 1,
              "description": "Vault ID to interact with. Use the Jupiter `https://lite-api.jup.ag/lend/v1/borrow/vaults` endpoint to list available vaults.",
              "type": "number",
              "minimum": 1
            },
            "required": true
          },
          {
            "in": "query",
            "name": "positionId",
            "schema": {
              "description": "Position ID to interact with. If not provided, a new position will be created.",
              "example": 2433,
              "default": 2433,
              "type": "number",
              "minimum": 0
            }
          }
        ],
        "summary": "Deposit",
        "description": "Get available deposit actions for a token"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "transaction"
                    },
                    "transaction": {
                      "description": "Base64 encoded serialized transaction",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Successful borrow deposit transaction"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Bad request, e.g. no amount and percentage provided"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Vault validation error or parameter validation error"
          }
        },
        "operationId": "postApiV0LendBorrowByVaultIdDeposit",
        "tags": [
          "Lend Borrow"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultId",
            "schema": {
              "example": 1,
              "default": 1,
              "description": "Vault ID to interact with. Use the Jupiter `https://lite-api.jup.ag/lend/v1/borrow/vaults` endpoint to list available vaults.",
              "type": "number",
              "minimum": 1
            },
            "required": true
          },
          {
            "in": "query",
            "name": "positionId",
            "schema": {
              "description": "Position ID to interact with. If not provided, a new position will be created.",
              "example": 2433,
              "default": 2433,
              "type": "number",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "amount",
            "schema": {
              "description": "Amount to deposit or withdraw.",
              "type": "number",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "percentage",
            "schema": {
              "example": 10,
              "default": 10,
              "description": "Percentage to deposit or withdraw (0-100). Takes priority over `amount`.",
              "type": "number",
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "summary": "Deposit",
        "description": "Execute a deposit transaction for the specified vault and amount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "description": "The public key of the account that executes the transaction",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "type": "string"
                  }
                },
                "required": [
                  "account"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v0/lend/borrow/{vaultId}/{positionId}/withdraw": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "icon": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "disabled": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "additionalProperties": false
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "transaction"
                              },
                              "label": {
                                "type": "string"
                              },
                              "href": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "label"
                                  ],
                                  "additionalProperties": false
                                }
                              }
                            },
                            "required": [
                              "type",
                              "label",
                              "href"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "icon",
                    "label",
                    "title",
                    "description"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Successful response with withdraw action details"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Token validation error"
          }
        },
        "operationId": "getApiV0LendBorrowByVaultIdByPositionIdWithdraw",
        "tags": [
          "Lend Borrow"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultId",
            "schema": {
              "example": 1,
              "default": 1,
              "description": "Vault ID to interact with. Use the Jupiter `https://lite-api.jup.ag/lend/v1/borrow/vaults` endpoint to list available vaults.",
              "type": "number",
              "minimum": 1
            },
            "required": true
          },
          {
            "in": "path",
            "name": "positionId",
            "schema": {
              "example": 2433,
              "default": 2433,
              "description": "Position ID to interact with.",
              "type": "number",
              "minimum": 0
            },
            "required": true
          }
        ],
        "summary": "Withdraw",
        "description": "Get available withdraw actions for a token"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "transaction"
                    },
                    "transaction": {
                      "description": "Base64 encoded serialized transaction",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Successful borrow withdraw transaction"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Bad request, e.g. no amount and percentage provided"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Vault validation error or parameter validation error"
          }
        },
        "operationId": "postApiV0LendBorrowByVaultIdByPositionIdWithdraw",
        "tags": [
          "Lend Borrow"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultId",
            "schema": {
              "example": 1,
              "default": 1,
              "description": "Vault ID to interact with. Use the Jupiter `https://lite-api.jup.ag/lend/v1/borrow/vaults` endpoint to list available vaults.",
              "type": "number",
              "minimum": 1
            },
            "required": true
          },
          {
            "in": "path",
            "name": "positionId",
            "schema": {
              "example": 2433,
              "default": 2433,
              "description": "Position ID to interact with.",
              "type": "number",
              "minimum": 0
            },
            "required": true
          },
          {
            "in": "query",
            "name": "amount",
            "schema": {
              "description": "Amount to deposit or withdraw.",
              "type": "number",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "percentage",
            "schema": {
              "example": 10,
              "default": 10,
              "description": "Percentage to deposit or withdraw (0-100). Takes priority over `amount`.",
              "type": "number",
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "summary": "Withdraw",
        "description": "Execute a withdraw transaction for the specified vault and amount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "description": "The public key of the account that executes the transaction",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "type": "string"
                  }
                },
                "required": [
                  "account"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v0/lend/borrow/{vaultId}/{positionId}/borrow": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "icon": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "disabled": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "additionalProperties": false
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "transaction"
                              },
                              "label": {
                                "type": "string"
                              },
                              "href": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "label"
                                  ],
                                  "additionalProperties": false
                                }
                              }
                            },
                            "required": [
                              "type",
                              "label",
                              "href"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "icon",
                    "label",
                    "title",
                    "description"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Successful response with borrow action details"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Vault or position validation error"
          }
        },
        "operationId": "getApiV0LendBorrowByVaultIdByPositionIdBorrow",
        "tags": [
          "Lend Borrow"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultId",
            "schema": {
              "example": 1,
              "default": 1,
              "description": "Vault ID to interact with. Use the Jupiter `https://lite-api.jup.ag/lend/v1/borrow/vaults` endpoint to list available vaults.",
              "type": "number",
              "minimum": 1
            },
            "required": true
          },
          {
            "in": "path",
            "name": "positionId",
            "schema": {
              "example": 2433,
              "default": 2433,
              "description": "Position ID to interact with.",
              "type": "number",
              "minimum": 0
            },
            "required": true
          }
        ],
        "summary": "Borrow",
        "description": "Get available borrow actions for a position"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "transaction"
                    },
                    "transaction": {
                      "description": "Base64 encoded serialized transaction",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Successful borrow transaction"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Bad request, e.g. no amount and percentage provided"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Vault validation error or parameter validation error"
          }
        },
        "operationId": "postApiV0LendBorrowByVaultIdByPositionIdBorrow",
        "tags": [
          "Lend Borrow"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultId",
            "schema": {
              "example": 1,
              "default": 1,
              "description": "Vault ID to interact with. Use the Jupiter `https://lite-api.jup.ag/lend/v1/borrow/vaults` endpoint to list available vaults.",
              "type": "number",
              "minimum": 1
            },
            "required": true
          },
          {
            "in": "path",
            "name": "positionId",
            "schema": {
              "example": 2433,
              "default": 2433,
              "description": "Position ID to interact with.",
              "type": "number",
              "minimum": 0
            },
            "required": true
          },
          {
            "in": "query",
            "name": "amount",
            "schema": {
              "description": "Amount to deposit or withdraw.",
              "type": "number",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "percentage",
            "schema": {
              "example": 10,
              "default": 10,
              "description": "Percentage to deposit or withdraw (0-100). Takes priority over `amount`.",
              "type": "number",
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "summary": "Borrow",
        "description": "Execute a borrow transaction for the specified vault and amount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "description": "The public key of the account that executes the transaction",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "type": "string"
                  }
                },
                "required": [
                  "account"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v0/lend/borrow/{vaultId}/{positionId}/repay": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "icon": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "disabled": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "additionalProperties": false
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "transaction"
                              },
                              "label": {
                                "type": "string"
                              },
                              "href": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "label"
                                  ],
                                  "additionalProperties": false
                                }
                              }
                            },
                            "required": [
                              "type",
                              "label",
                              "href"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "icon",
                    "label",
                    "title",
                    "description"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Successful response with repay action details"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Vault or position validation error"
          }
        },
        "operationId": "getApiV0LendBorrowByVaultIdByPositionIdRepay",
        "tags": [
          "Lend Borrow"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultId",
            "schema": {
              "example": 1,
              "default": 1,
              "description": "Vault ID to interact with. Use the Jupiter `https://lite-api.jup.ag/lend/v1/borrow/vaults` endpoint to list available vaults.",
              "type": "number",
              "minimum": 1
            },
            "required": true
          },
          {
            "in": "path",
            "name": "positionId",
            "schema": {
              "example": 2433,
              "default": 2433,
              "description": "Position ID to interact with.",
              "type": "number",
              "minimum": 0
            },
            "required": true
          }
        ],
        "summary": "Repay",
        "description": "Get available repay actions for a position"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "transaction"
                    },
                    "transaction": {
                      "description": "Base64 encoded serialized transaction",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Successful repay transaction"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Bad request, e.g. no amount and percentage provided"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Vault validation error or parameter validation error"
          }
        },
        "operationId": "postApiV0LendBorrowByVaultIdByPositionIdRepay",
        "tags": [
          "Lend Borrow"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultId",
            "schema": {
              "example": 1,
              "default": 1,
              "description": "Vault ID to interact with. Use the Jupiter `https://lite-api.jup.ag/lend/v1/borrow/vaults` endpoint to list available vaults.",
              "type": "number",
              "minimum": 1
            },
            "required": true
          },
          {
            "in": "path",
            "name": "positionId",
            "schema": {
              "example": 2433,
              "default": 2433,
              "description": "Position ID to interact with.",
              "type": "number",
              "minimum": 0
            },
            "required": true
          },
          {
            "in": "query",
            "name": "amount",
            "schema": {
              "description": "Amount to deposit or withdraw.",
              "type": "number",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "percentage",
            "schema": {
              "example": 10,
              "default": 10,
              "description": "Percentage to deposit or withdraw (0-100). Takes priority over `amount`.",
              "type": "number",
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "summary": "Repay",
        "description": "Execute a repay transaction for the specified vault and amount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "description": "The public key of the account that executes the transaction",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "type": "string"
                  }
                },
                "required": [
                  "account"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v0/lend/earn/{vaultToken}/deposit": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "icon": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "disabled": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "additionalProperties": false
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "transaction"
                              },
                              "label": {
                                "type": "string"
                              },
                              "href": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "label"
                                  ],
                                  "additionalProperties": false
                                }
                              }
                            },
                            "required": [
                              "type",
                              "label",
                              "href"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "icon",
                    "label",
                    "title",
                    "description"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Successful response with lend action details"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Token validation error"
          }
        },
        "operationId": "getApiV0LendEarnByVaultTokenDeposit",
        "tags": [
          "Lend Earn"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultToken",
            "schema": {
              "example": "USDC",
              "default": "USDC",
              "description": "Token symbol or address. Can be a token symbol like USDC or an address.",
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Earn Deposit",
        "description": "Get available deposit actions for a token"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "transaction"
                    },
                    "transaction": {
                      "description": "Base64 encoded serialized transaction",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Successful lend transaction"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Bad request, e.g. no amount and percentage provided"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Token validation error or parameter validation error"
          }
        },
        "operationId": "postApiV0LendEarnByVaultTokenDeposit",
        "tags": [
          "Lend Earn"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultToken",
            "schema": {
              "example": "USDC",
              "default": "USDC",
              "description": "Token symbol or address. Can be a token symbol like USDC or an address.",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "amount",
            "schema": {
              "description": "Amount to deposit or withdraw.",
              "type": "number",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "percentage",
            "schema": {
              "example": 10,
              "default": 10,
              "description": "Percentage to deposit or withdraw (0-100). Takes priority over `amount`.",
              "type": "number",
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "summary": "Earn Deposit",
        "description": "Execute a deposit transaction for the specified token and amount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "description": "The public key of the account that executes the transaction",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "type": "string"
                  }
                },
                "required": [
                  "account"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v0/lend/earn/{vaultToken}/withdraw": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "icon": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "disabled": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "additionalProperties": false
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "transaction"
                              },
                              "label": {
                                "type": "string"
                              },
                              "href": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "label"
                                  ],
                                  "additionalProperties": false
                                }
                              }
                            },
                            "required": [
                              "type",
                              "label",
                              "href"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "icon",
                    "label",
                    "title",
                    "description"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Successful response with lend action details"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Token validation error"
          }
        },
        "operationId": "getApiV0LendEarnByVaultTokenWithdraw",
        "tags": [
          "Lend Earn"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultToken",
            "schema": {
              "example": "USDC",
              "default": "USDC",
              "description": "Token symbol or address. Can be a token symbol like USDC or an address.",
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Earn Withdraw",
        "description": "Get available withdraw actions for a token"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "transaction"
                    },
                    "transaction": {
                      "description": "Base64 encoded serialized transaction",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Successful lend transaction"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Bad request, e.g. no amount and percentage provided"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Token validation error or parameter validation error"
          }
        },
        "operationId": "postApiV0LendEarnByVaultTokenWithdraw",
        "tags": [
          "Lend Earn"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "vaultToken",
            "schema": {
              "example": "USDC",
              "default": "USDC",
              "description": "Token symbol or address. Can be a token symbol like USDC or an address.",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "amount",
            "schema": {
              "description": "Amount to deposit or withdraw.",
              "type": "number",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "percentage",
            "schema": {
              "example": 10,
              "default": 10,
              "description": "Percentage to deposit or withdraw (0-100). Takes priority over `amount`.",
              "type": "number",
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "summary": "Earn Withdraw",
        "description": "Execute withdraw transaction for the specified token and amount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "description": "The public key of the account that executes the transaction",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "type": "string"
                  }
                },
                "required": [
                  "account"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/v0/swap/{tokenPair}": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "icon": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "disabled": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "additionalProperties": false
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "transaction"
                              },
                              "label": {
                                "type": "string"
                              },
                              "href": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "label"
                                  ],
                                  "additionalProperties": false
                                }
                              }
                            },
                            "required": [
                              "type",
                              "label",
                              "href"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "icon",
                    "label",
                    "title",
                    "description"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Successful response with swap action details"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Token metadata not found"
          }
        },
        "operationId": "getApiV0SwapByTokenPair",
        "tags": [
          "Swap"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "tokenPair",
            "schema": {
              "example": "SOL-Bonk",
              "default": "SOL-Bonk",
              "description": "Token pair in format input-output. Input and output are token symbols or addresses.",
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Swap Token",
        "description": "Get available swap actions for a token pair"
      }
    },
    "/api/v0/swap/{tokenPair}/{amount}": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "icon": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "disabled": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "additionalProperties": false
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "const": "transaction"
                              },
                              "label": {
                                "type": "string"
                              },
                              "href": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "label"
                                  ],
                                  "additionalProperties": false
                                }
                              }
                            },
                            "required": [
                              "type",
                              "label",
                              "href"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "icon",
                    "label",
                    "title",
                    "description"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Successful response with fixed amount swap action details"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Token metadata not found"
          }
        },
        "operationId": "getApiV0SwapByTokenPairByAmount",
        "tags": [
          "Swap"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "tokenPair",
            "schema": {
              "example": "SOL-Bonk",
              "default": "SOL-Bonk",
              "description": "Token pair in format input-output. Input and output are token symbols or addresses.",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "amount",
            "schema": {
              "example": 0.01,
              "default": 0.01,
              "description": "Amount of the input token to swap. If the input token is SOL, this is in SOL, otherwise, this is in USD equivalent of input.",
              "type": "number",
              "minimum": 0
            },
            "required": true
          }
        ],
        "summary": "Swap Token Amount",
        "description": "Get swap action details for a specific token pair and amount"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "transaction"
                    },
                    "transaction": {
                      "description": "Base64 encoded serialized transaction",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Successful swap transaction"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "description": "Token metadata not found or validation error"
          }
        },
        "operationId": "postApiV0SwapByTokenPairByAmount",
        "tags": [
          "Swap"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "tokenPair",
            "schema": {
              "example": "SOL-Bonk",
              "default": "SOL-Bonk",
              "description": "Token pair in format input-output. Input and output are token symbols or addresses.",
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "amount",
            "schema": {
              "example": 0.01,
              "default": 0.01,
              "description": "Amount of the input token to swap. If the input token is SOL, this is in SOL, otherwise, this is in USD equivalent of input.",
              "type": "number",
              "minimum": 0
            },
            "required": true
          }
        ],
        "summary": "Swap Token Amount",
        "description": "Execute a swap transaction for the specified token pair and amount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "description": "The public key of the account that executes the transaction",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "type": "string"
                  }
                },
                "required": [
                  "account"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/swap/{tokenPair}": {},
    "/swap/{tokenPair}/{amount}": {}
  },
  "components": {
    "schemas": {}
  }
}
