{
  "openapi": "3.1.1",
  "x-mcp": {
    "enabled": true
  },
  "info": {
    "title": "Kamino Blinks API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://kamino.dial.to/api"
    }
  ],
  "paths": {
    "/v0/lending/reserve/{market}/{reserve}/deposit": {
      "get": {
        "operationId": "v0.lending.getLendingReserveDepositBlink",
        "summary": "Lending Reserve Deposit",
        "description": "Get metadata for depositing a token into Kamino's lending reserve.",
        "tags": [
          "Lending"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
              "x-example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
            },
            "example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
            "x-default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
            },
            "example": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "examples": [
                        "Deposit to Kamino"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Deposit SOL to earn yield on Kamino"
                      ]
                    },
                    "label": {
                      "type": "string",
                      "examples": [
                        "Deposit"
                      ]
                    },
                    "icon": {
                      "type": "string",
                      "examples": [
                        "https://kamino.dial.to/icon.png"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.lending.lendingReserveDeposit",
        "summary": "Lending Reserve Deposit",
        "description": "Generate a transaction for depositing a token into Kamino's lending reserve.",
        "tags": [
          "Lending"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
              "x-example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
            },
            "example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
            "x-default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
            },
            "example": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
          },
          {
            "name": "percentage",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of funds to use (alternative to amount)",
              "default": 10,
              "example": 10
            }
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount to use in SOL (alternative to percentage). Leave empty when using percentage."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "example": "transaction",
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              },
              "examples": {
                "deposit": {
                  "summary": "Deposit transaction",
                  "value": {
                    "type": "transaction",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                    "enum": [
                      "transaction"
                    ],
                      "examples": [
                        "transaction"
                      ]
                    },
                    "transaction": {
                      "type": "string",
                      "examples": [
                        "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw931mdvp9vlLgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI8FZAz9nIL9hGE4x5rKjjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAICAgAB"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/lending/reserve/{market}/{reserve}/withdraw": {
      "get": {
        "operationId": "v0.lending.getLendingReserveWithdrawBlink",
        "summary": "Lending Reserve Withdraw",
        "description": "Get metadata for withdrawing a token from Kamino's lending reserve.",
        "tags": [
          "Lending"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
              "x-example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
            },
            "example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
            "x-default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
            },
            "example": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "examples": [
                        "Withdraw from Kamino"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Withdraw SOL from Kamino lending"
                      ]
                    },
                    "label": {
                      "type": "string",
                      "examples": [
                        "Withdraw"
                      ]
                    },
                    "icon": {
                      "type": "string",
                      "examples": [
                        "https://kamino.dial.to/icon.png"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.lending.lendingReserveWithdraw",
        "summary": "Lending Reserve Withdraw",
        "description": "Generate a transaction for withdrawing a token from Kamino's lending reserve.",
        "tags": [
          "Lending"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
              "x-example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
            },
            "example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
            "x-default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
            },
            "example": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
          },
          {
            "name": "percentage",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of funds to use",
              "default": 10,
              "example": 10
            }
          },
          {
            "name": "amount",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount to use. Human readable value, e.g. 0.1 SOL",
              "examples": [
                0.5
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "example": "transaction",
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              },
              "examples": {
                "withdraw": {
                  "summary": "Withdraw transaction",
                  "value": {
                    "type": "transaction",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                    "enum": [
                      "transaction"
                    ],
                      "examples": [
                        "transaction"
                      ]
                    },
                    "transaction": {
                      "type": "string",
                      "examples": [
                        "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw931mdvp9vlLgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI8FZAz9nIL9hGE4x5rKjjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAICAgAB"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/lending/reserve/{market}/{reserve}/metadata": {
      "get": {
        "operationId": "v0.lending.getLendingReserveMetadata",
        "summary": "Lending Reserve Metadata",
        "description": "Get metadata associated to a Kamino lending reserve.",
        "tags": [
          "Lending"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
              "x-example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
            },
            "example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
            "x-default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
            },
            "example": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "account": {
                  "type": "string",
                  "description": "Account public key",
                  "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                  "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "example": "apy"
                          },
                          "title": {
                            "type": "string",
                            "example": "Annual Percentage Yield"
                          },
                          "value": {
                            "type": "string",
                            "example": "5.24%"
                          }
                        },
                        "required": [
                          "key",
                          "title",
                          "value"
                        ]
                      },
                      "examples": [
                        [
                          {
                            "key": "apy",
                            "title": "Annual Percentage Yield",
                            "value": "5.24%"
                          },
                          {
                            "key": "deposited",
                            "title": "Your Deposited Amount",
                            "value": "10.5 SOL"
                          },
                          {
                            "key": "earned",
                            "title": "Total Earned",
                            "value": "0.12 SOL"
                          }
                        ]
                      ]
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/lending/reserve/{market}/{reserve}/redirect": {
      "post": {
        "operationId": "v0.lending.lendingReserveRedirect",
        "summary": "Lending Reserve Redirect",
        "description": "Get a URL to a specific lending reserve on Kamino's website",
        "tags": [
          "Lending"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
              "x-example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
            },
            "example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
            "x-default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
            },
            "example": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "external-link",
                      "example": "external-link"
                    },
                    "externalLink": {
                      "type": "string",
                      "example": "https://app.kamino.finance/lending/DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
                    }
                  },
                  "required": [
                    "type",
                    "externalLink"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/liquidity/{strategyAddress}/deposit": {
      "get": {
        "operationId": "v0.liquidity.getLiquidityStrategyDepositBlink",
        "summary": "Liquidity Vault Deposit",
        "description": "Get metadata for depositing into Kamino's liquidity vault.",
        "tags": [
          "Liquidity"
        ],
        "parameters": [
          {
            "name": "strategyAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Strategy public key",
              "default": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7",
              "x-example": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7"
            },
            "example": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7",
            "x-default": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7"
          },
          {
            "name": "side",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "enum": [
                "A",
                "B"
              ],
              "default": "A",
              "description": "The side of the strategy to deposit to",
              "examples": [
                "A"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "examples": [
                        "Deposit to Kamino"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Deposit SOL to earn yield on Kamino"
                      ]
                    },
                    "label": {
                      "type": "string",
                      "examples": [
                        "Deposit"
                      ]
                    },
                    "icon": {
                      "type": "string",
                      "examples": [
                        "https://kamino.dial.to/icon.png"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.liquidity.liquidityStrategyDeposit",
        "summary": "Liquidity Vault Deposit",
        "description": "Generate a transaction for depositing into Kamino's liquidity vault.",
        "tags": [
          "Liquidity"
        ],
        "parameters": [
          {
            "name": "strategyAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Strategy public key",
              "default": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7",
              "x-example": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7"
            },
            "example": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7",
            "x-default": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7"
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount to use. Human readable value, e.g. 0.1 SOL",
              "default": 2.0,
              "example": 2.0
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "enum": [
                "A",
                "B"
              ],
              "default": "A",
              "description": "The side of the strategy to deposit to",
              "examples": [
                "A"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "example": "transaction",
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              },
              "examples": {
                "deposit": {
                  "summary": "Deposit transaction",
                  "value": {
                    "type": "transaction",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                    "enum": [
                      "transaction"
                    ],
                      "examples": [
                        "transaction"
                      ]
                    },
                    "transaction": {
                      "type": "string",
                      "examples": [
                        "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw931mdvp9vlLgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI8FZAz9nIL9hGE4x5rKjjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAICAgAB"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/liquidity/{strategyAddress}/withdraw": {
      "get": {
        "operationId": "v0.liquidity.getLiquidityStrategyWithdrawBlink",
        "summary": "Liquidity Vault Withdraw",
        "description": "Get metadata for withdrawing from Kamino's liquidity vault.",
        "tags": [
          "Liquidity"
        ],
        "parameters": [
          {
            "name": "strategyAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Strategy public key",
              "default": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7",
              "x-example": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7"
            },
            "example": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7",
            "x-default": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "examples": [
                        "Withdraw from Kamino Vault"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Withdraw liquidity from Kamino strategy vault"
                      ]
                    },
                    "label": {
                      "type": "string",
                      "examples": [
                        "Withdraw"
                      ]
                    },
                    "icon": {
                      "type": "string",
                      "examples": [
                        "https://kamino.dial.to/icon.png"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.liquidity.liquidityStrategyWithdraw",
        "summary": "Liquidity Vault Withdraw",
        "description": "Generate a transaction for withdrawing from Kamino's liquidity vault.",
        "tags": [
          "Liquidity"
        ],
        "parameters": [
          {
            "name": "strategyAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Strategy public key",
              "default": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7",
              "x-example": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7"
            },
            "example": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7",
            "x-default": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7"
          },
          {
            "name": "percentage",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "The percentage of shares to withdraw",
              "default": 75,
              "example": 75
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "example": "transaction",
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              },
              "examples": {
                "withdraw": {
                  "summary": "Withdraw transaction",
                  "value": {
                    "type": "transaction",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                    "enum": [
                      "transaction"
                    ],
                      "examples": [
                        "transaction"
                      ]
                    },
                    "transaction": {
                      "type": "string",
                      "examples": [
                        "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw931mdvp9vlLgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI8FZAz9nIL9hGE4x5rKjjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAICAgAB"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/multiply/{marketAddress}/setup": {
      "get": {
        "operationId": "v0.multiply.getMultiplySetupBlink",
        "summary": "Multiply Setup",
        "description": "Get metadata for setting up multiply position (LUT creation).",
        "tags": [
          "Multiply"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "6WEGfej9B9wjxRs6t4BYpb9iCXd8CpTpJ8fVSNzHCC5y",
              "examples": [
                "6WEGfej9B9wjxRs6t4BYpb9iCXd8CpTpJ8fVSNzHCC5y"
              ]
            },
            "example": "6WEGfej9B9wjxRs6t4BYpb9iCXd8CpTpJ8fVSNzHCC5y"
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "AwCyCPZYJSZ93xcVKNK7jR8e1BHzJXq1D4bReNuh9woY",
              "examples": [
                "AwCyCPZYJSZ93xcVKNK7jR8e1BHzJXq1D4bReNuh9woY"
              ]
            },
            "example": "AwCyCPZYJSZ93xcVKNK7jR8e1BHzJXq1D4bReNuh9woY",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "Atj6UREVWa7WxbF2EMKNyfmYUY1U1txughe2gjhcPDCo",
              "examples": [
                "Atj6UREVWa7WxbF2EMKNyfmYUY1U1txughe2gjhcPDCo"
              ]
            },
            "example": "Atj6UREVWa7WxbF2EMKNyfmYUY1U1txughe2gjhcPDCo",
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "examples": [
                        "Setup Multiply Position"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Setup your multiply position on Kamino"
                      ]
                    },
                    "label": {
                      "type": "string",
                      "examples": [
                        "Setup"
                      ]
                    },
                    "icon": {
                      "type": "string",
                      "examples": [
                        "https://kamino.dial.to/icon.png"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.multiply.multiplySetup",
        "summary": "Multiply Setup",
        "description": "Generate transactions for setting up multiply position (LUT creation).",
        "tags": [
          "Multiply"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "6WEGfej9B9wjxRs6t4BYpb9iCXd8CpTpJ8fVSNzHCC5y",
              "examples": [
                "6WEGfej9B9wjxRs6t4BYpb9iCXd8CpTpJ8fVSNzHCC5y"
              ]
            },
            "example": "6WEGfej9B9wjxRs6t4BYpb9iCXd8CpTpJ8fVSNzHCC5y"
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "AwCyCPZYJSZ93xcVKNK7jR8e1BHzJXq1D4bReNuh9woY",
              "examples": [
                "AwCyCPZYJSZ93xcVKNK7jR8e1BHzJXq1D4bReNuh9woY"
              ]
            },
            "example": "AwCyCPZYJSZ93xcVKNK7jR8e1BHzJXq1D4bReNuh9woY",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "Atj6UREVWa7WxbF2EMKNyfmYUY1U1txughe2gjhcPDCo",
              "examples": [
                "Atj6UREVWa7WxbF2EMKNyfmYUY1U1txughe2gjhcPDCo"
              ]
            },
            "example": "Atj6UREVWa7WxbF2EMKNyfmYUY1U1txughe2gjhcPDCo",
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "examples": [
                      "transaction"
                    ],
                    "example": "transaction",
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "examples": [
                      "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                    ],
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
              ,
              "examples": {
                "setup": {
                  "summary": "Setup multiply position",
                  "value": {
                    "type": "transaction",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string",
                      "examples": [
                        "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw931mdvp9vlLgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI8FZAz9nIL9hGE4x5rKjjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAICAgAB"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/multiply/{marketAddress}/deposit": {
      "get": {
        "operationId": "v0.multiply.getMultiplyDepositBlink",
        "summary": "Multiply Deposit",
        "description": "Get metadata for depositing with leverage/multiply.",
        "tags": [
          "Multiply"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "6WEGfej9B9wjxRs6t4BYpb9iCXd8CpTpJ8fVSNzHCC5y",
              "examples": [
                "6WEGfej9B9wjxRs6t4BYpb9iCXd8CpTpJ8fVSNzHCC5y"
              ]
            },
            "example": "6WEGfej9B9wjxRs6t4BYpb9iCXd8CpTpJ8fVSNzHCC5y"
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "AwCyCPZYJSZ93xcVKNK7jR8e1BHzJXq1D4bReNuh9woY",
              "examples": [
                "AwCyCPZYJSZ93xcVKNK7jR8e1BHzJXq1D4bReNuh9woY"
              ]
            },
            "example": "AwCyCPZYJSZ93xcVKNK7jR8e1BHzJXq1D4bReNuh9woY",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "Atj6UREVWa7WxbF2EMKNyfmYUY1U1txughe2gjhcPDCo",
              "examples": [
                "Atj6UREVWa7WxbF2EMKNyfmYUY1U1txughe2gjhcPDCo"
              ]
            },
            "example": "Atj6UREVWa7WxbF2EMKNyfmYUY1U1txughe2gjhcPDCo",
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "examples": [
                        "Multiply on Kamino"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Deposit with leverage to multiply your position"
                      ]
                    },
                    "label": {
                      "type": "string",
                      "examples": [
                        "Multiply"
                      ]
                    },
                    "icon": {
                      "type": "string",
                      "examples": [
                        "https://kamino.dial.to/icon.png"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.multiply.multiplyDeposit",
        "summary": "Multiply Deposit",
        "description": "Generate a transaction for depositing with leverage/multiply.",
        "tags": [
          "Multiply"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "6WEGfej9B9wjxRs6t4BYpb9iCXd8CpTpJ8fVSNzHCC5y",
              "examples": [
                "6WEGfej9B9wjxRs6t4BYpb9iCXd8CpTpJ8fVSNzHCC5y"
              ]
            },
            "example": "6WEGfej9B9wjxRs6t4BYpb9iCXd8CpTpJ8fVSNzHCC5y"
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "AwCyCPZYJSZ93xcVKNK7jR8e1BHzJXq1D4bReNuh9woY",
              "examples": [
                "AwCyCPZYJSZ93xcVKNK7jR8e1BHzJXq1D4bReNuh9woY"
              ]
            },
            "example": "AwCyCPZYJSZ93xcVKNK7jR8e1BHzJXq1D4bReNuh9woY",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "Atj6UREVWa7WxbF2EMKNyfmYUY1U1txughe2gjhcPDCo",
              "examples": [
                "Atj6UREVWa7WxbF2EMKNyfmYUY1U1txughe2gjhcPDCo"
              ]
            },
            "example": "Atj6UREVWa7WxbF2EMKNyfmYUY1U1txughe2gjhcPDCo",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "leverage",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": 2,
              "maximum": 10,
              "description": "Leverage multiplier (2-10x)",
              "default": 3,
              "examples": [
                3
              ]
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount to deposit. Human readable value, e.g. 0.1 SOL",
              "default": 0.1,
              "example": 0.1,              "examples": [
                0.1
              ]
            },
            "allowEmptyValue": true,
            "allowReserved": true,
            "example": 0.1
          },
          {
            "name": "slippage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0.1,
              "maximum": 10,
              "default": 0.5,
              "description": "Slippage tolerance in percentage (0.1-10%)",
              "examples": [
                0.5
              ]
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "examples": [
                      "transaction"
                    ],
                    "example": "transaction",
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "examples": [
                      "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                    ],
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
              ,
              "examples": {
                "deposit": {
                  "summary": "Multiply deposit transaction",
                  "value": {
                    "type": "transaction",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string",
                      "examples": [
                        "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw931mdvp9vlLgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI8FZAz9nIL9hGE4x5rKjjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAICAgAB"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/multiply/{marketAddress}/withdraw": {
      "get": {
        "operationId": "v0.multiply.getMultiplyWithdrawBlink",
        "summary": "Multiply Withdraw",
        "description": "Get metadata for withdrawing from multiply position.",
        "tags": [
          "Multiply"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "6WEGfej9B9wjxRs6t4BYpb9iCXd8CpTpJ8fVSNzHCC5y",
              "examples": [
                "6WEGfej9B9wjxRs6t4BYpb9iCXd8CpTpJ8fVSNzHCC5y"
              ]
            },
            "example": "6WEGfej9B9wjxRs6t4BYpb9iCXd8CpTpJ8fVSNzHCC5y"
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "AwCyCPZYJSZ93xcVKNK7jR8e1BHzJXq1D4bReNuh9woY",
              "examples": [
                "AwCyCPZYJSZ93xcVKNK7jR8e1BHzJXq1D4bReNuh9woY"
              ]
            },
            "example": "AwCyCPZYJSZ93xcVKNK7jR8e1BHzJXq1D4bReNuh9woY",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "Atj6UREVWa7WxbF2EMKNyfmYUY1U1txughe2gjhcPDCo",
              "examples": [
                "Atj6UREVWa7WxbF2EMKNyfmYUY1U1txughe2gjhcPDCo"
              ]
            },
            "example": "Atj6UREVWa7WxbF2EMKNyfmYUY1U1txughe2gjhcPDCo",
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "examples": [
                        "Close Multiply Position"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Withdraw from your multiply position on Kamino"
                      ]
                    },
                    "label": {
                      "type": "string",
                      "examples": [
                        "Withdraw"
                      ]
                    },
                    "icon": {
                      "type": "string",
                      "examples": [
                        "https://kamino.dial.to/icon.png"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.multiply.multiplyWithdraw",
        "summary": "Multiply Withdraw",
        "description": "Generate a transaction for withdrawing from multiply position.",
        "tags": [
          "Multiply"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "6WEGfej9B9wjxRs6t4BYpb9iCXd8CpTpJ8fVSNzHCC5y",
              "examples": [
                "6WEGfej9B9wjxRs6t4BYpb9iCXd8CpTpJ8fVSNzHCC5y"
              ]
            },
            "example": "6WEGfej9B9wjxRs6t4BYpb9iCXd8CpTpJ8fVSNzHCC5y"
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "AwCyCPZYJSZ93xcVKNK7jR8e1BHzJXq1D4bReNuh9woY",
              "examples": [
                "AwCyCPZYJSZ93xcVKNK7jR8e1BHzJXq1D4bReNuh9woY"
              ]
            },
            "example": "AwCyCPZYJSZ93xcVKNK7jR8e1BHzJXq1D4bReNuh9woY",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "Atj6UREVWa7WxbF2EMKNyfmYUY1U1txughe2gjhcPDCo",
              "examples": [
                "Atj6UREVWa7WxbF2EMKNyfmYUY1U1txughe2gjhcPDCo"
              ]
            },
            "example": "Atj6UREVWa7WxbF2EMKNyfmYUY1U1txughe2gjhcPDCo",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "percentage",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "The percentage of position to withdraw",
              "default": 100,
              "examples": [
                100
              ]
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "slippage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0.1,
              "maximum": 10,
              "default": 3,
              "description": "Slippage tolerance in percentage (0.1-10%)",
              "examples": [
                3
              ]
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "examples": [
                      "transaction"
                    ],
                    "example": "transaction",
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "examples": [
                      "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                    ],
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              ,
              "examples": {
                "withdraw": {
                  "summary": "Multiply withdraw transaction",
                  "value": {
                    "type": "transaction",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string",
                      "examples": [
                        "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw931mdvp9vlLgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI8FZAz9nIL9hGE4x5rKjjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAICAgAB"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}