{
  "openapi": "3.1.1",
  "x-mcp": {
    "enabled": true
  },
  "info": {
    "title": "Kamino Blinks API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://kamino.dial.to/api"
    }
  ],
  "paths": {
    "/v0/lending/reserve/{market}/{reserve}/deposit": {
      "get": {
        "operationId": "v0.lending.getLendingReserveDepositBlink",
        "summary": "Borrow Reserve Deposit",
        "description": "Get metadata for depositing a token into Kamino's borrow reserve.",
        "tags": [
          "Borrow"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
              "x-example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
            },
            "example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
            "x-default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
            },
            "example": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "examples": [
                        "Deposit to Kamino"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Deposit SOL to earn yield on Kamino"
                      ]
                    },
                    "label": {
                      "type": "string",
                      "examples": [
                        "Deposit"
                      ]
                    },
                    "icon": {
                      "type": "string",
                      "examples": [
                        "https://kamino.dial.to/icon.png"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.lending.lendingReserveDeposit",
        "summary": "Borrow Reserve Deposit",
        "description": "Generate a transaction for depositing a token into Kamino's borrow reserve.",
        "tags": [
          "Borrow"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
              "x-example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
            },
            "example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
            "x-default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
            },
            "example": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
          },
          {
            "name": "percentage",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of funds to use (alternative to amount)",
              "default": 10,
              "example": 10
            }
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount to use. Human-readable value, e.g. 0.1 SOL"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "example": "transaction",
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              },
              "examples": {
                "deposit": {
                  "summary": "Deposit transaction",
                  "value": {
                    "type": "transaction",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "transaction"
                      ],
                      "examples": [
                        "transaction"
                      ]
                    },
                    "transaction": {
                      "type": "string",
                      "examples": [
                        "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw931mdvp9vlLgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI8FZAz9nIL9hGE4x5rKjjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAICAgAB"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/lending/reserve/{market}/{reserve}/withdraw": {
      "get": {
        "operationId": "v0.lending.getLendingReserveWithdrawBlink",
        "summary": "Borrow Reserve Withdraw",
        "description": "Get metadata for withdrawing a token from Kamino's borrow reserve.",
        "tags": [
          "Borrow"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
              "x-example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
            },
            "example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
            "x-default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
            },
            "example": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "examples": [
                        "Withdraw from Kamino"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Withdraw SOL from Kamino lending"
                      ]
                    },
                    "label": {
                      "type": "string",
                      "examples": [
                        "Withdraw"
                      ]
                    },
                    "icon": {
                      "type": "string",
                      "examples": [
                        "https://kamino.dial.to/icon.png"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.lending.lendingReserveWithdraw",
        "summary": "Borrow Reserve Withdraw",
        "description": "Generate a transaction for withdrawing a token from Kamino's borrow reserve.",
        "tags": [
          "Borrow"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
              "x-example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
            },
            "example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
            "x-default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
            },
            "example": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
          },
          {
            "name": "percentage",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of funds to use",
              "default": 10,
              "example": 10
            }
          },
          {
            "name": "amount",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount to use. Human-readable value, e.g. 0.1 SOL",
              "examples": [
                0.5
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "example": "transaction",
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              },
              "examples": {
                "withdraw": {
                  "summary": "Withdraw transaction",
                  "value": {
                    "type": "transaction",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "transaction"
                      ],
                      "examples": [
                        "transaction"
                      ]
                    },
                    "transaction": {
                      "type": "string",
                      "examples": [
                        "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw931mdvp9vlLgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI8FZAz9nIL9hGE4x5rKjjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAICAgAB"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/lending/reserve/{market}/{reserve}/metadata": {
      "get": {
        "operationId": "v0.lending.getLendingReserveMetadata",
        "summary": "Market Reserve Metadata",
        "description": "Get metadata associated to a Kamino borrow reserve.",
        "tags": [
          "Borrow"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
              "x-example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
            },
            "example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
            "x-default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
            },
            "example": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "account": {
                  "type": "string",
                  "description": "Account public key",
                  "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                  "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "example": "apy"
                          },
                          "title": {
                            "type": "string",
                            "example": "Annual Percentage Yield"
                          },
                          "value": {
                            "type": "string",
                            "example": "5.24%"
                          }
                        },
                        "required": [
                          "key",
                          "title",
                          "value"
                        ]
                      },
                      "examples": [
                        [
                          {
                            "key": "apy",
                            "title": "Annual Percentage Yield",
                            "value": "5.24%"
                          },
                          {
                            "key": "deposited",
                            "title": "Your Deposited Amount",
                            "value": "10.5 SOL"
                          },
                          {
                            "key": "earned",
                            "title": "Total Earned",
                            "value": "0.12 SOL"
                          }
                        ]
                      ]
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/lending/reserve/{market}/{reserve}/redirect": {
      "post": {
        "operationId": "v0.lending.lendingReserveRedirect",
        "summary": "Market Reserve Redirect",
        "description": "Get a URL to a specific borrow reserve on Kamino's website",
        "tags": [
          "Borrow"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
              "x-example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
            },
            "example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
            "x-default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
            },
            "example": "Ga4rZytCpq1unD4DbEJ5bkHeUz9g3oh9AAFEi6vSauXp"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "external-link",
                      "example": "external-link"
                    },
                    "externalLink": {
                      "type": "string",
                      "example": "https://app.kamino.finance/lending/DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
                    }
                  },
                  "required": [
                    "type",
                    "externalLink"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/liquidity/{vaultAddress}/deposit": {
      "get": {
        "operationId": "v0.liquidity.getLiquidityStrategyDepositBlink",
        "summary": "Liquidity Vault Deposit",
        "description": "Get metadata for depositing into a liquidity vault.",
        "tags": [
          "Liquidity"
        ],
        "parameters": [
          {
            "name": "vaultAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Vault public key",
              "default": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7",
              "x-example": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7"
            },
            "example": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7",
            "x-default": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7"
          },
          {
            "name": "side",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "enum": [
                "A",
                "B"
              ],
              "default": "A",
              "description": "The side of the vault to deposit to",
              "examples": [
                "A"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "examples": [
                        "Deposit to Kamino"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Deposit SOL to earn yield on Kamino"
                      ]
                    },
                    "label": {
                      "type": "string",
                      "examples": [
                        "Deposit"
                      ]
                    },
                    "icon": {
                      "type": "string",
                      "examples": [
                        "https://kamino.dial.to/icon.png"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.liquidity.liquidityStrategyDeposit",
        "summary": "Liquidity Vault Deposit",
        "description": "Generate a transaction for depositing into Kamino's liquidity vault.",
        "tags": [
          "Liquidity"
        ],
        "parameters": [
          {
            "name": "vaultAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Vault public key",
              "default": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7",
              "x-example": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7"
            },
            "example": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7",
            "x-default": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7"
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount to use. Human-readable value, e.g. 0.1 SOL",
              "default": 2.0,
              "example": 2.0
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "enum": [
                "A",
                "B"
              ],
              "default": "A",
              "description": "The side of the vault to deposit to",
              "examples": [
                "A"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "example": "transaction",
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              },
              "examples": {
                "deposit": {
                  "summary": "Deposit transaction",
                  "value": {
                    "type": "transaction",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "transaction"
                      ],
                      "examples": [
                        "transaction"
                      ]
                    },
                    "transaction": {
                      "type": "string",
                      "examples": [
                        "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw931mdvp9vlLgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI8FZAz9nIL9hGE4x5rKjjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAICAgAB"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/liquidity/{vaultAddress}/withdraw": {
      "get": {
        "operationId": "v0.liquidity.getLiquidityStrategyWithdrawBlink",
        "summary": "Liquidity Vault Withdraw",
        "description": "Get metadata for withdrawing from a liquidity vault.",
        "tags": [
          "Liquidity"
        ],
        "parameters": [
          {
            "name": "vaultAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Vault public key",
              "default": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7",
              "x-example": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7"
            },
            "example": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7",
            "x-default": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "examples": [
                        "Withdraw from Kamino Vault"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Withdraw liquidity from Kamino strategy vault"
                      ]
                    },
                    "label": {
                      "type": "string",
                      "examples": [
                        "Withdraw"
                      ]
                    },
                    "icon": {
                      "type": "string",
                      "examples": [
                        "https://kamino.dial.to/icon.png"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.liquidity.liquidityStrategyWithdraw",
        "summary": "Liquidity Vault Withdraw",
        "description": "Generate a transaction for withdrawing from Kamino's liquidity vault.",
        "tags": [
          "Liquidity"
        ],
        "parameters": [
          {
            "name": "vaultAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Vault public key",
              "default": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7",
              "x-example": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7"
            },
            "example": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7",
            "x-default": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7"
          },
          {
            "name": "percentage",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "The percentage of shares to withdraw",
              "default": 75,
              "example": 75
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "example": "transaction",
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              },
              "examples": {
                "withdraw": {
                  "summary": "Withdraw transaction",
                  "value": {
                    "type": "transaction",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "transaction"
                      ],
                      "examples": [
                        "transaction"
                      ]
                    },
                    "transaction": {
                      "type": "string",
                      "examples": [
                        "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw931mdvp9vlLgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI8FZAz9nIL9hGE4x5rKjjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAICAgAB"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/multiply/{marketAddress}/setup": {
      "get": {
        "operationId": "v0.multiply.getMultiplySetupBlink",
        "summary": "Multiply Setup",
        "description": "Get metadata for setting up multiply position (LUT creation).",
        "tags": [
          "Multiply"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
              "examples": [
                "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
              ]
            },
            "example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4",
              "examples": [
                "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4"
              ]
            },
            "example": "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "examples": [
                "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              ]
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "examples": [
                        "Setup Multiply Position"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Setup your multiply position on Kamino"
                      ]
                    },
                    "label": {
                      "type": "string",
                      "examples": [
                        "Setup"
                      ]
                    },
                    "icon": {
                      "type": "string",
                      "examples": [
                        "https://kamino.dial.to/icon.png"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.multiply.multiplySetup",
        "summary": "Multiply Setup",
        "description": "Generate transactions for setting up multiply position (LUT creation).",
        "tags": [
          "Multiply"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
              "examples": [
                "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
              ]
            },
            "example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4",
              "examples": [
                "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4"
              ]
            },
            "example": "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "examples": [
                "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              ]
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "examples": [
                      "transaction"
                    ],
                    "example": "transaction",
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "examples": [
                      "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                    ],
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              },
              "examples": {
                "setup": {
                  "summary": "Setup multiply position",
                  "value": {
                    "type": "transaction",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string",
                      "examples": [
                        "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw931mdvp9vlLgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI8FZAz9nIL9hGE4x5rKjjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAICAgAB"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/multiply/{marketAddress}/deposit": {
      "get": {
        "operationId": "v0.multiply.getMultiplyDepositBlink",
        "summary": "Multiply Deposit",
        "description": "Get metadata for depositing with leverage/multiply.",
        "tags": [
          "Multiply"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
              "examples": [
                "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
              ]
            },
            "example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4",
              "examples": [
                "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4"
              ]
            },
            "example": "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "examples": [
                "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              ]
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "examples": [
                        "Multiply on Kamino"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Deposit with leverage to multiply your position"
                      ]
                    },
                    "label": {
                      "type": "string",
                      "examples": [
                        "Multiply"
                      ]
                    },
                    "icon": {
                      "type": "string",
                      "examples": [
                        "https://kamino.dial.to/icon.png"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.multiply.multiplyDeposit",
        "summary": "Multiply Deposit",
        "description": "Generate a transaction for depositing with leverage/multiply.",
        "tags": [
          "Multiply"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
              "examples": [
                "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
              ]
            },
            "example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4",
              "examples": [
                "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4"
              ]
            },
            "example": "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "examples": [
                "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              ]
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "leverage",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": 1.1,
              "maximum": 10,
              "description": "Leverage multiplier (1.1-10x)",
              "default": 3,
              "examples": [
                3
              ]
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": 5,
              "description": "The amount to deposit. Human readable value, e.g. 0.1 SOL",
              "default": 0.1,
              "example": 5,
              "examples": [
                0.1
              ]
            },
            "allowEmptyValue": true,
            "allowReserved": true,
            "example": 0.1
          },
          {
            "name": "slippage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0.1,
              "maximum": 10,
              "default": 0.5,
              "description": "Slippage tolerance in percentage (0.1-10%)",
              "examples": [
                0.5
              ]
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transactions"
                    ],
                    "examples": [
                      "transactions"
                    ],
                    "example": "transactions",
                    "default": "transactions"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "examples": [
                      "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                    ],
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              },
              "examples": {
                "deposit": {
                  "summary": "Multiply deposit transaction",
                  "value": {
                    "type": "transactions",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transactions"
                    },
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "examples": [
                        [
                          "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw931mdvp9vlLgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI8FZAz9nIL9hGE4x5rKjjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAICAgAB"
                        ]
                      ]
                    },
                    "mode": {
                      "const": "sequential"
                    },
                    "dialectExperimental": {
                      "type": "object",
                      "properties": {
                        "reference": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "type",
                    "transactions",
                    "mode"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/multiply/{marketAddress}/withdraw": {
      "get": {
        "operationId": "v0.multiply.getMultiplyWithdrawBlink",
        "summary": "Multiply Withdraw",
        "description": "Get metadata for withdrawing from multiply position.",
        "tags": [
          "Multiply"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
              "examples": [
                "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
              ]
            },
            "example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4",
              "examples": [
                "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4"
              ]
            },
            "example": "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "examples": [
                "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              ]
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "examples": [
                        "Close Multiply Position"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Withdraw from your multiply position on Kamino"
                      ]
                    },
                    "label": {
                      "type": "string",
                      "examples": [
                        "Withdraw"
                      ]
                    },
                    "icon": {
                      "type": "string",
                      "examples": [
                        "https://kamino.dial.to/icon.png"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.multiply.multiplyWithdraw",
        "summary": "Multiply Withdraw",
        "description": "Generate a transaction for withdrawing from multiply position.",
        "tags": [
          "Multiply"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek",
              "examples": [
                "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
              ]
            },
            "example": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4",
              "examples": [
                "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4"
              ]
            },
            "example": "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "examples": [
                "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              ]
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "percentage",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "The percentage of position to withdraw",
              "default": 10,
              "examples": [
                10
              ]
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "slippage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0.1,
              "maximum": 10,
              "default": 3,
              "description": "Slippage tolerance in percentage (0.1-10%)",
              "examples": [
                3
              ]
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "examples": [
                      "transaction"
                    ],
                    "example": "transaction",
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "examples": [
                      "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                    ],
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ],
                "examples": {
                  "withdraw": {
                    "summary": "Multiply withdraw transaction",
                    "value": {
                      "type": "transaction",
                      "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string",
                      "examples": [
                        "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw931mdvp9vlLgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI8FZAz9nIL9hGE4x5rKjjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAICAgAB"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/leverage/{marketAddress}/setup": {
      "get": {
        "operationId": "v0.leverage.getLeverageSetupBlink",
        "summary": "Leverage Setup",
        "description": "Get metadata for setting up leverage position (LUT creation).",
        "tags": [
          "Leverage"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF",
              "examples": [
                "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
              ]
            },
            "example": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "So11111111111111111111111111111111111111112",
              "examples": [
                "So11111111111111111111111111111111111111112"
              ]
            },
            "example": "So11111111111111111111111111111111111111112",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "examples": [
                "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              ]
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "examples": [
                        "Setup Leverage Position"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Create LUT for leverage position on Kamino"
                      ]
                    },
                    "label": {
                      "type": "string",
                      "examples": [
                        "Setup"
                      ]
                    },
                    "icon": {
                      "type": "string",
                      "examples": [
                        "https://kamino.dial.to/icon.png"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.leverage.leverageSetup",
        "summary": "Leverage Setup",
        "description": "Generate transactions for setting up leverage position (LUT creation).",
        "tags": [
          "Leverage"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF",
              "examples": [
                "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
              ]
            },
            "example": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "So11111111111111111111111111111111111111112",
              "examples": [
                "So11111111111111111111111111111111111111112"
              ]
            },
            "example": "So11111111111111111111111111111111111111112",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "examples": [
                "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              ]
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "example": "transaction",
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              },
              "examples": {
                "setup": {
                  "summary": "Setup leverage position",
                  "value": {
                    "type": "transaction",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/leverage/{marketAddress}/openPosition": {
      "get": {
        "operationId": "v0.leverage.getLeverageOpenPositionBlink",
        "summary": "Leverage Open Position",
        "description": "Get metadata for opening a leverage position.",
        "tags": [
          "Leverage"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF",
              "examples": [
                "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
              ]
            },
            "example": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "So11111111111111111111111111111111111111112",
              "examples": [
                "So11111111111111111111111111111111111111112"
              ]
            },
            "example": "So11111111111111111111111111111111111111112",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "examples": [
                "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              ]
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "examples": [
                        "Leverage Deposit"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Deposit with leverage on Kamino"
                      ]
                    },
                    "label": {
                      "type": "string",
                      "examples": [
                        "Deposit"
                      ]
                    },
                    "icon": {
                      "type": "string",
                      "examples": [
                        "https://kamino.dial.to/icon.png"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.leverage.leverageOpenPosition",
        "summary": "Leverage Open Position",
        "description": "Generate a transaction for opening a leverage position.",
        "tags": [
          "Leverage"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF",
              "examples": [
                "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
              ]
            },
            "example": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "So11111111111111111111111111111111111111112",
              "examples": [
                "So11111111111111111111111111111111111111112"
              ]
            },
            "example": "So11111111111111111111111111111111111111112",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "examples": [
                "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              ]
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "leverage",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": 1.1,
              "maximum": 10,
              "description": "Leverage multiplier (1.1-10x)",
              "default": 2.0,
              "example": 2.0,
              "examples": [
                2.0
              ]
            },
            "example": 2.0,
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount to deposit. Human readable value, e.g. 0.1 SOL",
              "default": 0.1,
              "example": 0.1,
              "examples": [
                0.1
              ]
            },
            "example": 0.1,
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "slippage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0.1,
              "maximum": 10,
              "default": 0.5,
              "description": "Slippage tolerance in percentage (0.1-10%)",
              "example": 0.5,
              "examples": [
                0.5
              ]
            },
            "example": 0.5,
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "example": "transaction",
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              },
              "examples": {
                "deposit": {
                  "summary": "Leverage deposit transaction",
                  "value": {
                    "type": "transaction",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/leverage/{marketAddress}/closePosition": {
      "get": {
        "operationId": "v0.leverage.getLeverageClosePositionBlink",
        "summary": "Leverage Close Position",
        "description": "Get metadata for closing a leverage position.",
        "tags": [
          "Leverage"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF",
              "examples": [
                "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
              ]
            },
            "example": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "So11111111111111111111111111111111111111112",
              "examples": [
                "So11111111111111111111111111111111111111112"
              ]
            },
            "example": "So11111111111111111111111111111111111111112",
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "examples": [
                "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
              ]
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "examples": [
                        "Leverage Withdraw"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Withdraw from your leverage position on Kamino"
                      ]
                    },
                    "label": {
                      "type": "string",
                      "examples": [
                        "Withdraw"
                      ]
                    },
                    "icon": {
                      "type": "string",
                      "examples": [
                        "https://kamino.dial.to/icon.png"
                      ]
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
[...]
