{
  "info": {
    "title": "Kamino Blinks API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://kamino.dial.to/api"
    }
  ],
  "openapi": "3.1.1",
  "paths": {
    "/v0/lending/reserve/{market}/{reserve}/deposit": {
      "get": {
        "operationId": "kamino.v0.lending.getLendingReserveDepositBlink",
        "summary": "Deposit",
        "description": "Get a blink for deposit operations on a reserve",
        "tags": [
          "Borrow"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
            }
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "d4A2prbA2whesmvHaL88BH6Ewn5N4bTSU2Ze8P6Bc4Q"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/borrow/deposit-get"
        }
      },
      "post": {
        "operationId": "kamino.v0.lending.lendingReserveDeposit",
        "summary": "Deposit",
        "description": "Execute a deposit operation",
        "tags": [
          "Borrow"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
            }
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "d4A2prbA2whesmvHaL88BH6Ewn5N4bTSU2Ze8P6Bc4Q"
            }
          },
          {
            "name": "percentage",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of funds to use",
              "default": 10
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount to use. Human readable value, e.g. 0.1 SOL"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "href": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "href"
                          ]
                        }
                      },
                      "required": [
                        "next"
                      ]
                    },
                    "dialectExperimental": {
                      "type": "object",
                      "properties": {
                        "reference": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/borrow/deposit-post"
        }
      }
    },
    "/v0/lending/reserve/{market}/{reserve}/withdraw": {
      "get": {
        "operationId": "kamino.v0.lending.getLendingReserveWithdrawBlink",
        "summary": "Withdraw",
        "description": "Get a blink for withdraw operations on a reserve",
        "tags": [
          "Borrow"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
            }
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "d4A2prbA2whesmvHaL88BH6Ewn5N4bTSU2Ze8P6Bc4Q"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/borrow/withdraw-get"
        }
      },
      "post": {
        "operationId": "kamino.v0.lending.lendingReserveWithdraw",
        "summary": "Withdraw",
        "description": "Execute a withdraw operation",
        "tags": [
          "Borrow"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
            }
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "d4A2prbA2whesmvHaL88BH6Ewn5N4bTSU2Ze8P6Bc4Q"
            }
          },
          {
            "name": "percentage",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of funds to withdraw",
              "default": 10
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount to withdraw. Human readable value (not lamports), e.g. 0.1 SOL. If amount close to the deposited amount (99.9%), the full amount will be withdrawn"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "href": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "href"
                          ]
                        }
                      },
                      "required": [
                        "next"
                      ]
                    },
                    "dialectExperimental": {
                      "type": "object",
                      "properties": {
                        "reference": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/borrow/withdraw-post"
        }
      }
    },
    "/v0/lending/reserve/{market}/{reserve}/borrow": {
      "get": {
        "operationId": "kamino.v0.lending.getLendingReserveBorrowBlink",
        "summary": "Borrow",
        "description": "Get a blink for borrow operations on a reserve",
        "tags": [
          "Borrow"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
            }
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "D6q6wuQSrifJKZYpR1M8R4YawnLDtDsMmWM1NbBmgJ59"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/borrow/borrow-get"
        }
      },
      "post": {
        "operationId": "kamino.v0.lending.lendingReserveBorrow",
        "summary": "Borrow",
        "description": "Execute a borrow operation",
        "tags": [
          "Borrow"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
            }
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "D6q6wuQSrifJKZYpR1M8R4YawnLDtDsMmWM1NbBmgJ59"
            }
          },
          {
            "name": "percentage",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of borrow capacity to use",
              "default": 10
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount to borrow. Human readable value, e.g. 0.1 SOL"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "href": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "href"
                          ]
                        }
                      },
                      "required": [
                        "next"
                      ]
                    },
                    "dialectExperimental": {
                      "type": "object",
                      "properties": {
                        "reference": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/borrow/borrow-post"
        }
      }
    },
    "/v0/lending/reserve/{market}/{reserve}/repay": {
      "get": {
        "operationId": "kamino.v0.lending.getLendingReserveRepayBlink",
        "summary": "Repay",
        "description": "Get a blink for repay operations on a reserve",
        "tags": [
          "Borrow"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
            }
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "D6q6wuQSrifJKZYpR1M8R4YawnLDtDsMmWM1NbBmgJ59"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/borrow/repay-get"
        }
      },
      "post": {
        "operationId": "kamino.v0.lending.lendingReserveRepay",
        "summary": "Repay",
        "description": "Execute a repay operation",
        "tags": [
          "Borrow"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
            }
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "D6q6wuQSrifJKZYpR1M8R4YawnLDtDsMmWM1NbBmgJ59"
            }
          },
          {
            "name": "percentage",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of borrowed amount to repay",
              "default": 10
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount to repay. Human readable value, e.g. 0.1 SOL"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "href": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "href"
                          ]
                        }
                      },
                      "required": [
                        "next"
                      ]
                    },
                    "dialectExperimental": {
                      "type": "object",
                      "properties": {
                        "reference": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/borrow/repay-post"
        }
      }
    },
    "/v0/lending/reserve/{market}/{reserve}/repay-with-collateral": {
      "get": {
        "operationId": "kamino.v0.lending.getLendingReserveRepayCollateralBlink",
        "summary": "Repay With Collateral",
        "description": "Get a blink for repaying debt using collateral",
        "tags": [
          "Borrow"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
            }
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt reserve public key",
              "default": "D6q6wuQSrifJKZYpR1M8R4YawnLDtDsMmWM1NbBmgJ59"
            }
          },
          {
            "name": "collateral",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral reserve mint public key",
              "default": "So11111111111111111111111111111111111111112"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/borrow/repay-with-collateral-get"
        }
      },
      "post": {
        "operationId": "kamino.v0.lending.lendingReserveRepayCollateral",
        "summary": "Repay With Collateral",
        "description": "Execute a repay with collateral operation",
        "tags": [
          "Borrow"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
            }
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt reserve public key",
              "default": "D6q6wuQSrifJKZYpR1M8R4YawnLDtDsMmWM1NbBmgJ59"
            }
          },
          {
            "name": "collateral",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral reserve mint public key",
              "default": "So11111111111111111111111111111111111111112"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "percentage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of borrowed amount to repay",
              "default": 10
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount to repay. Human readable value, e.g. 0.1 SOL"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "href": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "href"
                          ]
                        }
                      },
                      "required": [
                        "next"
                      ]
                    },
                    "dialectExperimental": {
                      "type": "object",
                      "properties": {
                        "reference": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/borrow/repay-with-collateral-post"
        }
      }
    },
    "/v0/lending/reserve/{market}/{reserve}/claim-rewards": {
      "get": {
        "operationId": "kamino.v0.lending.getLendingReserveClaimRewardsBlink",
        "summary": "Claim Rewards",
        "description": "Get a blink for claiming rewards on a reserve",
        "tags": [
          "Borrow"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
            }
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "d4A2prbA2whesmvHaL88BH6Ewn5N4bTSU2Ze8P6Bc4Q"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/borrow/claim-rewards-get"
        }
      },
      "post": {
        "operationId": "kamino.v0.lending.lendingReserveClaimRewards",
        "summary": "Claim Rewards",
        "description": "Execute a claim rewards operation",
        "tags": [
          "Borrow"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
            }
          },
          {
            "name": "reserve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reserve public key",
              "default": "2gc9Dm1eB6UgVYFBUN9bWks6Kes9PbWSaPaa9DqyvEiN"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "href": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "href"
                          ]
                        }
                      },
                      "required": [
                        "next"
                      ]
                    },
                    "dialectExperimental": {
                      "type": "object",
                      "properties": {
                        "reference": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/borrow/claim-rewards-post"
        }
      }
    },
    "/v0/liquidity/{vaultAddress}/deposit": {
      "get": {
        "operationId": "kamino.v0.liquidity.getLiquidityStrategyDepositBlink",
        "summary": "Liquidity Vault Deposit",
        "description": "Get metadata for depositing into a liquidity vault.",
        "tags": [
          "Liquidity"
        ],
        "parameters": [
          {
            "name": "vaultAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Vault public key",
              "default": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7"
            }
          },
          {
            "name": "side",
            "in": "query",
            "schema": {
              "enum": [
                "A",
                "B"
              ],
              "default": "A",
              "description": "The side of the vault to deposit to"
            },
            "style": "deepObject",
            "explode": true,
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/liquidity/deposit-get"
        }
      },
      "post": {
        "operationId": "kamino.v0.liquidity.liquidityStrategyDeposit",
        "summary": "Liquidity Vault Deposit",
        "description": "Generate a transaction for depositing into a liquidity vault.",
        "tags": [
          "Liquidity"
        ],
        "parameters": [
          {
            "name": "vaultAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Vault public key",
              "default": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount to use. Human readable value, e.g. 0.1",
              "default": "0.1"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "A",
                "B"
              ],
              "default": "A",
              "description": "The side of the vault to deposit to"
            },
            "style": "deepObject",
            "explode": true,
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "href": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "href"
                          ]
                        }
                      },
                      "required": [
                        "next"
                      ]
                    },
                    "dialectExperimental": {
                      "type": "object",
                      "properties": {
                        "reference": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/liquidity/deposit-post"
        }
      }
    },
    "/v0/liquidity/{vaultAddress}/withdraw": {
      "get": {
        "operationId": "kamino.v0.liquidity.getLiquidityStrategyWithdrawBlink",
        "summary": "Liquidity Vault Withdraw",
        "description": "Get metadata for withdrawing from a liquidity vault.",
        "tags": [
          "Liquidity"
        ],
        "parameters": [
          {
            "name": "vaultAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Vault public key",
              "default": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/liquidity/withdraw-get"
        }
      },
      "post": {
        "operationId": "kamino.v0.liquidity.liquidityStrategyWithdraw",
        "summary": "Liquidity Vault Withdraw",
        "description": "Generate a transaction for withdrawing from a liquidity vault.",
        "tags": [
          "Liquidity"
        ],
        "parameters": [
          {
            "name": "vaultAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Vault public key",
              "default": "BLP7UHUg1yNry94Qk3sM8pAfEyDhTZirwFghw9DoBjn7"
            }
          },
          {
            "name": "percentage",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "The percentage of shares to withdraw (1-100)",
              "default": 100
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "href": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "href"
                          ]
                        }
                      },
                      "required": [
                        "next"
                      ]
                    },
                    "dialectExperimental": {
                      "type": "object",
                      "properties": {
                        "reference": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/liquidity/withdraw-post"
        }
      }
    },
    "/v0/multiply/{marketAddress}/setup": {
      "get": {
        "operationId": "kamino.v0.multiply.getMultiplySetupBlink",
        "summary": "Multiply Setup",
        "description": "Get metadata for setting up multiply position (LUT creation).",
        "tags": [
          "Multiply"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
            }
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/multiply/setup-get"
        }
      },
      "post": {
        "operationId": "kamino.v0.multiply.multiplySetup",
        "summary": "Multiply Setup",
        "description": "Generate transactions for setting up multiply position (LUT creation).",
        "tags": [
          "Multiply"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
            }
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "href": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "href"
                          ]
                        }
                      },
                      "required": [
                        "next"
                      ]
                    },
                    "dialectExperimental": {
                      "type": "object",
                      "properties": {
                        "reference": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/multiply/setup-post"
        }
      }
    },
    "/v0/multiply/{marketAddress}/deposit": {
      "get": {
        "operationId": "kamino.v0.multiply.getMultiplyDepositBlink",
        "summary": "Multiply Deposit",
        "description": "Get metadata for depositing with leverage/multiply.",
        "tags": [
          "Multiply"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
            }
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/multiply/deposit-get"
        }
      },
      "post": {
        "operationId": "kamino.v0.multiply.multiplyDeposit",
        "summary": "Multiply Deposit",
        "description": "Generate a transaction for depositing with leverage/multiply.",
        "tags": [
          "Multiply"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
            }
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "A",
                "B"
              ],
              "default": "A",
              "description": "The side of the multiply to deposit to"
            },
            "style": "deepObject",
            "explode": true,
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "leverage",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": 1.1,
              "maximum": 10,
              "description": "Leverage multiplier (1.1-10x)",
              "default": 2
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount to deposit. Human readable value, e.g. 0.1 JLP",
              "default": "0.1"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "slippage",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": 0.1,
              "maximum": 10,
              "description": "Slippage tolerance in percentage (0.1-10%)",
              "default": 0.5
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transactions"
                    ],
                    "default": "transactions"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transactions"
                    },
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "mode": {
                      "const": "sequential"
                    },
                    "dialectExperimental": {
                      "type": "object",
                      "properties": {
                        "reference": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "type",
                    "transactions",
                    "mode"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/multiply/deposit-post"
        }
      }
    },
    "/v0/multiply/{marketAddress}/withdraw": {
      "get": {
        "operationId": "kamino.v0.multiply.getMultiplyWithdrawBlink",
        "summary": "Multiply Withdraw",
        "description": "Get metadata for withdrawing from multiply position.",
        "tags": [
          "Multiply"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
            }
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/multiply/withdraw-get"
        }
      },
      "post": {
        "operationId": "kamino.v0.multiply.multiplyWithdraw",
        "summary": "Multiply Withdraw",
        "description": "Generate a transaction for withdrawing from multiply position.",
        "tags": [
          "Multiply"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "DxXdAyU3kCjnyggvHmY5nAwg5cRbbmdyX3npfDMjjMek"
            }
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "27G8MtK7VtTcCHkpASjSDdkWWYfoqT6ggEuKidVJidD4"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "A",
                "B"
              ],
              "default": "A",
              "description": "The side of the multiply to withdraw from"
            },
            "style": "deepObject",
            "explode": true,
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "percentage",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "The percentage of position to withdraw (1-100)",
              "default": 10
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "slippage",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": 0.1,
              "maximum": 10,
              "description": "Slippage tolerance in percentage (0.1-10%)",
              "default": 0.5
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "href": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "href"
                          ]
                        }
                      },
                      "required": [
                        "next"
                      ]
                    },
                    "dialectExperimental": {
                      "type": "object",
                      "properties": {
                        "reference": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/kamino/multiply/withdraw-post"
        }
      }
    },
    "/v0/leverage/{marketAddress}/setup": {
      "get": {
        "operationId": "kamino.v0.leverage.getLeverageSetupBlink",
        "summary": "Leverage Setup",
        "description": "Get metadata for setting up leverage position (LUT creation).",
        "tags": [
          "Leverage"
        ],
        "parameters": [
          {
            "name": "marketAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Market public key",
              "default": "7u3HeHxYDLhnCoErrtycNokbQYbWGzLs6JSDqGAv5PfF"
            }
          },
          {
            "name": "collTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Collateral token mint address",
              "default": "So11111111111111111111111111111111111111112"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "debtTokenMint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Debt token mint address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "enum": [
                                  "transaction",
                                  "external-link"
                                ]
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
[...]
