{
  "openapi": "3.1.1",
  "x-mcp": {
    "enabled": true
  },
  "info": {
    "title": "Lulo Blinks",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://lulo.dial.to/api"
    }
  ],
  "paths": {
    "/v0/deposit/{token}/{type}": {
      "get": {
        "operationId": "v0.deposit.getDepositTokenBlink",
        "summary": "Deposit",
        "description": "Get metadata for depositing a token, such as USDC, into Lulo.",
        "tags": ["Deposit"],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token ticker or mint address",
              "default": "USDC",
              "example": "USDC"
            },
            "example": "USDC",
            "x-default": "USDC"
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "enum": ["protected", "regular"],
              "description": "Deposit type: protected (PUSD) or regular (LUSD)",
              "default": "protected",
              "example": "protected"
            },
            "example": "protected",
            "x-default": "protected"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": ["name", "type", "label"]
                                }
                              }
                            },
                            "required": ["type", "href", "label"]
                          }
                        }
                      },
                      "required": ["actions"]
                    }
                  },
                  "required": ["title", "description", "label", "icon", "links"]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.deposit.depositToken",
        "summary": "Deposit",
        "description": "Generate a transaction for depositing a token into Lulo.",
        "tags": ["Deposit"],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token ticker or mint address",
              "default": "USDC",
              "example": "USDC"
            },
            "example": "USDC",
            "x-default": "USDC"
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "enum": ["protected", "regular"],
              "description": "Deposit type: protected (PUSD) or regular (LUSD)",
              "default": "protected",
              "example": "protected"
            },
            "example": "protected",
            "x-default": "protected"
          },
          {
            "name": "amount",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "number",
              "minimum": 1,
              "description": "The amount to deposit. Human readable value, e.g. 100 USDC",
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "percentage",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "The percentage of balance to deposit"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["transaction"],
                    "default": "transaction",
                    "example": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": ["type", "account"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": ["type", "transaction"]
                }
              }
            }
          }
        }
      }
    },
    "/v0/withdraw/{token}/{type}": {
      "get": {
        "operationId": "v0.withdraw.getWithdrawTokenBlink",
        "summary": "Withdraw",
        "description": "Get metadata for withdrawing a token from Lulo.",
        "tags": ["Withdraw"],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token ticker or mint address",
              "default": "USDC",
              "example": "USDC"
            },
            "example": "USDC",
            "x-default": "USDC"
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "enum": ["protected", "regular"],
              "description": "Withdraw type: protected or regular",
              "default": "protected",
              "example": "protected"
            },
            "example": "protected",
            "x-default": "protected"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": ["name", "type", "label"]
                                }
                              }
                            },
                            "required": ["type", "href", "label"]
                          }
                        }
                      },
                      "required": ["actions"]
                    }
                  },
                  "required": ["title", "description", "label", "icon", "links"]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.withdraw.withdrawToken",
        "summary": "Withdraw",
        "description": "Generate a transaction for withdrawing a token from Lulo.",
        "tags": ["Withdraw"],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token ticker or mint address",
              "default": "USDC",
              "example": "USDC"
            },
            "example": "USDC",
            "x-default": "USDC"
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "enum": ["protected", "regular"],
              "description": "Withdraw type: protected or regular",
              "default": "protected",
              "example": "protected"
            },
            "example": "protected",
            "x-default": "protected"
          },
          {
            "name": "amount",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount to withdraw. Human readable value, e.g. 100 USDC"
            }
          },
          {
            "name": "percentage",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "The percentage of balance to withdraw",
              "default": 100,
              "example": 100
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["transaction"],
                    "default": "transaction",
                    "example": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": ["type", "account"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": ["type", "transaction"]
                }
              }
            }
          }
        }
      }
    },
    "/v0/withdraw/{token}/regular/complete": {
      "get": {
        "operationId": "v0.withdraw.getCompleteRegularWithdrawalBlink",
        "summary": "Complete Regular Withdrawal",
        "description": "Get metadata for withdrawing a token from Lulo Regular after cooldown period.",
        "tags": ["Withdraw"],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token ticker or mint address",
              "default": "USDC",
              "example": "USDC"
            },
            "example": "USDC",
            "x-default": "USDC"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": ["name", "type", "label"]
                                }
                              }
                            },
                            "required": ["type", "href", "label"]
                          }
                        }
                      },
                      "required": ["actions"]
                    }
                  },
                  "required": ["title", "description", "label", "icon", "links"]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.withdraw.completeRegularWithdrawal",
        "summary": "Complete Regular Withdrawal",
        "description": "Generate a transaction for withdrawing a token from Lulo Regular after cooldown period.",
        "tags": ["Withdraw"],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token ticker or mint address",
              "default": "USDC",
              "example": "USDC"
            },
            "example": "USDC",
            "x-default": "USDC"
          },
          {
            "name": "withdrawalId",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991,
              "description": "The pending withdrawal ID",
              "default": 1,
              "example": 1,
              "examples": [1, 2, 3]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["transaction"],
                    "default": "transaction",
                    "example": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": ["type", "account"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": ["type", "transaction"]
                }
              }
            }
          }
        }
      }
    }
  }
}
