{
  "openapi": "3.1.1",
  "x-mcp": {
    "enabled": true
  },
  "info": {
    "title": "Markets & Positions API (Beta)",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://markets.dial.to/api"
    }
  ],
  "paths": {
    "/v0/markets": {
      "get": {
        "operationId": "marketsV0Api.listMarkets",
        "summary": "List all markets",
        "description": "Supported providers: MarginFi Lending, Kamino Lending.",
        "tags": [
          "Markets"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "const": "lending"
                          },
                          "provider": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name"
                            ]
                          },
                          "token": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals"
                            ]
                          },
                          "depositApy": {
                            "type": "number"
                          },
                          "borrowApy": {
                            "type": "number"
                          },
                          "totalDeposit": {
                            "type": "number"
                          },
                          "totalDepositUsd": {
                            "type": "number"
                          },
                          "totalBorrow": {
                            "type": "number"
                          },
                          "totalBorrowUsd": {
                            "type": "number"
                          },
                          "maxDeposit": {
                            "type": "number"
                          },
                          "maxBorrow": {
                            "type": "number"
                          },
                          "oraclePrice": {
                            "type": "number"
                          },
                          "additionalData": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          },
                          "actions": {
                            "type": "object",
                            "properties": {
                              "deposit": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              },
                              "withdraw": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "provider",
                          "token",
                          "depositApy",
                          "borrowApy",
                          "totalDeposit",
                          "totalBorrow",
                          "maxDeposit",
                          "maxBorrow",
                          "actions"
                        ]
                      }
                    }
                  },
                  "required": [
                    "markets"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/marketsByType": {
      "get": {
        "operationId": "marketsV0Api.listMarketsGroupedByType",
        "summary": "List all markets grouped by type",
        "description": "Supported providers: MarginFi Lending, Kamino Lending.",
        "tags": [
          "Markets"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lending": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "const": "lending"
                          },
                          "provider": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name"
                            ]
                          },
                          "token": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals"
                            ]
                          },
                          "depositApy": {
                            "type": "number"
                          },
                          "borrowApy": {
                            "type": "number"
                          },
                          "totalDeposit": {
                            "type": "number"
                          },
                          "totalDepositUsd": {
                            "type": "number"
                          },
                          "totalBorrow": {
                            "type": "number"
                          },
                          "totalBorrowUsd": {
                            "type": "number"
                          },
                          "maxDeposit": {
                            "type": "number"
                          },
                          "maxBorrow": {
                            "type": "number"
                          },
                          "oraclePrice": {
                            "type": "number"
                          },
                          "additionalData": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          },
                          "actions": {
                            "type": "object",
                            "properties": {
                              "deposit": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              },
                              "withdraw": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "provider",
                          "token",
                          "depositApy",
                          "borrowApy",
                          "totalDeposit",
                          "totalBorrow",
                          "maxDeposit",
                          "maxBorrow",
                          "actions"
                        ]
                      }
                    }
                  },
                  "required": [
                    "lending"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/positions/owners": {
      "get": {
        "operationId": "positionsV0Api.positionsByOwners",
        "summary": "List all market positions by wallet address",
        "description": "Supported providers & markets: Kamino Lending.",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "name": "walletAddresses",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Comma separated list of owner addresses. Currently only supports one address."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "positions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "const": "lending"
                          },
                          "marketId": {
                            "type": "string"
                          },
                          "ownerAddress": {
                            "type": "string"
                          },
                          "side": {
                            "enum": [
                              "deposit",
                              "borrow"
                            ]
                          },
                          "amount": {
                            "type": "number"
                          },
                          "amountUsd": {
                            "type": "number"
                          },
                          "additionalData": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          },
                          "market": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "const": "lending"
                              },
                              "provider": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name"
                                ]
                              },
                              "token": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals"
                                ]
                              },
                              "depositApy": {
                                "type": "number"
                              },
                              "borrowApy": {
                                "type": "number"
                              },
                              "totalDeposit": {
                                "type": "number"
                              },
                              "totalDepositUsd": {
                                "type": "number"
                              },
                              "totalBorrow": {
                                "type": "number"
                              },
                              "totalBorrowUsd": {
                                "type": "number"
                              },
                              "maxDeposit": {
                                "type": "number"
                              },
                              "maxBorrow": {
                                "type": "number"
                              },
                              "oraclePrice": {
                                "type": "number"
                              },
                              "additionalData": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              "actions": {
                                "type": "object",
                                "properties": {
                                  "deposit": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  },
                                  "withdraw": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  }
                                }
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "provider",
                              "token",
                              "depositApy",
                              "borrowApy",
                              "totalDeposit",
                              "totalBorrow",
                              "maxDeposit",
                              "maxBorrow",
                              "actions"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "marketId",
                          "ownerAddress",
                          "side",
                          "amount",
                          "market"
                        ]
                      }
                    }
                  },
                  "required": [
                    "positions"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "x-dialect-api-key",
        "in": "header",
        "description": "API key for the Markets API"
      }
    }
  }
}