{
  "openapi": "3.1.1",
  "x-mcp": {
    "enabled": true
  },
  "info": {
    "title": "Markets & Positions API (Beta)",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://markets.dial.to/api"
    }
  ],
  "paths": {
    "/v0/markets": {
      "get": {
        "operationId": "marketsV0Api.listMarkets",
        "summary": "List all markets",
        "description": "Returns real-time market data from supported protocols. See [Protocol Support Roadmap](/markets#protocol-support-roadmap) for the full list of supported providers.",
        "tags": [
          "Markets"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "enum": [
                "lending",
                "yield",
                "loop",
                "perpetual"
              ]
            },
            "style": "deepObject",
            "explode": true,
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "title": "Lending Market",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "const": "lending"
                              },
                              "provider": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "enum": [
                                      "kamino",
                                      "lulo",
                                      "marginfi"
                                    ]
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name"
                                ]
                              },
                              "token": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals"
                                ]
                              },
                              "depositApy": {
                                "type": "number"
                              },
                              "borrowApy": {
                                "type": "number"
                              },
                              "totalDeposit": {
                                "type": "number"
                              },
                              "totalDepositUsd": {
                                "type": "number"
                              },
                              "totalBorrow": {
                                "type": "number"
                              },
                              "totalBorrowUsd": {
                                "type": "number"
                              },
                              "maxDeposit": {
                                "type": "number"
                              },
                              "maxBorrow": {
                                "type": "number"
                              },
                              "oraclePrice": {
                                "type": "number"
                              },
                              "additionalData": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              "actions": {
                                "type": "object",
                                "properties": {
                                  "deposit": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  },
                                  "withdraw": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  }
                                }
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "provider",
                              "token",
                              "depositApy",
                              "borrowApy",
                              "totalDeposit",
                              "totalBorrow",
                              "maxDeposit",
                              "maxBorrow",
                              "actions"
                            ]
                          },
                          {
                            "title": "Yield Market",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "const": "yield"
                              },
                              "provider": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "enum": [
                                      "kamino",
                                      "lulo",
                                      "marginfi"
                                    ]
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name"
                                ]
                              },
                              "token": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals"
                                ]
                              },
                              "depositApy": {
                                "type": "number"
                              },
                              "additionalData": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              "actions": {
                                "type": "object",
                                "properties": {
                                  "deposit": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  },
                                  "withdraw": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  },
                                  "withdrawComplete": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  }
                                }
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "provider",
                              "token",
                              "depositApy",
                              "actions"
                            ]
                          },
                          {
                            "title": "Loop Market",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "const": "loop"
                              },
                              "provider": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "enum": [
                                      "kamino",
                                      "lulo",
                                      "marginfi"
                                    ]
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name"
                                ]
                              },
                              "tokenA": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals"
                                ]
                              },
                              "tokenB": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals"
                                ]
                              },
                              "depositApy": {
                                "type": "number"
                              },
                              "maxLeverage": {
                                "type": "number"
                              },
                              "additionalData": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              "actions": {
                                "type": "object",
                                "properties": {
                                  "setup": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  },
                                  "deposit": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  },
                                  "withdraw": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  }
                                }
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "provider",
                              "tokenA",
                              "tokenB",
                              "depositApy",
                              "maxLeverage",
                              "actions"
                            ]
                          },
                          {
                            "title": "Perpetual Market",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "const": "perpetual"
                              },
                              "provider": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "enum": [
                                      "kamino",
                                      "lulo",
                                      "marginfi"
                                    ]
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name"
                                ]
                              },
                              "tokenA": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals"
                                ]
                              },
                              "tokenB": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals"
                                ]
                              },
                              "liquidity": {
                                "type": "object",
                                "properties": {
                                  "longUsd": {
                                    "type": "number"
                                  },
                                  "shortUsd": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "longUsd",
                                  "shortUsd"
                                ]
                              },
                              "maxLeverage": {
                                "type": "number"
                              },
                              "additionalData": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              "actions": {
                                "type": "object",
                                "properties": {
                                  "setup": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  },
                                  "openPosition": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  },
                                  "closePosition": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  }
                                }
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "provider",
                              "tokenA",
                              "tokenB",
                              "liquidity",
                              "maxLeverage",
                              "actions"
                            ]
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "markets"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/marketsByType": {
      "get": {
        "operationId": "marketsV0Api.listMarketsGroupedByType",
        "summary": "List all markets grouped by type",
        "description": "Returns markets grouped by type from supported protocols. See [Protocol Support Roadmap](/markets#protocol-support-roadmap) for the full list of supported providers.",
        "tags": [
          "Markets"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lending": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "const": "lending"
                          },
                          "provider": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "enum": [
                                  "kamino",
                                  "lulo",
                                  "marginfi"
                                ]
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name"
                            ]
                          },
                          "token": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals"
                            ]
                          },
                          "depositApy": {
                            "type": "number"
                          },
                          "borrowApy": {
                            "type": "number"
                          },
                          "totalDeposit": {
                            "type": "number"
                          },
                          "totalDepositUsd": {
                            "type": "number"
                          },
                          "totalBorrow": {
                            "type": "number"
                          },
                          "totalBorrowUsd": {
                            "type": "number"
                          },
                          "maxDeposit": {
                            "type": "number"
                          },
                          "maxBorrow": {
                            "type": "number"
                          },
                          "oraclePrice": {
                            "type": "number"
                          },
                          "additionalData": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          },
                          "actions": {
                            "type": "object",
                            "properties": {
                              "deposit": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              },
                              "withdraw": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "provider",
                          "token",
                          "depositApy",
                          "borrowApy",
                          "totalDeposit",
                          "totalBorrow",
                          "maxDeposit",
                          "maxBorrow",
                          "actions"
                        ]
                      }
                    },
                    "yield": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "const": "yield"
                          },
                          "provider": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "enum": [
                                  "kamino",
                                  "lulo",
                                  "marginfi"
                                ]
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name"
                            ]
                          },
                          "token": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals"
                            ]
                          },
                          "depositApy": {
                            "type": "number"
                          },
                          "additionalData": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          },
                          "actions": {
                            "type": "object",
                            "properties": {
                              "deposit": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              },
                              "withdraw": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              },
                              "withdrawComplete": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "provider",
                          "token",
                          "depositApy",
                          "actions"
                        ]
                      }
                    },
                    "loop": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "const": "loop"
                          },
                          "provider": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "enum": [
                                  "kamino",
                                  "lulo",
                                  "marginfi"
                                ]
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name"
                            ]
                          },
                          "tokenA": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals"
                            ]
                          },
                          "tokenB": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals"
                            ]
                          },
                          "depositApy": {
                            "type": "number"
                          },
                          "maxLeverage": {
                            "type": "number"
                          },
                          "additionalData": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          },
                          "actions": {
                            "type": "object",
                            "properties": {
                              "setup": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              },
                              "deposit": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              },
                              "withdraw": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "provider",
                          "tokenA",
                          "tokenB",
                          "depositApy",
                          "maxLeverage",
                          "actions"
                        ]
                      }
                    },
                    "perpetual": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "const": "perpetual"
                          },
                          "provider": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "enum": [
                                  "kamino",
                                  "lulo",
                                  "marginfi"
                                ]
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name"
                            ]
                          },
                          "tokenA": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals"
                            ]
                          },
                          "tokenB": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals"
                            ]
                          },
                          "liquidity": {
                            "type": "object",
                            "properties": {
                              "longUsd": {
                                "type": "number"
                              },
                              "shortUsd": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "longUsd",
                              "shortUsd"
                            ]
                          },
                          "maxLeverage": {
                            "type": "number"
                          },
                          "additionalData": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          },
                          "actions": {
                            "type": "object",
                            "properties": {
                              "setup": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              },
                              "openPosition": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              },
                              "closePosition": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "provider",
                          "tokenA",
                          "tokenB",
                          "liquidity",
                          "maxLeverage",
                          "actions"
                        ]
                      }
                    }
                  },
                  "required": [
                    "lending",
                    "yield",
                    "loop",
                    "perpetual"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/positions/owners": {
      "get": {
        "operationId": "positionsV0Api.positionsByOwners",
        "summary": "List all market positions by wallet address",
        "description": "Returns position data for supported protocols. See [Protocol Support Roadmap](/markets#protocol-support-roadmap) for current position tracking support.",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "name": "walletAddresses",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Comma separated list of owner addresses. Currently only supports one address.",
              "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
              "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "positions": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "title": "Lending Position with Market",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "const": "lending"
                              },
                              "marketId": {
                                "type": "string"
                              },
                              "ownerAddress": {
                                "type": "string"
                              },
                              "side": {
                                "enum": [
                                  "deposit",
                                  "borrow"
                                ]
                              },
                              "amount": {
                                "type": "number"
                              },
                              "amountUsd": {
                                "type": "number"
                              },
                              "additionalData": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              "market": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "const": "lending"
                                  },
                                  "provider": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "enum": [
                                          "kamino",
                                          "lulo",
                                          "marginfi"
                                        ]
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name"
                                    ]
                                  },
                                  "token": {
                                    "type": "object",
                                    "properties": {
                                      "address": {
                                        "type": "string"
                                      },
                                      "symbol": {
                                        "type": "string"
                                      },
                                      "decimals": {
                                        "type": "number"
                                      }
                                    },
                                    "required": [
                                      "address",
                                      "symbol",
                                      "decimals"
                                    ]
                                  },
                                  "depositApy": {
                                    "type": "number"
                                  },
                                  "borrowApy": {
                                    "type": "number"
                                  },
                                  "totalDeposit": {
                                    "type": "number"
                                  },
                                  "totalDepositUsd": {
                                    "type": "number"
                                  },
                                  "totalBorrow": {
                                    "type": "number"
                                  },
                                  "totalBorrowUsd": {
                                    "type": "number"
                                  },
                                  "maxDeposit": {
                                    "type": "number"
                                  },
                                  "maxBorrow": {
                                    "type": "number"
                                  },
                                  "oraclePrice": {
                                    "type": "number"
                                  },
                                  "additionalData": {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string"
                                    },
                                    "additionalProperties": {}
                                  },
                                  "actions": {
                                    "type": "object",
                                    "properties": {
                                      "deposit": {
                                        "type": "object",
                                        "properties": {
                                          "blinkUrl": {
                                            "type": "string",
                                            "pattern": "^blink:.*"
                                          }
                                        },
                                        "required": [
                                          "blinkUrl"
                                        ]
                                      },
                                      "withdraw": {
                                        "type": "object",
                                        "properties": {
                                          "blinkUrl": {
                                            "type": "string",
                                            "pattern": "^blink:.*"
                                          }
                                        },
                                        "required": [
                                          "blinkUrl"
                                        ]
                                      }
                                    }
                                  }
                                },
                                "required": [
                                  "id",
                                  "type",
                                  "provider",
                                  "token",
                                  "depositApy",
                                  "borrowApy",
                                  "totalDeposit",
                                  "totalBorrow",
                                  "maxDeposit",
                                  "maxBorrow",
                                  "actions"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "marketId",
                              "ownerAddress",
                              "side",
                              "amount",
                              "market"
                            ]
                          },
                          {
                            "title": "Yield Position with Market",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "const": "yield"
                              },
                              "marketId": {
                                "type": "string"
                              },
                              "ownerAddress": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "number"
                              },
                              "amountUsd": {
                                "type": "number"
                              },
                              "additionalData": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              "market": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "const": "yield"
                                  },
                                  "provider": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "enum": [
                                          "kamino",
                                          "lulo",
                                          "marginfi"
                                        ]
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name"
                                    ]
                                  },
                                  "token": {
                                    "type": "object",
                                    "properties": {
                                      "address": {
                                        "type": "string"
                                      },
                                      "symbol": {
                                        "type": "string"
                                      },
                                      "decimals": {
                                        "type": "number"
                                      }
                                    },
                                    "required": [
                                      "address",
                                      "symbol",
                                      "decimals"
                                    ]
                                  },
                                  "depositApy": {
                                    "type": "number"
                                  },
                                  "additionalData": {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string"
                                    },
                                    "additionalProperties": {}
                                  },
                                  "actions": {
                                    "type": "object",
                                    "properties": {
                                      "deposit": {
                                        "type": "object",
                                        "properties": {
                                          "blinkUrl": {
                                            "type": "string",
                                            "pattern": "^blink:.*"
                                          }
                                        },
                                        "required": [
                                          "blinkUrl"
                                        ]
                                      },
                                      "withdraw": {
                                        "type": "object",
                                        "properties": {
                                          "blinkUrl": {
                                            "type": "string",
                                            "pattern": "^blink:.*"
                                          }
                                        },
                                        "required": [
                                          "blinkUrl"
                                        ]
                                      },
                                      "withdrawComplete": {
                                        "type": "object",
                                        "properties": {
                                          "blinkUrl": {
                                            "type": "string",
                                            "pattern": "^blink:.*"
                                          }
                                        },
                                        "required": [
                                          "blinkUrl"
                                        ]
                                      }
                                    }
                                  }
                                },
                                "required": [
                                  "id",
                                  "type",
                                  "provider",
                                  "token",
                                  "depositApy",
                                  "actions"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "marketId",
                              "ownerAddress",
                              "amount",
                              "market"
                            ]
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "positions"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "x-dialect-api-key",
        "in": "header",
        "description": "API key for the Markets API"
      }
    }
  }
}