{
  "openapi": "3.1.1",
  "x-mcp": {
    "enabled": true
  },
  "info": {
    "title": "Markets & Positions API (Beta)",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://markets.dial.to/api"
    }
  ],
  "paths": {
    "/v0/markets": {
      "get": {
        "operationId": "marketsV0Api.listMarkets",
        "summary": "List all markets",
        "description": "Returns real-time market data from supported protocols, such as Jupiter, Kamino, MarginFi, Lulo and many more. For more information, please check our [Protocol Support Roadmap](/markets/supported-protocols).\n\n**Note:** Some providers (e.g. Kamino) may return large responses with 100+ markets. For better performance in the API playground, consider filtering by both `type` and `provider` parameters.",
        "tags": ["Markets"],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Comma separated list of market types (`lending`, `yield`, `loop`, `perpetual`, `prediction`)."
            },
            "example": "yield, lending"
          },
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of provider IDs (kamino, lulo, marginfi, jupiter, defituna, carrot, dflow)"
            },
            "example": "marginfi, kamino"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Cursor for pagination (market ID to start after)"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50,
              "description": "Number of markets to return (default: 50, max: 200)"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Comma-separated list, only for prediction markets. Use with `type=prediction`.\n\nStatus options:\n- `open` \n- `closed`\n- `settled`\n\nExamples:\n- `{\"prediction\":{\"status\":[\"open\"]}}`\n- `{\"prediction\":{\"status\":[\"open\", \"closed\"]}}`"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "title": "Lending Market",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "const": "lending"
                              },
                              "provider": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "enum": [
                                      "kamino",
                                      "lulo",
                                      "marginfi",
                                      "jupiter",
                                      "defituna",
                                      "carrot",
                                      "dflow"
                                    ]
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "icon": {
                                    "type": "string"
                                  }
                                },
                                "required": ["id", "name", "icon"]
                              },
                              "token": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  },
                                  "icon": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals",
                                  "icon"
                                ]
                              },
                              "borrowToken": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  },
                                  "icon": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals",
                                  "icon"
                                ]
                              },
                              "maxLtv": {
                                "type": "number",
                                "description": "Maximum loan-to-value ratio"
                              },
                              "liquidationLtv": {
                                "type": "number",
                                "description": "Loan-to-value ratio at which liquidation occurs"
                              },
                              "liquidationPenalty": {
                                "type": "number",
                                "description": "Penalty percentage for liquidations"
                              },
                              "websiteUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "depositApy": {
                                "type": "number",
                                "description": "Total percentage ratio APY **including** rewards"
                              },
                              "baseDepositApy": {
                                "type": "number",
                                "description": "APY percentage ratio excluding rewards"
                              },
                              "baseDepositApy30d": {
                                "type": "number",
                                "description": "30-day average APY percentage ratio excluding rewards"
                              },
                              "baseDepositApy90d": {
                                "type": "number",
                                "description": "90-day average APY percentage ratio excluding rewards"
                              },
                              "baseDepositApy180d": {
                                "type": "number",
                                "description": "180-day average APY percentage ratio excluding rewards"
                              },
                              "borrowApy": {
                                "type": "number",
                                "description": "Total percentage ratio APY **including** rewards"
                              },
                              "baseBorrowApy": {
                                "type": "number",
                                "description": "APY percentage ratio excluding rewards"
                              },
                              "baseBorrowApy30d": {
                                "type": "number",
                                "description": "30-day average APY percentage ratio excluding rewards"
                              },
                              "baseBorrowApy90d": {
                                "type": "number",
                                "description": "90-day average APY percentage ratio excluding rewards"
                              },
                              "baseBorrowApy180d": {
                                "type": "number",
                                "description": "180-day average APY percentage ratio excluding rewards"
                              },
                              "totalDeposit": {
                                "type": "number"
                              },
                              "totalDepositUsd": {
                                "type": "number"
                              },
                              "totalBorrow": {
                                "type": "number"
                              },
                              "totalBorrowUsd": {
                                "type": "number"
                              },
                              "maxDeposit": {
                                "type": "number"
                              },
                              "maxBorrow": {
                                "type": "number"
                              },
                              "oraclePrice": {
                                "type": "number"
                              },
                              "rewards": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "const": "deposit"
                                        },
                                        "apy": {
                                          "type": "number"
                                        },
                                        "token": {
                                          "type": "object",
                                          "properties": {
                                            "address": {
                                              "type": "string"
                                            },
                                            "symbol": {
                                              "type": "string"
                                            },
                                            "decimals": {
                                              "type": "number"
                                            },
                                            "icon": {
                                              "anyOf": [
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            }
                                          },
                                          "required": [
                                            "address",
                                            "symbol",
                                            "decimals",
                                            "icon"
                                          ]
                                        },
                                        "marketAction": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "apy",
                                        "token",
                                        "marketAction"
                                      ],
                                      "title": "Deposit Reward",
                                      "description": "Reward for depositing"
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "const": "borrow"
                                        },
                                        "apy": {
                                          "type": "number"
                                        },
                                        "token": {
                                          "type": "object",
                                          "properties": {
                                            "address": {
                                              "type": "string"
                                            },
                                            "symbol": {
                                              "type": "string"
                                            },
                                            "decimals": {
                                              "type": "number"
                                            },
                                            "icon": {
                                              "anyOf": [
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            }
                                          },
                                          "required": [
                                            "address",
                                            "symbol",
                                            "decimals",
                                            "icon"
                                          ]
                                        },
                                        "marketAction": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "apy",
                                        "token",
                                        "marketAction"
                                      ],
                                      "title": "Borrow Reward",
                                      "description": "Reward for borrowing"
                                    }
                                  ]
                                }
                              },
                              "additionalData": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": true
                              },
                              "actions": {
                                "type": "object",
                                "properties": {
                                  "deposit": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": ["blinkUrl"]
                                  },
                                  "withdraw": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": ["blinkUrl"]
                                  },
                                  "claimRewards": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": ["blinkUrl"]
                                  },
                                  "borrow": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": ["blinkUrl"]
                                  },
                                  "repay": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": ["blinkUrl"]
                                  },
                                  "repayWithCollateral": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": ["blinkUrl"]
                                  }
                                },
                                "additionalProperties": true
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "provider",
                              "token",
                              "depositApy",
                              "baseDepositApy",
                              "borrowApy",
                              "baseBorrowApy",
                              "totalDeposit",
                              "totalBorrow",
                              "maxDeposit",
                              "maxBorrow",
                              "actions"
                            ]
                          },
                          {
                            "title": "Yield Market",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "const": "yield"
                              },
                              "provider": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "enum": [
                                      "kamino",
                                      "lulo",
                                      "marginfi",
                                      "jupiter",
                                      "defituna",
                                      "carrot",
                                      "dflow"
                                    ]
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "icon": {
                                    "type": "string"
                                  }
                                },
                                "required": ["id", "name", "icon"]
                              },
                              "token": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  },
                                  "icon": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals",
                                  "icon"
                                ]
                              },
                              "websiteUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "depositApy": {
                                "type": "number"
                              },
                              "baseDepositApy": {
                                "type": "number"
                              },
                              "baseDepositApy30d": {
                                "type": "number",
                                "description": "30-day average APY excluding rewards"
                              },
                              "baseDepositApy90d": {
                                "type": "number",
                                "description": "90-day average APY excluding rewards"
                              },
                              "baseDepositApy180d": {
                                "type": "number",
                                "description": "180-day average APY excluding rewards"
                              },
                              "totalDeposit": {
                                "type": "number",
                                "description": "Total amount deposited in the vault"
                              },
                              "totalDepositUsd": {
                                "type": "number",
                                "description": "Total value of deposits in USD"
                              },
                              "rewards": {
                                "type": "array",
                                "description": "Available rewards for this yield market",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "const": "deposit"
                                    },
                                    "apy": {
                                      "type": "number"
                                    },
                                    "token": {
                                      "type": "object",
                                      "properties": {
                                        "address": {
                                          "type": "string"
                                        },
                                        "symbol": {
                                          "type": "string"
                                        },
                                        "decimals": {
                                          "type": "number"
                                        },
                                        "icon": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      },
                                      "required": [
                                        "address",
                                        "symbol",
                                        "decimals",
                                        "icon"
                                      ]
                                    },
                                    "marketAction": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "type",
                                    "apy",
                                    "token",
                                    "marketAction"
                                  ]
                                }
                              },
                              "additionalData": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": true
                              },
                              "actions": {
                                "type": "object",
                                "properties": {
                                  "deposit": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": ["blinkUrl"]
                                  },
                                  "withdraw": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": ["blinkUrl"]
                                  },
                                  "withdrawComplete": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": ["blinkUrl"]
                                  },
                                  "claimRewards": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": ["blinkUrl"]
                                  }
                                },
                                "additionalProperties": true
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "provider",
                              "token",
                              "depositApy",
                              "actions"
                            ]
                          },
                          {
                            "title": "Loop Market",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "const": "loop"
                              },
                              "provider": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "enum": [
                                      "kamino",
                                      "lulo",
                                      "marginfi",
                                      "jupiter",
                                      "defituna",
                                      "carrot",
                                      "dflow"
                                    ]
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "icon": {
                                    "type": "string"
                                  }
                                },
                                "required": ["id", "name", "icon"]
                              },
                              "tokenA": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  },
                                  "icon": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals",
                                  "icon"
                                ]
                              },
                              "tokenB": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  },
                                  "icon": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals",
                                  "icon"
                                ]
                              },
                              "websiteUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "depositApy": {
                                "type": "number"
                              },
                              "depositApy30d": {
                                "type": "number",
                                "description": "30-day average deposit APY"
                              },
                              "depositApy90d": {
                                "type": "number",
                                "description": "90-day average deposit APY"
                              },
                              "depositApy180d": {
                                "type": "number",
                                "description": "180-day average deposit APY"
                              },
                              "maxLeverage": {
                                "type": "number"
                              },
                              "maxLtv": {
                                "type": "number",
                                "minimum": 0,
                                "maximum": 100,
                                "description": "Maximum Loan-to-Value allowed when borrowing, expressed as a percentage of deposited value"
                              },
                              "liquidationLtv": {
                                "type": "number",
                                "minimum": 0,
                                "maximum": 100,
                                "description": "Loan-to-Value percentage ratio of deposited value at which the position becomes liquidatable"
                              },
                              "additionalData": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": true
                              },
                              "actions": {
                                "type": "object",
                                "properties": {
                                  "setup": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": ["blinkUrl"]
                                  },
                                  "deposit": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": ["blinkUrl"]
                                  },
                                  "withdraw": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": ["blinkUrl"]
                                  }
                                }
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "provider",
                              "tokenA",
                              "tokenB",
                              "depositApy",
                              "maxLeverage",
                              "actions"
                            ]
                          },
                          {
                            "title": "Perpetual Market",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "const": "perpetual"
                              },
                              "provider": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "enum": [
                                      "kamino",
                                      "lulo",
                                      "marginfi",
                                      "jupiter",
                                      "defituna",
                                      "carrot",
                                      "dflow"
                                    ]
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "icon": {
                                    "type": "string"
                                  }
                                },
                                "required": ["id", "name", "icon"]
                              },
                              "tokenA": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  },
                                  "icon": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals",
                                  "icon"
                                ]
                              },
                              "tokenB": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  },
                                  "icon": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals",
                                  "icon"
                                ]
                              },
                              "websiteUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "liquidity": {
                                "type": "object",
                                "properties": {
                                  "longUsd": {
                                    "type": "number"
                                  },
                                  "shortUsd": {
                                    "type": "number"
                                  }
                                },
                                "required": ["longUsd", "shortUsd"]
                              },
                              "maxLeverage": {
                                "type": "number"
                              },
                              "additionalData": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": true
                              },
                              "actions": {
                                "type": "object",
                                "properties": {
                                  "setup": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": ["blinkUrl"]
                                  },
                                  "openPosition": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": ["blinkUrl"]
                                  },
                                  "closePosition": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": ["blinkUrl"]
                                  }
                                },
                                "additionalProperties": true
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "provider",
                              "tokenA",
                              "tokenB",
                              "liquidity",
                              "maxLeverage",
                              "actions"
                            ]
                          },
                          {
                            "title": "Prediction Market",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "const": "prediction"
                              },
                              "provider": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "enum": [
                                      "kamino",
                                      "lulo",
                                      "marginfi",
                                      "jupiter",
                                      "defituna",
                                      "carrot",
                                      "dflow"
                                    ]
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "icon": {
                                    "type": "string"
                                  }
                                },
                                "required": ["id", "name", "icon"]
                              },
                              "websiteUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "bundleId": {
                                "type": "string",
                                "description": "Identifier for positions bundled into one logical structure, such as position or market"
                              },
                              "title": {
                                "type": "string"
                              },
                              "subtitle": {
                                "type": "string"
                              },
                              "status": {
                                "enum": ["open", "closed", "settled"]
                              },
                              "result": {
                                "type": "string"
                              },
                              "volume": {
                                "type": "number"
                              },
                              "openInterest": {
                                "type": "number"
                              },
                              "yesBid": {
                                "type": "number"
                              },
                              "noBid": {
                                "type": "number"
                              },
                              "yesAsk": {
                                "type": "number"
                              },
                              "noAsk": {
                                "type": "number"
                              },
                              "openTime": {
                                "type": "number"
                              },
                              "closeTime": {
                                "type": "number"
                              },
                              "expirationTime": {
                                "type": "number"
                              },
                              "yesToken": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  },
                                  "icon": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "name": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals",
                                  "icon",
                                  "name"
                                ]
                              },
                              "noToken": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  },
                                  "icon": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "name": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals",
                                  "icon",
                                  "name"
                                ]
                              },
                              "additionalData": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": true
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "provider",
                              "title",
                              "status"
                            ]
                          }
                        ]
                      }
                    },
                    "cursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Cursor for the next page, null if no more results"
                    }
                  },
                  "required": ["markets", "cursor"]
                },
                "example": {
                  "markets": [
                    {
                      "id": "string",
                      "type": "lending",
                      "provider": {
                        "id": "kamino",
                        "name": "string",
                        "icon": "string"
                      },
                      "token": {
                        "address": "string",
                        "symbol": "string",
                        "decimals": 1,
                        "icon": "string"
                      },
                      "borrowToken": {
                        "address": "string",
                        "symbol": "string",
                        "decimals": 1,
                        "icon": "string"
                      },
                      "websiteUrl": "https://example.com",
                      "depositApy": 1,
                      "baseDepositApy": 1,
                      "baseDepositApy30d": 1,
                      "baseDepositApy90d": 1,
                      "baseDepositApy180d": 1,
                      "borrowApy": 1,
                      "baseBorrowApy": 1,
                      "baseBorrowApy30d": 1,
                      "baseBorrowApy90d": 1,
                      "baseBorrowApy180d": 1,
                      "totalDeposit": 1,
                      "totalDepositUsd": 1,
                      "totalBorrow": 1,
                      "totalBorrowUsd": 1,
                      "maxDeposit": 1,
                      "maxBorrow": 1,
                      "rewards": [
                        {
                          "type": "deposit",
                          "apy": 1,
                          "token": {
                            "address": "string",
                            "symbol": "string",
                            "decimals": 1,
                            "icon": "string"
                          },
                          "marketAction": "string"
                        }
                      ],
                      "maxLtv": 0,
                      "liquidationLtv": 0,
                      "liquidationPenalty": 0,
                      "additionalData": {
                        "propertyName*": "anything"
                      },
                      "actions": {
                        "deposit": {
                          "blinkUrl": "string"
                        },
                        "withdraw": {
                          "blinkUrl": "string"
                        },
                        "claimRewards": {
                          "blinkUrl": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/marketsByType": {
      "get": {
        "operationId": "marketsV0Api.listMarketsGroupedByType",
        "summary": "List all markets grouped by type",
        "description": "Returns real-time market data from supported protocols, such as Jupiter, Kamino, MarginFi, Lulo and many more. For more information, please check our [Protocol Support Roadmap](/markets/supported-protocols).",
        "tags": ["Markets"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lending": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "const": "lending"
                          },
                          "provider": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "enum": [
                                  "kamino",
                                  "lulo",
                                  "marginfi",
                                  "jupiter",
                                  "defituna",
                                  "carrot"
                                ]
                              },
                              "name": {
                                "type": "string"
                              },
                              "icon": {
                                "type": "string"
                              }
                            },
                            "required": ["id", "name", "icon"]
                          },
                          "token": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              },
                              "icon": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals",
                              "icon"
                            ]
                          },
                          "borrowToken": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              },
                              "icon": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals",
                              "icon"
                            ]
                          },
                          "maxLtv": {
                            "type": "number",
                            "description": "Maximum loan-to-value ratio"
                          },
                          "liquidationLtv": {
                            "type": "number",
                            "description": "Loan-to-value ratio at which liquidation occurs"
                          },
                          "liquidationPenalty": {
                            "type": "number",
                            "description": "Penalty percentage for liquidations"
                          },
                          "websiteUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "depositApy": {
                            "type": "number",
                            "description": "Total APY **including** rewards"
                          },
                          "baseDepositApy": {
                            "type": "number",
                            "description": "APY excluding rewards"
                          },
                          "baseDepositApy30d": {
                            "type": "number",
                            "description": "30-day average APY excluding rewards"
                          },
                          "baseDepositApy90d": {
                            "type": "number",
                            "description": "90-day average APY excluding rewards"
                          },
                          "baseDepositApy180d": {
                            "type": "number",
                            "description": "180-day average APY excluding rewards"
                          },
                          "borrowApy": {
                            "type": "number",
                            "description": "Total APY **including** rewards"
                          },
                          "baseBorrowApy": {
                            "type": "number",
                            "description": "APY excluding rewards"
                          },
                          "baseBorrowApy30d": {
                            "type": "number",
                            "description": "30-day average APY excluding rewards"
                          },
                          "baseBorrowApy90d": {
                            "type": "number",
                            "description": "90-day average APY excluding rewards"
                          },
                          "baseBorrowApy180d": {
                            "type": "number",
                            "description": "180-day average APY excluding rewards"
                          },
                          "totalDeposit": {
                            "type": "number"
                          },
                          "totalDepositUsd": {
                            "type": "number"
                          },
                          "totalBorrow": {
                            "type": "number"
                          },
                          "totalBorrowUsd": {
                            "type": "number"
                          },
                          "maxDeposit": {
                            "type": "number"
                          },
                          "maxBorrow": {
                            "type": "number"
                          },
                          "oraclePrice": {
                            "type": "number"
                          },
                          "rewards": {
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "const": "deposit"
                                    },
                                    "apy": {
                                      "type": "number"
                                    },
                                    "token": {
                                      "type": "object",
                                      "properties": {
                                        "address": {
                                          "type": "string"
                                        },
                                        "symbol": {
                                          "type": "string"
                                        },
                                        "decimals": {
                                          "type": "number"
                                        },
                                        "icon": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      },
                                      "required": [
                                        "address",
                                        "symbol",
                                        "decimals",
                                        "icon"
                                      ]
                                    },
                                    "marketAction": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "type",
                                    "apy",
                                    "token",
                                    "marketAction"
                                  ],
                                  "title": "Deposit Reward",
                                  "description": "Reward for depositing"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "const": "borrow"
                                    },
                                    "apy": {
                                      "type": "number"
                                    },
                                    "token": {
                                      "type": "object",
                                      "properties": {
                                        "address": {
                                          "type": "string"
                                        },
                                        "symbol": {
                                          "type": "string"
                                        },
                                        "decimals": {
                                          "type": "number"
                                        },
                                        "icon": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      },
                                      "required": [
                                        "address",
                                        "symbol",
                                        "decimals",
                                        "icon"
                                      ]
                                    },
                                    "marketAction": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "type",
                                    "apy",
                                    "token",
                                    "marketAction"
                                  ],
                                  "title": "Borrow Reward",
                                  "description": "Reward for borrowing"
                                }
                              ]
                            }
                          },
                          "additionalData": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": true
                          },
                          "actions": {
                            "type": "object",
                            "properties": {
                              "deposit": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": ["blinkUrl"]
                              },
                              "withdraw": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": ["blinkUrl"]
                              },
                              "claimRewards": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": ["blinkUrl"]
                              },
                              "borrow": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": ["blinkUrl"]
                              },
                              "repay": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": ["blinkUrl"]
                              },
                              "repayWithCollateral": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": ["blinkUrl"]
                              }
                            },
                            "additionalProperties": true
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "provider",
                          "token",
                          "depositApy",
                          "baseDepositApy",
                          "borrowApy",
                          "baseBorrowApy",
                          "totalDeposit",
                          "totalBorrow",
                          "maxDeposit",
                          "maxBorrow",
                          "actions"
                        ]
                      }
                    },
                    "yield": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "const": "yield"
                          },
                          "provider": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "enum": [
                                  "kamino",
                                  "lulo",
                                  "marginfi",
                                  "jupiter",
                                  "defituna",
                                  "carrot"
                                ]
                              },
                              "name": {
                                "type": "string"
                              },
                              "icon": {
                                "type": "string"
                              }
                            },
                            "required": ["id", "name", "icon"]
                          },
                          "token": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              },
                              "icon": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals",
                              "icon"
                            ]
                          },
                          "websiteUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "depositApy": {
                            "type": "number"
                          },
                          "baseDepositApy": {
                            "type": "number"
                          },
                          "baseDepositApy30d": {
                            "type": "number",
                            "description": "30-day average APY excluding rewards"
                          },
                          "baseDepositApy90d": {
                            "type": "number",
                            "description": "90-day average APY excluding rewards"
                          },
                          "baseDepositApy180d": {
                            "type": "number",
                            "description": "180-day average APY excluding rewards"
                          },
                          "totalDeposit": {
                            "type": "number",
                            "description": "Total amount deposited in the vault"
                          },
                          "totalDepositUsd": {
                            "type": "number",
                            "description": "Total value of deposits in USD"
                          },
                          "rewards": {
                            "type": "array",
                            "description": "Available rewards for this yield market",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "const": "deposit"
                                },
                                "apy": {
                                  "type": "number"
                                },
                                "token": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string"
                                    },
                                    "symbol": {
                                      "type": "string"
                                    },
                                    "decimals": {
                                      "type": "number"
                                    },
                                    "icon": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    }
                                  },
                                  "required": [
                                    "address",
                                    "symbol",
                                    "decimals",
                                    "icon"
                                  ]
                                },
                                "marketAction": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "type",
                                "apy",
                                "token",
                                "marketAction"
                              ]
                            }
                          },
                          "additionalData": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": true
                          },
                          "actions": {
                            "type": "object",
                            "properties": {
                              "deposit": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": ["blinkUrl"]
                              },
                              "withdraw": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": ["blinkUrl"]
                              },
                              "withdrawComplete": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": ["blinkUrl"]
                              },
                              "claimRewards": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": ["blinkUrl"]
                              }
                            },
                            "additionalProperties": true
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "provider",
                          "token",
                          "depositApy",
                          "baseDepositApy",
                          "actions"
                        ]
                      }
                    },
                    "loop": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "const": "loop"
                          },
                          "provider": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "enum": [
                                  "kamino",
                                  "lulo",
                                  "marginfi",
                                  "jupiter",
                                  "defituna",
                                  "carrot"
                                ]
                              },
                              "name": {
                                "type": "string"
                              },
                              "icon": {
                                "type": "string"
                              }
                            },
                            "required": ["id", "name", "icon"]
                          },
                          "tokenA": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              },
                              "icon": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals",
                              "icon"
                            ]
                          },
                          "tokenB": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              },
                              "icon": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals",
                              "icon"
                            ]
                          },
                          "websiteUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "depositApy": {
                            "type": "number"
                          },
                          "depositApy30d": {
                            "type": "number",
                            "description": "30-day average deposit APY"
                          },
                          "depositApy90d": {
                            "type": "number",
                            "description": "90-day average deposit APY"
                          },
                          "depositApy180d": {
                            "type": "number",
                            "description": "180-day average deposit APY"
                          },
                          "maxLeverage": {
                            "type": "number"
                          },
                          "maxLtv": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 100,
                            "description": "Maximum Loan-to-Value allowed when borrowing, expressed as a percentage of deposited value"
                          },
                          "liquidationLtv": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 100,
                            "description": "Loan-to-Value percentage ratio of deposited value at which the position becomes liquidatable"
                          },
                          "additionalData": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": true
                          },
                          "actions": {
                            "type": "object",
                            "properties": {
                              "setup": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": ["blinkUrl"]
                              },
                              "deposit": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": ["blinkUrl"]
                              },
                              "withdraw": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": ["blinkUrl"]
                              }
                            },
                            "additionalProperties": true
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "provider",
                          "tokenA",
                          "tokenB",
                          "depositApy",
                          "maxLeverage",
                          "actions"
                        ]
                      }
                    },
                    "perpetual": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "const": "perpetual"
                          },
                          "provider": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "enum": [
                                  "kamino",
                                  "lulo",
                                  "marginfi",
                                  "jupiter",
                                  "defituna",
                                  "carrot"
                                ]
                              },
                              "name": {
                                "type": "string"
                              },
                              "icon": {
                                "type": "string"
                              }
                            },
                            "required": ["id", "name", "icon"]
                          },
                          "tokenA": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              },
                              "icon": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals",
                              "icon"
                            ]
                          },
                          "tokenB": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              },
                              "icon": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals",
                              "icon"
                            ]
                          },
                          "websiteUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "liquidity": {
                            "type": "object",
                            "properties": {
                              "longUsd": {
                                "type": "number"
                              },
                              "shortUsd": {
                                "type": "number"
                              }
                            },
                            "required": ["longUsd", "shortUsd"]
                          },
                          "maxLeverage": {
                            "type": "number"
                          },
                          "additionalData": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": true
                          },
                          "actions": {
                            "type": "object",
                            "properties": {
                              "setup": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": ["blinkUrl"]
                              },
                              "openPosition": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": ["blinkUrl"]
                              },
                              "closePosition": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": ["blinkUrl"]
                              }
                            },
                            "additionalProperties": true
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "provider",
                          "tokenA",
                          "tokenB",
                          "liquidity",
                          "maxLeverage",
                          "actions"
                        ]
                      }
                    }
                  },
                  "required": ["lending", "yield", "loop", "perpetual"]
                },
                "example": {
                  "lending": [
                    {
                      "id": "string",
                      "type": "lending",
                      "provider": {
                        "id": "kamino",
                        "name": "string",
                        "icon": "string"
                      },
                      "token": {
                        "address": "string",
                        "symbol": "string",
                        "decimals": 1,
                        "icon": "string"
                      },
                      "borrowToken": {
                        "address": "string",
                        "symbol": "string",
                        "decimals": 1,
                        "icon": "string"
                      },
[...]
