{
  "openapi": "3.1.1",
  "x-mcp": {
    "enabled": true
  },
  "info": {
    "title": "Markets & Positions API (Beta)",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://markets.dial.to/api"
    }
  ],
  "paths": {
    "/v0/markets": {
      "get": {
        "operationId": "marketsV0Api.listMarkets",
        "summary": "List all markets",
        "description": "Returns real-time market data from supported protocols, such as Jupiter, Kamino, MarginFi, Lulo and many more. For more information, please check our [Protocol Support Roadmap](/markets/supported-protocols).",
        "tags": [
          "Markets"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "enum": [
                "lending",
                "yield",
                "loop",
                "perpetual"
              ]
            },
            "style": "deepObject",
            "explode": true,
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "enum": [
                "kamino",
                "lulo",
                "marginfi",
                "jupiter"
              ]
            },
            "style": "deepObject",
            "explode": true,
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "title": "Lending Market",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "const": "lending"
                              },
                              "provider": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "enum": [
                                      "kamino",
                                      "lulo",
                                      "marginfi",
                                      "jupiter"
                                    ]
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "icon": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name",
                                  "icon"
                                ]
                              },
                              "token": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  },
                                  "icon": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals",
                                  "icon"
                                ]
                              },
                              "websiteUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "depositApy": {
                                "type": "number",
                                "description": "Total percentage ratio APY **including** rewards"
                              },
                              "baseDepositApy": {
                                "type": "number",
                                "description": "APY percentage ratio excluding rewards"
                              },
                              "borrowApy": {
                                "type": "number",
                                "description": "Total percentage ratio APY **including** rewards"
                              },
                              "baseBorrowApy": {
                                "type": "number",
                                "description": "APY percentage ratio excluding rewards"
                              },
                              "totalDeposit": {
                                "type": "number"
                              },
                              "totalDepositUsd": {
                                "type": "number"
                              },
                              "totalBorrow": {
                                "type": "number"
                              },
                              "totalBorrowUsd": {
                                "type": "number"
                              },
                              "maxDeposit": {
                                "type": "number"
                              },
                              "maxBorrow": {
                                "type": "number"
                              },
                              "oraclePrice": {
                                "type": "number"
                              },
                              "rewards": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "const": "deposit"
                                        },
                                        "apy": {
                                          "type": "number"
                                        },
                                        "token": {
                                          "type": "object",
                                          "properties": {
                                            "address": {
                                              "type": "string"
                                            },
                                            "symbol": {
                                              "type": "string"
                                            },
                                            "decimals": {
                                              "type": "number"
                                            },
                                            "icon": {
                                              "anyOf": [
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            }
                                          },
                                          "required": [
                                            "address",
                                            "symbol",
                                            "decimals",
                                            "icon"
                                          ]
                                        },
                                        "marketAction": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "apy",
                                        "token",
                                        "marketAction"
                                      ],
                                      "title": "Deposit Reward",
                                      "description": "Reward for depositing"
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "const": "borrow"
                                        },
                                        "apy": {
                                          "type": "number"
                                        },
                                        "token": {
                                          "type": "object",
                                          "properties": {
                                            "address": {
                                              "type": "string"
                                            },
                                            "symbol": {
                                              "type": "string"
                                            },
                                            "decimals": {
                                              "type": "number"
                                            },
                                            "icon": {
                                              "anyOf": [
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            }
                                          },
                                          "required": [
                                            "address",
                                            "symbol",
                                            "decimals",
                                            "icon"
                                          ]
                                        },
                                        "marketAction": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "apy",
                                        "token",
                                        "marketAction"
                                      ],
                                      "title": "Borrow Reward",
                                      "description": "Reward for borrowing"
                                    }
                                  ]
                                }
                              },
                              "additionalData": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              "actions": {
                                "type": "object",
                                "properties": {
                                  "deposit": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  },
                                  "withdraw": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  }
                                }
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "provider",
                              "token",
                              "depositApy",
                              "baseDepositApy",
                              "borrowApy",
                              "baseBorrowApy",
                              "totalDeposit",
                              "totalBorrow",
                              "maxDeposit",
                              "maxBorrow",
                              "actions"
                            ]
                          },
                          {
                            "title": "Yield Market",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "const": "yield"
                              },
                              "provider": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "enum": [
                                      "kamino",
                                      "lulo",
                                      "marginfi",
                                      "jupiter"
                                    ]
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "icon": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name",
                                  "icon"
                                ]
                              },
                              "token": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  },
                                  "icon": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals",
                                  "icon"
                                ]
                              },
                              "websiteUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "depositApy": {
                                "type": "number"
                              },
                              "baseDepositApy": {
                                "type": "number"
                              },
                              "additionalData": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              "actions": {
                                "type": "object",
                                "properties": {
                                  "deposit": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  },
                                  "withdraw": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  },
                                  "withdrawComplete": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  }
                                }
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "provider",
                              "token",
                              "depositApy",
                              "actions"
                            ]
                          },
                          {
                            "title": "Loop Market",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "const": "loop"
                              },
                              "provider": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "enum": [
                                      "kamino",
                                      "lulo",
                                      "marginfi",
                                      "jupiter"
                                    ]
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "icon": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name",
                                  "icon"
                                ]
                              },
                              "tokenA": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  },
                                  "icon": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals",
                                  "icon"
                                ]
                              },
                              "tokenB": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  },
                                  "icon": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals",
                                  "icon"
                                ]
                              },
                              "websiteUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "depositApy": {
                                "type": "number"
                              },
                              "maxLeverage": {
                                "type": "number"
                              },
                              "additionalData": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              "actions": {
                                "type": "object",
                                "properties": {
                                  "setup": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  },
                                  "deposit": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  },
                                  "withdraw": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  }
                                }
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "provider",
                              "tokenA",
                              "tokenB",
                              "depositApy",
                              "maxLeverage",
                              "actions"
                            ]
                          },
                          {
                            "title": "Perpetual Market",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "const": "perpetual"
                              },
                              "provider": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "enum": [
                                      "kamino",
                                      "lulo",
                                      "marginfi",
                                      "jupiter"
                                    ]
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "icon": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name",
                                  "icon"
                                ]
                              },
                              "tokenA": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  },
                                  "icon": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals",
                                  "icon"
                                ]
                              },
                              "tokenB": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "number"
                                  },
                                  "icon": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "address",
                                  "symbol",
                                  "decimals",
                                  "icon"
                                ]
                              },
                              "websiteUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "liquidity": {
                                "type": "object",
                                "properties": {
                                  "longUsd": {
                                    "type": "number"
                                  },
                                  "shortUsd": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "longUsd",
                                  "shortUsd"
                                ]
                              },
                              "maxLeverage": {
                                "type": "number"
                              },
                              "additionalData": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              "actions": {
                                "type": "object",
                                "properties": {
                                  "setup": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  },
                                  "openPosition": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  },
                                  "closePosition": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  }
                                }
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "provider",
                              "tokenA",
                              "tokenB",
                              "liquidity",
                              "maxLeverage",
                              "actions"
                            ]
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "markets"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/marketsByType": {
      "get": {
        "operationId": "marketsV0Api.listMarketsGroupedByType",
        "summary": "List all markets grouped by type",
        "description": "Returns real-time market data from supported protocols, such as Jupiter, Kamino, MarginFi, Lulo and many more. For more information, please check our [Protocol Support Roadmap](/markets/supported-protocols).",
        "tags": [
          "Markets"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lending": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "const": "lending"
                          },
                          "provider": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "enum": [
                                  "kamino",
                                  "lulo",
                                  "marginfi",
                                  "jupiter"
                                ]
                              },
                              "name": {
                                "type": "string"
                              },
                              "icon": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "icon"
                            ]
                          },
                          "token": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              },
                              "icon": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals",
                              "icon"
                            ]
                          },
                          "websiteUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "depositApy": {
                            "type": "number",
                            "description": "Total APY **including** rewards"
                          },
                          "baseDepositApy": {
                            "type": "number",
                            "description": "APY excluding rewards"
                          },
                          "borrowApy": {
                            "type": "number",
                            "description": "Total APY **including** rewards"
                          },
                          "baseBorrowApy": {
                            "type": "number",
                            "description": "APY excluding rewards"
                          },
                          "totalDeposit": {
                            "type": "number"
                          },
                          "totalDepositUsd": {
                            "type": "number"
                          },
                          "totalBorrow": {
                            "type": "number"
                          },
                          "totalBorrowUsd": {
                            "type": "number"
                          },
                          "maxDeposit": {
                            "type": "number"
                          },
                          "maxBorrow": {
                            "type": "number"
                          },
                          "oraclePrice": {
                            "type": "number"
                          },
                          "rewards": {
                            "type": "array",
                            "items": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "const": "deposit"
                                    },
                                    "apy": {
                                      "type": "number"
                                    },
                                    "token": {
                                      "type": "object",
                                      "properties": {
                                        "address": {
                                          "type": "string"
                                        },
                                        "symbol": {
                                          "type": "string"
                                        },
                                        "decimals": {
                                          "type": "number"
                                        },
                                        "icon": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      },
                                      "required": [
                                        "address",
                                        "symbol",
                                        "decimals",
                                        "icon"
                                      ]
                                    },
                                    "marketAction": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "type",
                                    "apy",
                                    "token",
                                    "marketAction"
                                  ],
                                  "title": "Deposit Reward",
                                  "description": "Reward for depositing"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "const": "borrow"
                                    },
                                    "apy": {
                                      "type": "number"
                                    },
                                    "token": {
                                      "type": "object",
                                      "properties": {
                                        "address": {
                                          "type": "string"
                                        },
                                        "symbol": {
                                          "type": "string"
                                        },
                                        "decimals": {
                                          "type": "number"
                                        },
                                        "icon": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      },
                                      "required": [
                                        "address",
                                        "symbol",
                                        "decimals",
                                        "icon"
                                      ]
                                    },
                                    "marketAction": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "type",
                                    "apy",
                                    "token",
                                    "marketAction"
                                  ],
                                  "title": "Borrow Reward",
                                  "description": "Reward for borrowing"
                                }
                              ]
                            }
                          },
                          "additionalData": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          },
                          "actions": {
                            "type": "object",
                            "properties": {
                              "deposit": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              },
                              "withdraw": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "provider",
                          "token",
                          "depositApy",
                          "baseDepositApy",
                          "borrowApy",
                          "baseBorrowApy",
                          "totalDeposit",
                          "totalBorrow",
                          "maxDeposit",
                          "maxBorrow",
                          "actions"
                        ]
                      }
                    },
                    "yield": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "const": "yield"
                          },
                          "provider": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "enum": [
                                  "kamino",
                                  "lulo",
                                  "marginfi",
                                  "jupiter"
                                ]
                              },
                              "name": {
                                "type": "string"
                              },
                              "icon": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "icon"
                            ]
                          },
                          "token": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              },
                              "icon": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals",
                              "icon"
                            ]
                          },
                          "websiteUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "depositApy": {
                            "type": "number"
                          },
                          "baseDepositApy": {
                            "type": "number"
                          },
                          "additionalData": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          },
                          "actions": {
                            "type": "object",
                            "properties": {
                              "deposit": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              },
                              "withdraw": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              },
                              "withdrawComplete": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "provider",
                          "token",
                          "depositApy",
                          "baseDepositApy",
                          "actions"
                        ]
                      }
                    },
                    "loop": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "const": "loop"
                          },
                          "provider": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "enum": [
                                  "kamino",
                                  "lulo",
                                  "marginfi",
                                  "jupiter"
                                ]
                              },
                              "name": {
                                "type": "string"
                              },
                              "icon": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "icon"
                            ]
                          },
                          "tokenA": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              },
                              "icon": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals",
                              "icon"
                            ]
                          },
                          "tokenB": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              },
                              "icon": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals",
                              "icon"
                            ]
                          },
                          "websiteUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "depositApy": {
                            "type": "number"
                          },
                          "maxLeverage": {
                            "type": "number"
                          },
                          "additionalData": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          },
                          "actions": {
                            "type": "object",
                            "properties": {
                              "setup": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              },
                              "deposit": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              },
                              "withdraw": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "provider",
                          "tokenA",
                          "tokenB",
                          "depositApy",
                          "maxLeverage",
                          "actions"
                        ]
                      }
                    },
                    "perpetual": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "const": "perpetual"
                          },
                          "provider": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "enum": [
                                  "kamino",
                                  "lulo",
                                  "marginfi",
                                  "jupiter"
                                ]
                              },
                              "name": {
                                "type": "string"
                              },
                              "icon": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "icon"
                            ]
                          },
                          "tokenA": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              },
                              "icon": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals",
                              "icon"
                            ]
                          },
                          "tokenB": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              },
                              "icon": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals",
                              "icon"
                            ]
                          },
                          "websiteUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "liquidity": {
                            "type": "object",
                            "properties": {
                              "longUsd": {
                                "type": "number"
                              },
                              "shortUsd": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "longUsd",
                              "shortUsd"
                            ]
                          },
                          "maxLeverage": {
                            "type": "number"
                          },
                          "additionalData": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          },
                          "actions": {
                            "type": "object",
                            "properties": {
                              "setup": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              },
                              "openPosition": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              },
                              "closePosition": {
                                "type": "object",
                                "properties": {
                                  "blinkUrl": {
                                    "type": "string",
                                    "pattern": "^blink:.*"
                                  }
                                },
                                "required": [
                                  "blinkUrl"
                                ]
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "provider",
                          "tokenA",
                          "tokenB",
                          "liquidity",
                          "maxLeverage",
                          "actions"
                        ]
                      }
                    }
                  },
                  "required": [
                    "lending",
                    "yield",
                    "loop",
                    "perpetual"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/positions/history": {
      "get": {
        "operationId": "positionsV0Api.positionsHistory",
        "summary": "Get historical position snapshots",
        "description": "Fetch position snapshots within a time range for a wallet address",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "name": "walletAddress",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
              "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "startTime",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "x-native-type": "date",
              "description": "Start time of the snapshot. Date or datetime in RFC 3339 format",
              "default": "2025-06-01T00:00:00Z",
              "example": "2025-06-01T00:00:00Z"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "endTime",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "x-native-type": "date",
              "description": "End time of the snapshot. Date or datetime in RFC 3339 format",
              "default": "2025-10-09T23:59:59Z",
              "example": "2025-10-09T23:59:59Z"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "positionIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "deepObject",
            "explode": true,
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "positions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "providerId": {
                                "enum": [
                                  "kamino",
                                  "lulo",
                                  "marginfi",
                                  "jupiter"
                                ]
                              },
                              "type": {
                                "enum": [
                                  "lending",
                                  "yield"
                                ]
                              },
                              "marketId": {
                                "type": "string"
                              },
                              "history": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "timestamp": {
                                      "type": "string",
                                      "format": "date-time",
                                      "x-native-type": "date"
                                    },
                                    "amount": {
                                      "type": "number"
                                    },
                                    "amountUsd": {
                                      "anyOf": [
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    }
                                  },
                                  "required": [
                                    "timestamp",
                                    "amount",
                                    "amountUsd"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "id",
                              "providerId",
                              "type",
                              "marketId",
                              "history"
                            ]
                          }
                        }
                      },
                      "required": [
                        "positions"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/positions/owners": {
      "get": {
        "operationId": "positionsV0Api.positionsByOwners",
        "summary": "List all market positions by wallet address",
        "description": "Returns position data for supported protocols, such as Jupiter, Kamino, MarginFi, Lulo and many more. For more information, please check our [Protocol Support Roadmap](/markets/supported-protocols).",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "name": "walletAddresses",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Comma separated list of owner addresses. Currently only supports one address.",
              "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
              "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "bundleIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Comma separated list of bundle IDs. Currently only supports one bundle ID."
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "positions": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "title": "Lending Position with Market",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "const": "lending"
                              },
                              "marketId": {
                                "type": "string"
                              },
                              "ownerAddress": {
                                "type": "string"
                              },
                              "bundleId": {
                                "type": "string",
                                "description": "Identifier for positions bundled into one logical structure, such as position or market"
                              },
                              "side": {
                                "enum": [
                                  "deposit",
                                  "borrow"
                                ]
                              },
                              "amount": {
                                "type": "number"
                              },
                              "amountUsd": {
                                "type": "number"
                              },
                              "ltv": {
                                "type": "number",
                                "minimum": 0,
                                "maximum": 100,
                                "description": "Current Loan-to-Value of the position, expressed as a percentage ratio of deposited value"
                              },
                              "liquidationPrice": {
                                "type": "number",
                                "description": "Deposited token price expressed in borrowed token units at which the position becomes liquidatable"
                              },
                              "rewards": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "tokenAddress": {
                                      "type": "string"
                                    },
                                    "amount": {
                                      "type": "number"
                                    },
                                    "amountUsd": {
                                      "type": "number"
                                    }
                                  },
                                  "required": [
                                    "tokenAddress",
                                    "amount"
                                  ]
                                }
                              },
                              "additionalData": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              "actions": {
                                "type": "object",
                                "properties": {
                                  "deposit": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  },
                                  "withdraw": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  },
                                  "borrow": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  },
                                  "repay": {
                                    "type": "object",
                                    "properties": {
                                      "blinkUrl": {
                                        "type": "string",
                                        "pattern": "^blink:.*"
                                      }
                                    },
                                    "required": [
                                      "blinkUrl"
                                    ]
                                  }
                                }
                              },
                              "market": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "const": "lending"
                                  },
                                  "provider": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "enum": [
                                          "kamino",
                                          "lulo",
                                          "marginfi",
                                          "jupiter"
                                        ]
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "icon": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "name",
                                      "icon"
                                    ]
                                  },
                                  "token": {
                                    "type": "object",
                                    "properties": {
                                      "address": {
                                        "type": "string"
                                      },
                                      "symbol": {
                                        "type": "string"
                                      },
                                      "decimals": {
                                        "type": "number"
                                      },
                                      "icon": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "address",
                                      "symbol",
                                      "decimals",
                                      "icon"
                                    ]
                                  },
                                  "websiteUrl": {
                                    "type": "string",
                                    "format": "uri"
                                  },
                                  "depositApy": {
                                    "type": "number",
                                    "description": "Total APY **including** rewards"
                                  },
                                  "baseDepositApy": {
                                    "type": "number",
                                    "description": "APY excluding rewards"
                                  },
                                  "borrowApy": {
                                    "type": "number",
                                    "description": "Total APY **including** rewards"
                                  },
                                  "baseBorrowApy": {
                                    "type": "number",
                                    "description": "APY excluding rewards"
                                  },
                                  "totalDeposit": {
                                    "type": "number"
                                  },
                                  "totalDepositUsd": {
                                    "type": "number"
                                  },
                                  "totalBorrow": {
                                    "type": "number"
                                  },
                                  "totalBorrowUsd": {
                                    "type": "number"
                                  },
                                  "maxDeposit": {
                                    "type": "number"
                                  },
                                  "maxBorrow": {
                                    "type": "number"
                                  },
                                  "maxLtv": {
                                    "type": "number",
                                    "minimum": 0,
                                    "maximum": 100,
                                    "description": "Maximum Loan-to-Value allowed when borrowing, expressed as a percentage of deposited value"
                                  },
                                  "liquidationLtv": {
                                    "type": "number",
                                    "minimum": 0,
                                    "maximum": 100,
                                    "description": "Loan-to-Value percentage ratio of deposited value at which the position becomes liquidatable"
                                  },
                                  "liquidationPenalty": {
                                    "type": "number",
                                    "minimum": 0,
                                    "maximum": 100,
                                    "description": "Percentage ratio of deposited value taken as a penalty and given to liquidators when position is liquidated"
                                  },
                                  "oraclePrice": {
                                    "type": "number"
                                  },
                                  "rewards": {
                                    "type": "array",
                                    "items": {
                                      "anyOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "const": "deposit"
                                            },
                                            "apy": {
                                              "type": "number"
                                            },
                                            "token": {
                                              "type": "object",
                                              "properties": {
                                                "address": {
                                                  "type": "string"
                                                },
                                                "symbol": {
                                                  "type": "string"
                                                },
                                                "decimals": {
                                                  "type": "number"
                                                },
                                                "icon": {
                                                  "anyOf": [
                                                    {
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                }
                                              },
                                              "required": [
                                                "address",
                                                "symbol",
                                                "decimals",
                                                "icon"
                                              ]
                                            },
                                            "marketAction": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "apy",
                                            "token",
                                            "marketAction"
                                          ],
                                          "title": "Deposit Reward",
                                          "description": "Reward for depositing"
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "const": "borrow"
                                            },
                                            "apy": {
                                              "type": "number"
                                            },
                                            "token": {
                                              "type": "object",
                                              "properties": {
                                                "address": {
                                                  "type": "string"
                                                },
                                                "symbol": {
                                                  "type": "string"
                                                },
                                                "decimals": {
                                                  "type": "number"
                                                },
                                                "icon": {
                                                  "anyOf": [
                                                    {
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "null"
                                                    }
                                                  ]
                                                }
                                              },
                                              "required": [
                                                "address",
                                                "symbol",
                                                "decimals",
                                                "icon"
                                              ]
                                            },
                                            "marketAction": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "apy",
                                            "token",
                                            "marketAction"
                                          ],
                                          "title": "Borrow Reward",
                                          "description": "Reward for borrowing"
                                        }
                                      ]
                                    }
                                  },
                                  "additionalData": {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string"
                                    },
                                    "additionalProperties": {}
                                  },
                                  "actions": {
                                    "type": "object",
                                    "properties": {
                                      "deposit": {
                                        "type": "object",
                                        "properties": {
                                          "blinkUrl": {
                                            "type": "string",
                                            "pattern": "^blink:.*"
                                          }
                                        },
                                        "required": [
                                          "blinkUrl"
                                        ]
                                      },
                                      "withdraw": {
                                        "type": "object",
                                        "properties": {
                                          "blinkUrl": {
                                            "type": "string",
                                            "pattern": "^blink:.*"
                                          }
                                        },
                                        "required": [
                                          "blinkUrl"
                                        ]
                                      },
                                      "claimRewards": {
                                        "type": "object",
                                        "properties": {
                                          "blinkUrl": {
                                            "type": "string",
                                            "pattern": "^blink:.*"
                                          }
                                        },
                                        "required": [
                                          "blinkUrl"
                                        ]
                                      }
                                    }
                                  }
                                },
                                "required": [
                                  "id",
                                  "type",
                                  "provider",
                                  "token",
                                  "depositApy",
                                  "baseDepositApy",
                                  "borrowApy",
                                  "baseBorrowApy",
                                  "totalDeposit",
                                  "totalBorrow",
                                  "maxDeposit",
                                  "maxBorrow",
                                  "actions"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "marketId",
                              "ownerAddress",
                              "side",
                              "amount",
                              "market"
                            ]
                          },
                          {
                            "title": "Yield Position with Market",
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "const": "yield"
                              },
                              "marketId": {
                                "type": "string"
                              },
                              "ownerAddress": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "number"
                              },
                              "amountUsd": {
                                "type": "number"
                              },
                              "rewards": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "tokenAddress": {
                                      "type": "string"
                                    },
                                    "amount": {
                                      "type": "number"
                                    },
                                    "amountUsd": {
                                      "type": "number"
                                    }
                                  },
                                  "required": [
                                    "tokenAddress",
                                    "amount"
                                  ]
                                }
                              },
                              "additionalData": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              "market": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "const": "yield"
                                  },
                                  "provider": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
[...]
