{
  "info": {
    "title": "Meteora Blinks",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://meteora.dial.to/api"
    }
  ],
  "openapi": "3.1.1",
  "paths": {
    "/v0/bonding-curve/launch-token": {
      "get": {
        "operationId": "meteora.v0.bondingCurve.getLaunchTokenBlink",
        "summary": "Launch Token",
        "description": "Get a blink for launching a token on Meteora Dynamic Bonding Curve",
        "tags": [
          "DBC"
        ],
        "parameters": [
          {
            "name": "configAddress",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Pool configuration address",
              "default": "5r9i4RV1h7fRkJch76H54nbVMtBgur8HQPikmMGyvL2o"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/meteora/dbc/launch-token-get"
        }
      },
      "post": {
        "operationId": "meteora.v0.bondingCurve.launchToken",
        "summary": "Launch Token",
        "description": "Launch a token on Meteora Dynamic Bonding Curve",
        "tags": [
          "DBC"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Token name",
              "default": "My Token"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 10,
              "description": "Token symbol",
              "default": "TOKEN"
            }
          },
          {
            "name": "imageUri",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "uri",
              "description": "Token image URI",
              "default": "https://example.com/token.png"
            }
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Token description",
              "default": "A new token on Meteora"
            }
          },
          {
            "name": "configAddress",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Pool configuration address",
              "default": "5r9i4RV1h7fRkJch76H54nbVMtBgur8HQPikmMGyvL2o"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "const": "post"
                            },
                            "href": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "href"
                          ]
                        }
                      },
                      "required": [
                        "next"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/meteora/dbc/launch-token-post"
        }
      }
    },
    "/v0/bonding-curve/success": {
      "post": {
        "operationId": "meteora.v0.bondingCurve.getLaunchTokenSuccessBlink",
        "summary": "Launch Success",
        "description": "Action-chained endpoint called automatically after a successful Launch Token transaction. The previous response provides a `links.next.href` containing the mint, ticker, and name as query params. Returns a success blink with a link to trade the newly launched token.",
        "tags": [
          "DBC"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mint": {
                    "type": "string",
                    "description": "Token mint address (provided by the Launch Token response via action chaining)",
                    "default": "5EFQN3ffHAtfF8mqT6LP1oS92SdTQ63GNGq1SpJiS8sw"
                  },
                  "ticker": {
                    "type": "string",
                    "description": "Token ticker/symbol",
                    "default": "TOKEN"
                  },
                  "name": {
                    "type": "string",
                    "description": "Token name",
                    "default": "My Token"
                  }
                },
                "required": [
                  "mint",
                  "ticker",
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "post"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "inline-link"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "icon",
                    "title",
                    "description",
                    "label",
                    "links"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/dlmm/{dlmmPool}/add-liquidity": {
      "get": {
        "operationId": "meteora.v0.dlmm.getAddLiquidityBlink",
        "summary": "Add Liquidity",
        "description": "Get a blink for adding liquidity to a DLMM pool",
        "tags": [
          "DLMM"
        ],
        "parameters": [
          {
            "name": "dlmmPool",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "DLMM pool address",
              "default": "BGm1tav58oGcsQJehL9WXBFXF7D27vZsKefj4xJKD5Y"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/meteora/dlmm/add-liquidity-get"
        }
      },
      "post": {
        "operationId": "meteora.v0.dlmm.addLiquidityToDlmm",
        "summary": "Add Liquidity",
        "description": "Add liquidity to a DLMM pool",
        "tags": [
          "DLMM"
        ],
        "parameters": [
          {
            "name": "dlmmPool",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "DLMM pool address",
              "default": "BGm1tav58oGcsQJehL9WXBFXF7D27vZsKefj4xJKD5Y"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount of tokenX to add",
              "default": 0.01
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/meteora/dlmm/add-liquidity-post"
        }
      }
    },
    "/v0/dlmm/{dlmmPool}/remove-liquidity": {
      "get": {
        "operationId": "meteora.v0.dlmm.getRemoveLiquidityBlink",
        "summary": "Remove Liquidity",
        "description": "Get a blink for removing liquidity from a DLMM pool",
        "tags": [
          "DLMM"
        ],
        "parameters": [
          {
            "name": "dlmmPool",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "DLMM pool address",
              "default": "BGm1tav58oGcsQJehL9WXBFXF7D27vZsKefj4xJKD5Y"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/meteora/dlmm/remove-liquidity-get"
        }
      },
      "post": {
        "operationId": "meteora.v0.dlmm.removeLiquidityFromDlmm",
        "summary": "Remove Liquidity",
        "description": "Remove liquidity from a DLMM pool",
        "tags": [
          "DLMM"
        ],
        "parameters": [
          {
            "name": "dlmmPool",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "DLMM pool address",
              "default": "BGm1tav58oGcsQJehL9WXBFXF7D27vZsKefj4xJKD5Y"
            }
          },
          {
            "name": "percentage",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of liquidity to remove (0-100)",
              "default": 10
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/meteora/dlmm/remove-liquidity-post"
        }
      }
    }
  },
  "x-mcp": {
    "enabled": true
  }
}
