{
  "openapi": "3.1.1",
  "x-mcp": {
    "enabled": true
  },
  "info": {
    "title": "Meteora Blinks",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://meteora.dial.to/api"
    }
  ],
  "paths": {
    "/v0/bonding-curve/launch-token": {
      "get": {
        "operationId": "v0.bondingCurve.getLaunchTokenBlink",
        "summary": "DBC Launch Token",
        "description": "Get metadata for launching a token with Meteora's Dynamic Bonding Curve program.",
        "tags": [
          "DBC"
        ],
        "parameters": [
          {
            "name": "configAddress",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Pool configuration address",
              "default": "5r9i4RV1h7fRkJch76H54nbVMtBgur8HQPikmMGyvL2o",
              "example": "5r9i4RV1h7fRkJch76H54nbVMtBgur8HQPikmMGyvL2o"
            },
            "example": "5r9i4RV1h7fRkJch76H54nbVMtBgur8HQPikmMGyvL2o",
            "x-default": "5r9i4RV1h7fRkJch76H54nbVMtBgur8HQPikmMGyvL2o"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.bondingCurve.launchToken",
        "summary": "DBC Launch Token",
        "description": "Generate a transaction for launching a token with Meteora's Dynamic Bonding Curve program.",
        "tags": [
          "DBC"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Token name",
              "default": "My Token",
              "example": "My Token"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "string",
              "maxLength": 10,
              "description": "Token symbol",
              "default": "TOKEN",
              "example": "TOKEN"
            }
          },
          {
            "name": "imageUri",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "uri",
              "description": "Token image URI",
              "default": "https://example.com/token.png",
              "example": "https://example.com/token.png"
            }
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Token description",
              "default": "A new token on Meteora",
              "example": "A new token on Meteora"
            }
          },
          {
            "name": "configAddress",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Pool configuration address",
              "default": "5r9i4RV1h7fRkJch76H54nbVMtBgur8HQPikmMGyvL2o",
              "example": "5r9i4RV1h7fRkJch76H54nbVMtBgur8HQPikmMGyvL2o"
            },
            "example": "5r9i4RV1h7fRkJch76H54nbVMtBgur8HQPikmMGyvL2o",
            "x-default": "5r9i4RV1h7fRkJch76H54nbVMtBgur8HQPikmMGyvL2o"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["transaction"],
                    "default": "transaction",
                    "example": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "const": "post"
                            },
                            "href": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "href"
                          ]
                        }
                      },
                      "required": [
                        "next"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/dlmm/{dlmmPool}/add-liquidity": {
      "get": {
        "operationId": "v0.dlmm.getAddLiquidityBlink",
        "summary": "DLMM Add Liquidity",
        "description": "Get metadata for adding liquidity into Meteora's DLMM.",
        "tags": [
          "DLMM"
        ],
        "parameters": [
          {
            "name": "dlmmPool",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "DLMM pool address",
              "default": "BGm1tav58oGcsQJehL9WXBFXF7D27vZsKefj4xJKD5Y",
              "example": "BGm1tav58oGcsQJehL9WXBFXF7D27vZsKefj4xJKD5Y"
            },
            "example": "BGm1tav58oGcsQJehL9WXBFXF7D27vZsKefj4xJKD5Y",
            "x-default": "BGm1tav58oGcsQJehL9WXBFXF7D27vZsKefj4xJKD5Y"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.dlmm.addLiquidityToDlmm",
        "summary": "DLMM Add Liquidity",
        "description": "Generate a transaction for adding liquidity into Meteora's DLMM.",
        "tags": [
          "DLMM"
        ],
        "parameters": [
          {
            "name": "dlmmPool",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "DLMM pool address",
              "default": "BGm1tav58oGcsQJehL9WXBFXF7D27vZsKefj4xJKD5Y",
              "example": "BGm1tav58oGcsQJehL9WXBFXF7D27vZsKefj4xJKD5Y"
            },
            "example": "BGm1tav58oGcsQJehL9WXBFXF7D27vZsKefj4xJKD5Y",
            "x-default": "BGm1tav58oGcsQJehL9WXBFXF7D27vZsKefj4xJKD5Y"
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount of tokenX to add",
              "default": 100,
              "example": 100
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["transaction"],
                    "default": "transaction",
                    "example": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/dlmm/{dlmmPool}/remove-liquidity": {
      "get": {
        "operationId": "v0.dlmm.getRemoveLiquidityBlink",
        "summary": "DLMM Remove Liquidity",
        "description": "Get metadata for removing liquidity from Meteora's DLMM.",
        "tags": [
          "DLMM"
        ],
        "parameters": [
          {
            "name": "dlmmPool",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "DLMM pool address",
              "default": "BGm1tav58oGcsQJehL9WXBFXF7D27vZsKefj4xJKD5Y",
              "example": "BGm1tav58oGcsQJehL9WXBFXF7D27vZsKefj4xJKD5Y"
            },
            "example": "BGm1tav58oGcsQJehL9WXBFXF7D27vZsKefj4xJKD5Y",
            "x-default": "BGm1tav58oGcsQJehL9WXBFXF7D27vZsKefj4xJKD5Y"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.dlmm.removeLiquidityFromDlmm",
        "summary": "DLMM Remove Liquidity",
        "description": "Generate a transaction for removing liquidity from Meteora's DLMM.",
        "tags": [
          "DLMM"
        ],
        "parameters": [
          {
            "name": "dlmmPool",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "DLMM pool address",
              "default": "BGm1tav58oGcsQJehL9WXBFXF7D27vZsKefj4xJKD5Y",
              "example": "BGm1tav58oGcsQJehL9WXBFXF7D27vZsKefj4xJKD5Y"
            },
            "example": "BGm1tav58oGcsQJehL9WXBFXF7D27vZsKefj4xJKD5Y",
            "x-default": "BGm1tav58oGcsQJehL9WXBFXF7D27vZsKefj4xJKD5Y"
          },
          {
            "name": "percentage",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of liquidity to remove (0-100)",
              "default": 50,
              "example": 50
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["transaction"],
                    "default": "transaction",
                    "example": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}