{
  "info": {
    "title": "Orca Blinks API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://orca.dial.to/api"
    }
  ],
  "openapi": "3.1.1",
  "paths": {
    "/v0/pools/{tokenA}/{tokenB}/open-position": {
      "get": {
        "operationId": "orca.v0.pools.getOpenPositionBlink",
        "summary": "Open Position",
        "description": "Get a blink for opening a position",
        "tags": [
          "Pools"
        ],
        "parameters": [
          {
            "name": "tokenA",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token A address",
              "default": "So11111111111111111111111111111111111111112"
            }
          },
          {
            "name": "tokenB",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token B address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/orca/pools/open-position-get"
        }
      },
      "post": {
        "operationId": "orca.v0.pools.openPosition",
        "summary": "Open Position",
        "description": "Open position. If lowerPrice and upperPrice are provided, open a position with a specific price range. If not, open a full range position.",
        "tags": [
          "Pools"
        ],
        "parameters": [
          {
            "name": "tokenA",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The token A address",
              "default": "So11111111111111111111111111111111111111112"
            }
          },
          {
            "name": "tokenB",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The token B address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "The amount to deposit. Human readable value, e.g. 100 USDC"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "percentage",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": -9007199254740991,
              "maximum": 100,
              "exclusiveMinimum": 0,
              "description": "The percentage of token amount to deposit",
              "default": 25
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "lowerPrice",
            "in": "query",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "The lower price of the position"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "upperPrice",
            "in": "query",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "The upper price of the position"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/orca/pools/open-position-post"
        }
      }
    },
    "/v0/pools/positions/{positionAddress}/add-liquidity": {
      "get": {
        "operationId": "orca.v0.pools.getAddLiquidityBlink",
        "summary": "Add Liquidity",
        "description": "Get a blink for adding liquidity to a position",
        "tags": [
          "Pools"
        ],
        "parameters": [
          {
            "name": "positionAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The position address",
              "default": "3D2aguLHQ2r77Si6A7z3MhLY24g7ioj7LQQ7CPPuCuVo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/orca/pools/add-liquidity-get"
        }
      },
      "post": {
        "operationId": "orca.v0.pools.addLiquidity",
        "summary": "Add Liquidity",
        "description": "Add liquidity to a position.",
        "tags": [
          "Pools"
        ],
        "parameters": [
          {
            "name": "positionAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The position address",
              "default": "3D2aguLHQ2r77Si6A7z3MhLY24g7ioj7LQQ7CPPuCuVo"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "The amount to add. Human readable value, e.g. 100 USDC"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "percentage",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": -9007199254740991,
              "maximum": 100,
              "exclusiveMinimum": 0,
              "description": "The percentage of token amount to add",
              "default": 25
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/orca/pools/add-liquidity-post"
        }
      }
    },
    "/v0/pools/positions/{positionAddress}/remove-liquidity": {
      "get": {
        "operationId": "orca.v0.pools.getRemoveLiquidityBlink",
        "summary": "Remove Liquidity",
        "description": "Get a blink for removing liquidity from a position",
        "tags": [
          "Pools"
        ],
        "parameters": [
          {
            "name": "positionAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The position address",
              "default": "3D2aguLHQ2r77Si6A7z3MhLY24g7ioj7LQQ7CPPuCuVo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/orca/pools/remove-liquidity-get"
        }
      },
      "post": {
        "operationId": "orca.v0.pools.removeLiquidity",
        "summary": "Remove Liquidity",
        "description": "Remove liquidity from a position.",
        "tags": [
          "Pools"
        ],
        "parameters": [
          {
            "name": "positionAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The position address",
              "default": "3D2aguLHQ2r77Si6A7z3MhLY24g7ioj7LQQ7CPPuCuVo"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "The amount to remove. Human readable value, e.g. 100 USDC"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "percentage",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": -9007199254740991,
              "maximum": 100,
              "exclusiveMinimum": 0,
              "description": "The percentage of position liquidity to remove",
              "default": 25
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/orca/pools/remove-liquidity-post"
        }
      }
    },
    "/v0/pools/positions/{positionAddress}/close-position": {
      "get": {
        "operationId": "orca.v0.pools.getClosePositionBlink",
        "summary": "Close Position",
        "description": "Get a blink for closing a position",
        "tags": [
          "Pools"
        ],
        "parameters": [
          {
            "name": "positionAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The position address",
              "default": "3D2aguLHQ2r77Si6A7z3MhLY24g7ioj7LQQ7CPPuCuVo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/orca/pools/close-position-get"
        }
      },
      "post": {
        "operationId": "orca.v0.pools.closePosition",
        "summary": "Close Position",
        "description": "Close a position and withdraw all liquidity.",
        "tags": [
          "Pools"
        ],
        "parameters": [
          {
            "name": "positionAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The position address",
              "default": "3D2aguLHQ2r77Si6A7z3MhLY24g7ioj7LQQ7CPPuCuVo"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/orca/pools/close-position-post"
        }
      }
    }
  },
  "x-mcp": {
    "enabled": true
  }
}
