{
  "openapi": "3.1.1",
  "x-mcp": {
    "enabled": true
  },
  "info": {
    "title": "Orca Blinks",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://orca.dial.to/api"
    }
  ],
  "paths": {
    "/v0/pools/{tokenA}/{tokenB}/open-position": {
      "get": {
        "operationId": "v0.pools.getOpenPositionBlink",
        "summary": "Pools Open Position",
        "description": "Get metadata for opening a position in an Orca's Pool.",
        "tags": [
          "Pools"
        ],
        "parameters": [
          {
            "name": "tokenA",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token A address",
              "default": "So11111111111111111111111111111111111111112",
              "x-example": "So11111111111111111111111111111111111111112"
            },
            "example": "So11111111111111111111111111111111111111112",
            "x-default": "So11111111111111111111111111111111111111112"
          },
          {
            "name": "tokenB",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token B address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "x-example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "x-default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.pools.openPosition",
        "summary": "Pools Open Position",
        "description": "Generate a transaction for opening a position in an Orca's Pool. If lower and upper prices are provided, it will open a position with a specific price range. Otherwise, it will open a full range position.",
        "tags": [
          "Pools"
        ],
        "parameters": [
          {
            "name": "tokenA",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The token A address",
              "default": "So11111111111111111111111111111111111111112",
              "x-example": "So11111111111111111111111111111111111111112"
            },
            "example": "So11111111111111111111111111111111111111112",
            "x-default": "So11111111111111111111111111111111111111112"
          },
          {
            "name": "tokenB",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The token B address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "x-example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "x-default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "The amount to deposit. Human readable value, e.g. 100 USDC",
              "default": 100,
              "example": 100
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "percentage",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": -9007199254740991,
              "maximum": 100,
              "exclusiveMinimum": 0,
              "description": "The percentage of token amount to deposit"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "lowerPrice",
            "in": "query",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "The lower price of the position"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "upperPrice",
            "in": "query",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "The upper price of the position"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction",
                    "example": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/pools/{tokenA}/{tokenB}/add-liquidity": {
      "get": {
        "operationId": "v0.pools.getAddLiquidityBlink",
        "summary": "Pools Add Liquidity",
        "description": "Get metadata for adding liquidity into an Orca's Pool.",
        "tags": [
          "Pools"
        ],
        "parameters": [
          {
            "name": "tokenA",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token A address",
              "default": "So11111111111111111111111111111111111111112",
              "x-example": "So11111111111111111111111111111111111111112"
            },
            "example": "So11111111111111111111111111111111111111112",
            "x-default": "So11111111111111111111111111111111111111112"
          },
          {
            "name": "tokenB",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token B address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "x-example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "x-default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          },
          {
            "name": "positionAddress",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The position address. If not provided, the first found position in the pool will be used.",
              "default": "5tvCtzYWEiB4j3zunXoZmCn6DsviNeibt1MRZrCDXnKH",
              "example": "5tvCtzYWEiB4j3zunXoZmCn6DsviNeibt1MRZrCDXnKH"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.pools.addLiquidity",
        "summary": "Pools Add Liquidity",
        "description": "Generate a transaction for adding liquidity into an Orca's Pool.",
        "tags": [
          "Pools"
        ],
        "parameters": [
          {
            "name": "tokenA",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The token A address",
              "default": "So11111111111111111111111111111111111111112",
              "x-example": "So11111111111111111111111111111111111111112"
            },
            "example": "So11111111111111111111111111111111111111112",
            "x-default": "So11111111111111111111111111111111111111112"
          },
          {
            "name": "tokenB",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The token B address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "x-example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "x-default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "The amount to add. Human readable value, e.g. 100 USDC",
              "default": 100,
              "example": 100
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "percentage",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": -9007199254740991,
              "maximum": 100,
              "exclusiveMinimum": 0,
              "description": "The percentage of token amount to add"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "positionAddress",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "The position address. If not provided, the first found position in the pool will be used.",
              "default": "5tvCtzYWEiB4j3zunXoZmCn6DsviNeibt1MRZrCDXnKH",
              "example": "5tvCtzYWEiB4j3zunXoZmCn6DsviNeibt1MRZrCDXnKH"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction",
                    "example": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/pools/{tokenA}/{tokenB}/remove-liquidity": {
      "get": {
        "operationId": "v0.pools.getRemoveLiquidityBlink",
        "summary": "Pools Remove Liquidity",
        "description": "Get metadata for removing liquidity from an Orca's Pool.",
        "tags": [
          "Pools"
        ],
        "parameters": [
          {
            "name": "tokenA",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token A address",
              "default": "So11111111111111111111111111111111111111112",
              "x-example": "So11111111111111111111111111111111111111112"
            },
            "example": "So11111111111111111111111111111111111111112",
            "x-default": "So11111111111111111111111111111111111111112"
          },
          {
            "name": "tokenB",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token B address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "x-example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "x-default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          },
          {
            "name": "positionAddress",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The position address. If not provided, the first found position in the pool will be used.",
              "default": "5tvCtzYWEiB4j3zunXoZmCn6DsviNeibt1MRZrCDXnKH",
              "example": "5tvCtzYWEiB4j3zunXoZmCn6DsviNeibt1MRZrCDXnKH"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.pools.removeLiquidity",
        "summary": "Pools Remove Liquidity",
        "description": "Generate a transaction for removing liquidity from an Orca's Pool.",
        "tags": [
          "Pools"
        ],
        "parameters": [
          {
            "name": "tokenA",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The token A address",
              "default": "So11111111111111111111111111111111111111112",
              "x-example": "So11111111111111111111111111111111111111112"
            },
            "example": "So11111111111111111111111111111111111111112",
            "x-default": "So11111111111111111111111111111111111111112"
          },
          {
            "name": "tokenB",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The token B address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "x-example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "x-default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0,
              "description": "The amount to remove. Human readable value, e.g. 100 USDC",
              "default": 100,
              "example": 100
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "percentage",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": -9007199254740991,
              "maximum": 100,
              "exclusiveMinimum": 0,
              "description": "The percentage of position liquidity to remove"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "positionAddress",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "The position address. If not provided, the first found position in the pool will be used.",
              "default": "5tvCtzYWEiB4j3zunXoZmCn6DsviNeibt1MRZrCDXnKH",
              "example": "5tvCtzYWEiB4j3zunXoZmCn6DsviNeibt1MRZrCDXnKH"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction",
                    "example": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/pools/{tokenA}/{tokenB}/close-position": {
      "get": {
        "operationId": "v0.pools.getClosePositionBlink",
        "summary": "Pools Close Position",
        "description": "Get metadata for closing a position and withdrawing all liquidity from an Orca's Pool.",
        "tags": [
          "Pools"
        ],
        "parameters": [
          {
            "name": "tokenA",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token A address",
              "default": "So11111111111111111111111111111111111111112",
              "x-example": "So11111111111111111111111111111111111111112"
            },
            "example": "So11111111111111111111111111111111111111112",
            "x-default": "So11111111111111111111111111111111111111112"
          },
          {
            "name": "tokenB",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Token B address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "x-example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "x-default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          },
          {
            "name": "positionAddress",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The position address. If not provided, the first found position in the pool will be used.",
              "default": "5tvCtzYWEiB4j3zunXoZmCn6DsviNeibt1MRZrCDXnKH",
              "example": "5tvCtzYWEiB4j3zunXoZmCn6DsviNeibt1MRZrCDXnKH"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.pools.closePosition",
        "summary": "Pools Close Position",
        "description": "Generate a transaction for closing a position and withdrawing all liquidity from an Orca's Pool.",
        "tags": [
          "Pools"
        ],
        "parameters": [
          {
            "name": "tokenA",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The token A address",
              "default": "So11111111111111111111111111111111111111112",
              "x-example": "So11111111111111111111111111111111111111112"
            },
            "example": "So11111111111111111111111111111111111111112",
            "x-default": "So11111111111111111111111111111111111111112"
          },
          {
            "name": "tokenB",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The token B address",
              "default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
              "x-example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            },
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
            "x-default": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          },
          {
            "name": "positionAddress",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "The position address. If not provided, the first found position in the pool will be used.",
              "default": "5tvCtzYWEiB4j3zunXoZmCn6DsviNeibt1MRZrCDXnKH",
              "example": "5tvCtzYWEiB4j3zunXoZmCn6DsviNeibt1MRZrCDXnKH"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction",
                    "example": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}