{
  "openapi": "3.1.1",
  "x-mcp": {
    "enabled": true
  },
  "info": {
    "title": "Raydium Blinks API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://raydium.dial.to/api"
    }
  ],
  "paths": {
    "/v0/clmm/{poolId}/add-liquidity": {
      "get": {
        "operationId": "v0.clmm.addLiquidityGetBlink",
        "summary": "CLMM Add Liquidity",
        "description": "Get metadata for adding liquidity into Raydium's CLMM.",
        "tags": [
          "CLMM"
        ],
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The raydium Concentrated Liquidity Pool ID",
              "default": "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj",
              "x-example": "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj",
              "examples": [
                "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj"
              ]
            },
            "example": "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj",
            "x-default": "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "Add Liquidity to Raydium"
                    },
                    "description": {
                      "type": "string",
                      "example": "Add liquidity to earn fees and rewards"
                    },
                    "label": {
                      "type": "string",
                      "example": "Add Liquidity"
                    },
                    "icon": {
                      "type": "string",
                      "example": "https://raydium.dial.to/icon.png"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction",
                                "example": "transaction"
                              },
                              "href": {
                                "type": "string",
                                "example": "/v0/clmm/8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj/add-liquidity"
                              },
                              "label": {
                                "type": "string",
                                "example": "Add Liquidity"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "example": "amount"
                                    },
                                    "type": {
                                      "type": "string",
                                      "example": "number"
                                    },
                                    "label": {
                                      "type": "string",
                                      "example": "Amount"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.clmm.addLiquidity",
        "summary": "CLMM Add Liquidity",
        "description": "Generate a transaction for adding liquidity into Raydium's CLMM.",
        "tags": [
          "CLMM"
        ],
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The raydium Concentrated Liquidity Pool ID",
              "default": "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj",
              "x-example": "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj",
              "examples": [
                "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj"
              ]
            },
            "example": "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj",
            "x-default": "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj"
          },
          {
            "name": "amount",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount of liquidity to add. Human readable value, e.g. 0.1 SOL"
            }
          },
          {
            "name": "percentage",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of liquidity to add",
              "default": 10,
              "example": 10
            }
          },
          {
            "name": "positionAddress",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The address of the position to add liquidity to. If not provided, first available position will be used.",
              "example": "9aYp9rT7wD6H8HCFpXgJGfHdmVfLJVKzZgRxvQcDfGHj"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["transaction"],
                    "default": "transaction",
                    "example": "transaction",
                    "examples": [
                      "transaction"
                    ]
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "examples": [
                      "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                    ]
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              },
              "examples": {
                "addLiquidity": {
                  "summary": "Add liquidity transaction",
                  "value": {
                    "type": "transaction",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": ["transaction"],
                      "example": "transaction"
                    },
                    "transaction": {
                      "type": "string",
                      "example": "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw931mdvp9vlLgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI8FZAz9nIL9hGE4x5rKjjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAICAgAB"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/clmm/{poolId}/remove-liquidity": {
      "get": {
        "operationId": "v0.clmm.removeLiquidityGetBlink",
        "summary": "CLMM Remove Liquidity",
        "description": "Get metadata for removing liquidity from Raydium's CLMM.",
        "tags": [
          "CLMM"
        ],
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The raydium Concentrated Liquidity Pool ID",
              "default": "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj",
              "x-example": "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj",
              "examples": [
                "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj"
              ]
            },
            "example": "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj",
            "x-default": "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "Add Liquidity to Raydium"
                    },
                    "description": {
                      "type": "string",
                      "example": "Add liquidity to earn fees and rewards"
                    },
                    "label": {
                      "type": "string",
                      "example": "Add Liquidity"
                    },
                    "icon": {
                      "type": "string",
                      "example": "https://raydium.dial.to/icon.png"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction",
                                "example": "transaction"
                              },
                              "href": {
                                "type": "string",
                                "example": "/v0/clmm/8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj/add-liquidity"
                              },
                              "label": {
                                "type": "string",
                                "example": "Add Liquidity"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "example": "amount"
                                    },
                                    "type": {
                                      "type": "string",
                                      "example": "number"
                                    },
                                    "label": {
                                      "type": "string",
                                      "example": "Amount"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.clmm.removeLiquidity",
        "summary": "CLMM Remove Liquidity",
        "description": "Generate a transaction for removing liquidity from Raydium's CLMM.",
        "tags": [
          "CLMM"
        ],
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The raydium Concentrated Liquidity Pool ID",
              "default": "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj",
              "x-example": "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj",
              "examples": [
                "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj"
              ]
            },
            "example": "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj",
            "x-default": "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj"
          },
          {
            "name": "percentage",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of liquidity to remove",
              "default": 10,
              "example": 10,
              "examples": [
                50
              ]
            }
          },
          {
            "name": "positionAddress",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The address of the position to remove liquidity from. If not provided, first available position will be used.",
              "example": "9aYp9rT7wD6H8HCFpXgJGfHdmVfLJVKzZgRxvQcDfGHj"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["transaction"],
                    "default": "transaction",
                    "example": "transaction",
                    "examples": [
                      "transaction"
                    ]
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "examples": [
                      "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                    ]
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              },
              "examples": {
                "addLiquidity": {
                  "summary": "Add liquidity transaction",
                  "value": {
                    "type": "transaction",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": ["transaction"],
                      "example": "transaction"
                    },
                    "transaction": {
                      "type": "string",
                      "example": "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw931mdvp9vlLgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI8FZAz9nIL9hGE4x5rKjjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAICAgAB"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/amm/{poolId}/add-liquidity": {
      "get": {
        "operationId": "v0.amm.addLiquidityGetBlink",
        "summary": "AMM Add Liquidity",
        "description": "Get metadata for adding liquidity into Raydium's AMM.",
        "tags": [
          "AMM"
        ],
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the Standard AMM pool",
              "default": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2",
              "x-example": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2",
              "examples": [
                "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2"
              ]
            },
            "example": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2",
            "x-default": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "Add Liquidity to Raydium"
                    },
                    "description": {
                      "type": "string",
                      "example": "Add liquidity to earn fees and rewards"
                    },
                    "label": {
                      "type": "string",
                      "example": "Add Liquidity"
                    },
                    "icon": {
                      "type": "string",
                      "example": "https://raydium.dial.to/icon.png"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction",
                                "example": "transaction"
                              },
                              "href": {
                                "type": "string",
                                "example": "/v0/clmm/8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj/add-liquidity"
                              },
                              "label": {
                                "type": "string",
                                "example": "Add Liquidity"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "example": "amount"
                                    },
                                    "type": {
                                      "type": "string",
                                      "example": "number"
                                    },
                                    "label": {
                                      "type": "string",
                                      "example": "Amount"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.amm.addLiquidity",
        "summary": "AMM Add Liquidity",
        "description": "Generate a transaction for adding liquidity into Raydium's AMM.",
        "tags": [
          "AMM"
        ],
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the Standard AMM pool",
              "default": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2",
              "x-example": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2",
              "examples": [
                "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2"
              ]
            },
            "example": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2",
            "x-default": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2"
          },
          {
            "name": "percentage",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of liquidity to add",
              "default": 10,
              "example": 10
            }
          },
          {
            "name": "amount",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount of liquidity to add. Human readable value, e.g. 0.1 SOL"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["transaction"],
                    "default": "transaction",
                    "example": "transaction",
                    "examples": [
                      "transaction"
                    ]
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "examples": [
                      "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                    ]
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              },
              "examples": {
                "addLiquidity": {
                  "summary": "Add liquidity transaction",
                  "value": {
                    "type": "transaction",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": ["transaction"],
                      "example": "transaction"
                    },
                    "transaction": {
                      "type": "string",
                      "example": "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw931mdvp9vlLgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI8FZAz9nIL9hGE4x5rKjjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAICAgAB"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/amm/{poolId}/remove-liquidity": {
      "get": {
        "operationId": "v0.amm.removeLiquidityGetBlink",
        "summary": "AMM Remove Liquidity",
        "description": "Get metadata for removing liquidity from Raydium's AMM.",
        "tags": [
          "AMM"
        ],
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the Standard AMM pool",
              "default": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2",
              "x-example": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2",
              "examples": [
                "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2"
              ]
            },
            "example": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2",
            "x-default": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "Add Liquidity to Raydium"
                    },
                    "description": {
                      "type": "string",
                      "example": "Add liquidity to earn fees and rewards"
                    },
                    "label": {
                      "type": "string",
                      "example": "Add Liquidity"
                    },
                    "icon": {
                      "type": "string",
                      "example": "https://raydium.dial.to/icon.png"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction",
                                "example": "transaction"
                              },
                              "href": {
                                "type": "string",
                                "example": "/v0/clmm/8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj/add-liquidity"
                              },
                              "label": {
                                "type": "string",
                                "example": "Add Liquidity"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "example": "amount"
                                    },
                                    "type": {
                                      "type": "string",
                                      "example": "number"
                                    },
                                    "label": {
                                      "type": "string",
                                      "example": "Amount"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.amm.removeLiquidity",
        "summary": "AMM Remove Liquidity",
        "description": "Generate a transaction for removing liquidity from Raydium's AMM.",
        "tags": [
          "AMM"
        ],
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the Standard AMM pool",
              "default": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2",
              "x-example": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2",
              "examples": [
                "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2"
              ]
            },
            "example": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2",
            "x-default": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2"
          },
          {
            "name": "percentage",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of liquidity to remove",
              "default": 10,
              "example": 10
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["transaction"],
                    "default": "transaction",
                    "example": "transaction",
                    "examples": [
                      "transaction"
                    ]
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "examples": [
                      "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                    ]
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              },
              "examples": {
                "addLiquidity": {
                  "summary": "Add liquidity transaction",
                  "value": {
                    "type": "transaction",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": ["transaction"],
                      "example": "transaction"
                    },
                    "transaction": {
                      "type": "string",
                      "example": "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw931mdvp9vlLgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI8FZAz9nIL9hGE4x5rKjjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAICAgAB"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/farm/RAY/stake": {
      "get": {
        "operationId": "v0.farm.stakeRAYGetBlink",
        "summary": "RAY Stake",
        "description": "Get metadata for staking RAY.",
        "tags": [
          "Farm"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "Add Liquidity to Raydium"
                    },
                    "description": {
                      "type": "string",
                      "example": "Add liquidity to earn fees and rewards"
                    },
                    "label": {
                      "type": "string",
                      "example": "Add Liquidity"
                    },
                    "icon": {
                      "type": "string",
                      "example": "https://raydium.dial.to/icon.png"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction",
                                "example": "transaction"
                              },
                              "href": {
                                "type": "string",
                                "example": "/v0/clmm/8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj/add-liquidity"
                              },
                              "label": {
                                "type": "string",
                                "example": "Add Liquidity"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "example": "amount"
                                    },
                                    "type": {
                                      "type": "string",
                                      "example": "number"
                                    },
                                    "label": {
                                      "type": "string",
                                      "example": "Amount"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.farm.stakeRAY",
        "summary": "RAY Stake",
        "description": "Generate a transaction for staking RAY.",
        "tags": [
          "Farm"
        ],
        "parameters": [
          {
            "name": "percentage",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of RAY to stake",
              "default": 10,
              "example": 10
            }
          },
          {
            "name": "amount",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount of RAY to stake. Human readable value, e.g. 0.1 RAY"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["transaction"],
                    "default": "transaction",
                    "example": "transaction",
                    "examples": [
                      "transaction"
                    ]
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "examples": [
                      "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                    ]
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              },
              "examples": {
                "addLiquidity": {
                  "summary": "Add liquidity transaction",
                  "value": {
                    "type": "transaction",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": ["transaction"],
                      "example": "transaction"
                    },
                    "transaction": {
                      "type": "string",
                      "example": "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw931mdvp9vlLgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI8FZAz9nIL9hGE4x5rKjjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAICAgAB"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v0/farm/RAY/unstake": {
      "get": {
        "operationId": "v0.farm.unstakeRAYGetBlink",
        "summary": "RAY Unstake",
        "description": "Get metadata for unstaking RAY.",
        "tags": [
          "Farm"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "Add Liquidity to Raydium"
                    },
                    "description": {
                      "type": "string",
                      "example": "Add liquidity to earn fees and rewards"
                    },
                    "label": {
                      "type": "string",
                      "example": "Add Liquidity"
                    },
                    "icon": {
                      "type": "string",
                      "example": "https://raydium.dial.to/icon.png"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction",
                                "example": "transaction"
                              },
                              "href": {
                                "type": "string",
                                "example": "/v0/clmm/8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj/add-liquidity"
                              },
                              "label": {
                                "type": "string",
                                "example": "Add Liquidity"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "example": "amount"
                                    },
                                    "type": {
                                      "type": "string",
                                      "example": "number"
                                    },
                                    "label": {
                                      "type": "string",
                                      "example": "Amount"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "v0.farm.unstakeRAY",
        "summary": "RAY Unstake",
        "description": "Generate a transaction for unstaking RAY.",
        "tags": [
          "Farm"
        ],
        "parameters": [
          {
            "name": "percentage",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of RAY to unstake",
              "default": 10,
              "example": 10
            }
          },
          {
            "name": "amount",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount of RAY to unstake. Human readable value, e.g. 0.1 RAY"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["transaction"],
                    "default": "transaction",
                    "example": "transaction",
                    "examples": [
                      "transaction"
                    ]
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "example": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176",
                    "examples": [
                      "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                    ]
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              },
              "examples": {
                "addLiquidity": {
                  "summary": "Add liquidity transaction",
                  "value": {
                    "type": "transaction",
                    "account": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": ["transaction"],
                      "example": "transaction"
                    },
                    "transaction": {
                      "type": "string",
                      "example": "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw931mdvp9vlLgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAI8FZAz9nIL9hGE4x5rKjjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAICAgAB"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}