{
  "info": {
    "title": "Raydium Blinks API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://raydium.dial.to/api"
    }
  ],
  "openapi": "3.1.1",
  "paths": {
    "/v0/clmm/{poolId}/add-liquidity": {
      "get": {
        "operationId": "raydium.v0.clmm.addLiquidityGetBlink",
        "summary": "Add Liquidity",
        "description": "Get a blink for adding liquidity to a CLMM pool",
        "tags": [
          "CLMM"
        ],
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The raydium Concentrated Liquidity Pool ID",
              "default": "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/raydium/clmm/add-liquidity-get"
        }
      },
      "post": {
        "operationId": "raydium.v0.clmm.addLiquidity",
        "summary": "Add Liquidity",
        "description": "Add liquidity to a CLMM pool",
        "tags": [
          "CLMM"
        ],
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The raydium Concentrated Liquidity Pool ID",
              "default": "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount of liquidity to add. Human readable value, e.g. 0.1 SOL"
            }
          },
          {
            "name": "percentage",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of liquidity to add",
              "default": 10
            }
          },
          {
            "name": "positionAddress",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The address of the position to add liquidity to. If not provided, first available position will be used."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/raydium/clmm/add-liquidity-post"
        }
      }
    },
    "/v0/clmm/{poolId}/remove-liquidity": {
      "get": {
        "operationId": "raydium.v0.clmm.removeLiquidityGetBlink",
        "summary": "Remove Liquidity",
        "description": "Get a blink for removing liquidity from a CLMM pool",
        "tags": [
          "CLMM"
        ],
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The raydium Concentrated Liquidity Pool ID",
              "default": "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/raydium/clmm/remove-liquidity-get"
        }
      },
      "post": {
        "operationId": "raydium.v0.clmm.removeLiquidity",
        "summary": "Remove Liquidity",
        "description": "Remove liquidity from a CLMM pool",
        "tags": [
          "CLMM"
        ],
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The raydium Concentrated Liquidity Pool ID",
              "default": "8sLbNZoA1cfnvMJLPfp98ZLAnFSYCFApfJKMbiXNLwxj"
            }
          },
          {
            "name": "percentage",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of liquidity to remove",
              "default": 50
            }
          },
          {
            "name": "positionAddress",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The address of the position to remove liquidity from. If not provided, first available position will be used."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/raydium/clmm/remove-liquidity-post"
        }
      }
    },
    "/v0/amm/{poolId}/add-liquidity": {
      "get": {
        "operationId": "raydium.v0.amm.addLiquidityGetBlink",
        "summary": "Add Liquidity",
        "description": "Get a blink for adding liquidity to a Standard AMM pool",
        "tags": [
          "AMM"
        ],
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the Standard AMM pool",
              "default": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/raydium/amm/add-liquidity-get"
        }
      },
      "post": {
        "operationId": "raydium.v0.amm.addLiquidity",
        "summary": "Add Liquidity",
        "description": "Add liquidity to a Standard AMM pool",
        "tags": [
          "AMM"
        ],
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the Standard AMM pool",
              "default": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2"
            }
          },
          {
            "name": "percentage",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of liquidity to add",
              "default": 10
            }
          },
          {
            "name": "amount",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount of liquidity to add. Human readable value, e.g. 0.1 SOL"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/raydium/amm/add-liquidity-post"
        }
      }
    },
    "/v0/amm/{poolId}/remove-liquidity": {
      "get": {
        "operationId": "raydium.v0.amm.removeLiquidityGetBlink",
        "summary": "Remove Liquidity",
        "description": "Get a blink for removing liquidity from a Standard AMM pool",
        "tags": [
          "AMM"
        ],
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the Standard AMM pool",
              "default": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/raydium/amm/remove-liquidity-get"
        }
      },
      "post": {
        "operationId": "raydium.v0.amm.removeLiquidity",
        "summary": "Remove Liquidity",
        "description": "Remove liquidity from a Standard AMM pool",
        "tags": [
          "AMM"
        ],
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ID of the Standard AMM pool",
              "default": "58oQChx4yWmvKdwLLZzBi4ChoCc2fqCUWBkwMihLYQo2"
            }
          },
          {
            "name": "percentage",
            "in": "query",
            "required": true,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of liquidity to remove",
              "default": 50
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/raydium/amm/remove-liquidity-post"
        }
      }
    },
    "/v0/farm/RAY/stake": {
      "get": {
        "operationId": "raydium.v0.farm.stakeRAYGetBlink",
        "summary": "RAY Stake",
        "description": "Stake RAY in Raydium Farm product",
        "tags": [
          "Farm"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/raydium/farm/stake-get"
        }
      },
      "post": {
        "operationId": "raydium.v0.farm.stakeRAY",
        "summary": "RAY Stake",
        "description": "Stake RAY in Raydium Farm product. Either percentage or amount is required.",
        "tags": [
          "Farm"
        ],
        "parameters": [
          {
            "name": "percentage",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of RAY to stake",
              "default": 10
            }
          },
          {
            "name": "amount",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount of RAY to stake. Human readable value, e.g. 0.1 RAY"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/raydium/farm/stake-post"
        }
      }
    },
    "/v0/farm/RAY/unstake": {
      "get": {
        "operationId": "raydium.v0.farm.unstakeRAYGetBlink",
        "summary": "RAY Unstake",
        "description": "Unstake RAY in Raydium Farm product",
        "tags": [
          "Farm"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "icon": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "const": "transaction"
                              },
                              "href": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "type",
                                    "label"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "type",
                              "href",
                              "label"
                            ]
                          }
                        }
                      },
                      "required": [
                        "actions"
                      ]
                    }
                  },
                  "required": [
                    "title",
                    "description",
                    "label",
                    "icon",
                    "links"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/raydium/farm/unstake-get"
        }
      },
      "post": {
        "operationId": "raydium.v0.farm.unstakeRAY",
        "summary": "RAY Unstake",
        "description": "Unstake RAY in Raydium Farm product. Either percentage or amount is required.",
        "tags": [
          "Farm"
        ],
        "parameters": [
          {
            "name": "percentage",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "The percentage of RAY to unstake",
              "default": 10
            }
          },
          {
            "name": "amount",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "The amount of RAY to unstake. Human readable value, e.g. 0.1 RAY"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "transaction"
                    ],
                    "default": "transaction"
                  },
                  "account": {
                    "type": "string",
                    "description": "The public key of the account that executes the transaction",
                    "default": "6JpNV6DK88auwzKVizdeT4Bw3D44sam5GqjcPCJ7y176"
                  }
                },
                "required": [
                  "type",
                  "account"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "const": "transaction"
                    },
                    "transaction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "transaction"
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "api-reference/raydium/farm/unstake-post"
        }
      }
    }
  },
  "x-mcp": {
    "enabled": true
  }
}
